@import "src/scss/variables";

.pf-text-link {
  font: $font-body-bold;
  text-decoration: underline;

  &-green {
    color: #58bd88;
    &:hover {
      color: #009466;
    }
  }

  &-white {
    color: #eeefef;
    &:hover {
      color: #cadcd6;
    }
  }
}
