@import "src/scss/variables";

.pf-text-link {
  font: $font-body-bold;
  text-decoration: underline;

  &-green {
    color: #00c688;
    &:hover {
      color: #009466;
    }
  }

  &-white {
    color: #f8ebdf;
    &:hover {
      color: #8a8a8a;
    }
  }
}
