.message-dropdown {
  position: absolute;

  color: #fff;
  bottom: -5em;
  background: #191b1d;
  border-radius: 4px;
  padding: 1em;
}

.message-dropdown::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #191b1d;
}
