@import "src/scss/mixins";

.portal-modal-container {
  &-mobile-page {
    backdrop-filter: blur(4px);

    left: 0;
    right: 0;
    top: 0;
    bottom: 48px; // bottom-nav-height
    position: fixed;
    padding-top: 48px;
  }

  &-full-screen {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
