.frame-3469 {
  height: 152px;
  left: 24px;
  position: absolute;
  top: 111px;
  width: 561px;
}
.text-84 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 72px;
  width: 563px;
}
