.frame-3695 {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 112px;
  width: 113px;
}
.frame-36952 {
  left: 56px;
  top: 216px;
}
.processing {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
