.frame-3709 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 200px;
  width: 304px;
}
.frame-3710 {
  top: 240px;
}
.frame-3711 {
  top: 281px;
}
.frame-3712 {
  left: 404px;
}
.frame-3713 {
  left: 404px;
  top: 240px;
}
.frame-3714 {
  left: 404px;
  top: 281px;
}
.frame-3715 {
  left: 768px;
}
.frame-3716 {
  left: 768px;
  top: 240px;
}
.frame-3717 {
  left: 768px;
  top: 281px;
}
.span010 {
  color: rgba(137,137,137,1.0);
  line-height: 16px;
}
.span110 {
  color: rgba(248,235,223,1.0);
  line-height: 16px;
}
.text-366 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
