.news-builder-container {
  width: 100%;

  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-actions-container {
  gap: 48px;
  display: flex;
  flex-direction: row;
}

.news-text-field-block-container {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(20, 20, 20, 0.8);
  border: 1px solid rgba(238, 239, 239, 0.1);

  gap: 24px;
  display: flex;
  flex-direction: column;

  .header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h6 {
      color: #676969;
      user-select: none;
    }
  }
}
