.news-builder-container {
  width: 100%;

  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-actions-container {
  gap: 48px;
  display: flex;
  flex-direction: row;
}
