.frame-28213 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}
.text-694 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
