.frame-19813 {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 123px;
}
.my-events {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
