.frame-3174 {
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 560px;
}
.text-353 {
  height: 72px;
  left: calc(50.00% - 82px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 36px);
  width: 166px;
}
