.frame-27972 {
  border-radius: 4px;
  height: 48px;
  left: 384px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 168px;
}
.frame-29852 {
  height: 24px;
  left: 39px;
  position: relative;
  top: 12px;
  width: 91px;
}
.layer-228 {
  height: 24px;
  width: 24px;
}
.pie-chart {
  height: 100%;
  position: relative;
}
.pie-chart-outline {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.reports {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.vector-128 {
  height: 41.67%;
  left: 50.00%;
  position: absolute;
  top: 8.33%;
  width: 41.67%;
}
.vector-216 {
  height: 81.25%;
  left: 8.30%;
  position: absolute;
  top: 10.44%;
  width: 81.25%;
}
.vector15 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
