.group-437 {
  height: 58.33%;
  left: 8.33%;
  position: relative;
  top: 20.83%;
  width: 83.33%;
}
.user-management {
  height: 100%;
}
.user-management2 {
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21.24%;
}
.vector-103 {
  height: 50.00%;
  left: 15.00%;
  position: absolute;
  top: 57.14%;
  width: 70.00%;
}
.vector-115 {
  height: 57.14%;
  left: 30.00%;
  position: absolute;
  top: -7.14%;
  width: 40.00%;
}
.vector-123 {
  height: 50.00%;
  left: 85.00%;
  position: absolute;
  top: 57.14%;
  width: 20.00%;
}
.vector-133 {
  height: 50.00%;
  left: -5.00%;
  position: absolute;
  top: 57.14%;
  width: 20.00%;
}
.vector-143 {
  height: 57.14%;
  left: 70.00%;
  position: absolute;
  top: -7.14%;
  width: 20.00%;
}
.vector-153 {
  height: 57.14%;
  left: 10.00%;
  position: absolute;
  top: -7.14%;
  width: 20.00%;
}
