.frame-28184 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 184px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 184px;
}
.frame-282910 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 1056px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 160px;
  width: 1112px;
}
.frame-3027 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 97.00%;
}
.frame-3027-1 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 87.11%;
}
.frame-3027-2 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}
.frame-3028 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 47.58%;
}
.frame-3028-1 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64.63%;
}
.frame-3028-2 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.frame-3029 {
  border-radius: 4px;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1032px;
}
.frame-3031 {
  height: 264px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-3032 {
  height: 536px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 1112px;
}
.frame-3033 {
  height: 536px;
  left: 0px;
  position: absolute;
  top: 800px;
  width: 1112px;
}
.frame-3046 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1032px;
}
.frame-3047 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 1032px;
}
.frame-3047-1 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1032px;
}
.frame-3048 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 288px;
  width: 1032px;
}
.frame-3050 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 360px;
  width: 1032px;
}
.frame-3051 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 128px;
  left: 248px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 400px;
}
.frame-3052 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 128px;
  left: 672px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 400px;
}
.frame-3052-1 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 24px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 368px;
}
.frame-3053-12 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}
.frame-30532 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 228px;
}
.frame-3054-1 {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 88px;
  width: 368px;
}
.frame-30542 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 272px;
}
.frame-3055 {
  height: 96px;
  left: 112px;
  position: absolute;
  top: 16px;
  width: 272px;
}
.frame-3245 {
  height: 408px;
  left: 40px;
  position: absolute;
  top: 96px;
  width: 1032px;
}
.frame-3245-1 {
  height: 120px;
  left: 40px;
  position: absolute;
  top: 96px;
  width: 1032px;
}
.group-12 {
  height: 101.19%;
  left: 0px;
  position: absolute;
  top: -0.60%;
  width: 100.35%;
}
.group8 {
  height: 98.82%;
  left: 0px;
  position: absolute;
  top: 0.62%;
  width: 99.65%;
}
.mikhail-ugryumov2 {
  left: 248px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
.number7 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 66.67%;
  left: 37.50%;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 10.42%;
  white-space: nowrap;
  width: 23.61%;
}
.percent {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 15px;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.percent-1 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 14px;
  text-align: right;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.percent-2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 14px;
  text-align: right;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.percent-3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 15px;
  text-align: right;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.phone8 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 145px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
.span0-12 {
  color: rgba(248,235,223,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  line-height: 16px;
}
.span014 {
  color: rgba(43,43,44,1.0);
  line-height: 16px;
}
.span1-12 {
  color: rgba(248,235,223,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}
.span114 {
  color: rgba(248,235,223,1.0);
  line-height: 16px;
}
.text- {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.text-803 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 244px;
}
.text-804 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
.text-805 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 64px;
  width: 239px;
}
.text-806 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.text-807 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}
.unknown-1 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 72px;
}
.vector21 {
  height: 11.59%;
  left: 14.69%;
  position: absolute;
  top: -0.80%;
  width: 34.84%;
}
.x10-2-my-achievements {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1256px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
