.frame-2042 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 474px;
  width: 158px;
}
.frame-2043 {
  left: 158px;
}
.frame-20432 {
  left: 158px;
}
.frame-2044 {
  left: 316px;
}
.frame-20442 {
  left: 316px;
}
.frame-2045 {
  left: 474px;
}
.frame-20452 {
  left: 474px;
}
.frame-2050 {
  left: 158px;
  top: 632px;
}
.frame-20502 {
  left: 158px;
  top: 632px;
}
