.frame-19749 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-19764 {
  top: 152px;
}
.frame-19765 {
  background-color: var(--caribbean-green);
  top: 152px;
}
.text-183 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
