.frame-28297 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 432px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 160px;
  width: 1112px;
}
.frame-28302 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 520px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 632px;
  width: 1112px;
}
.frame-30 {
  height: 288px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 784px);
}
.frame-3040-1 {
  border-radius: 4px;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.06);;
  height: 288px;
  left: 40px;
  overflow: hidden;
  position: absolute;
  top: 104px;
  width: calc(100.00% - 784px);
}
.frame-3041 {
  border-radius: 4px;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.06);;
  height: 288px;
  left: 392px;
  overflow: hidden;
  position: absolute;
  top: 104px;
  width: calc(100.00% - 784px);
}
.frame-3053 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 61px;
}
.frame-3053-1 {
  background-size: 100% 100%;
  border-radius: 4px;
  box-shadow: 0px 12px 24px rgba(35,152,171,0.24);;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 234px;
}
.frame-3054 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 24px;
  left: 16px;
  position: absolute;
  top: 248px;
  width: 296px;
}
.frame-3078 {
  border-radius: 4px;
  box-shadow: 0px 6px 24px rgba(0,0,0,0.06);;
  height: 288px;
  left: 760px;
  overflow: hidden;
  position: absolute;
  top: 104px;
  width: calc(100.00% - 784px);
}
.x10-5-my-courses {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1072px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.x1214-lessons {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 109px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
.x18-lessons {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
