.frame-1951-17 {
  height: 48px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-19519 {
  border-radius: 100px;
  height: 48px;
  left: 118px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-19549 {
  height: 80px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-19738 {
  height: 48px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 24px);
  width: 166px;
}
.ragrarians-i1454626 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 16px);
  white-space: nowrap;
}
