.frame-2963 {
  height: 24px;
  left: 22px;
  position: relative;
  top: 12px;
  width: 140px;
}
.youre-follower {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
