.text {
  position: absolute;
  top: 10px;
  left: 50px;
}

.default-input {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 0 16px;
  width: inherit;
  position: relative;
}

.input-container {
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.password-default {
  position: relative;
}

.username-error {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 87px;
  white-space: nowrap;
}

.link-btn {
  text-decoration: none;
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.person-outline {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 0;
  width: 24px;
}

.user-icon {
  width: 100%;
  height: 100%;
}

.ibmplexsans-regular-normal-monsoon-14px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans-Regular", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.username {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 76px;
  white-space: nowrap;
  outline: none;
  border: none;
  background: inherit;
  width: 100%;
  height: 100%;
}

.ibmplexsans-regular-normal-monsoon-16px {
  color: var(--monsoon);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.error-message {
  color: red;
  margin: 6px 0;
  line-height: 20px;
  height: 12px;
}

.foucsed-input {
  border: red;
}

.default-input:focus-within {
  border: 1px solid #00c688;
}
