.frame-19282 {
  height: 1024px;
  left: 740px;
  position: absolute;
  top: 0px;
  width: 700px;
}
.frame3 {
  height: 541px;
  left: 109px;
  overflow: hidden;
  position: relative;
  top: 241px;
  width: 481px;
}
.vector-52 {
  height: 33.73%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 37.84%;
}
.vector-62 {
  height: 32.16%;
  left: 46.45%;
  position: absolute;
  top: 67.88%;
  width: 41.79%;
}
.vector-72 {
  height: 32.62%;
  left: 18.84%;
  position: absolute;
  top: 33.62%;
  width: 36.69%;
}
.vector-82 {
  height: 34.29%;
  left: 55.51%;
  position: absolute;
  top: 33.63%;
  width: 44.49%;
}
