.frame-280111 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-28028 {
  height: 112px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 492px;
}
.frame-28125 {
  height: 112px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 556px;
}
.frame-29584 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 728px;
}
.name15 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-87516 {
  background-color: var(--onyx);
  height: 1px;
  left: 40px;
  position: absolute;
  top: 135px;
  width: 648px;
}
.text-1187 {
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  width: 494px;
}
.text-1188 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}
