@import "src/scss/mixins";

.create-course-page-container {
  width: 100%;

  gap: 40px;
  display: flex;
  flex-direction: row;

  .left-block {
    width: 344px;
    height: 344px;
  }

  .right-block {
    flex-grow: 1;

    gap: 40px;
    display: flex;
    flex-direction: column;

    .section-block {
      gap: 24px;
      @include flexColumn(center, flex-start);
    }

    .buttons-section {
      @include flexRow(center, space-between);
      button {
        width: 152px;
      }
    }
  }

  @include breakpoint("tablet", "max") {
    flex-direction: column;

    .left-block {
      width: 100%;
      height: auto;
    }

    .right-block {
      gap: 40px;
      @include flexColumn(center, flex-start);
    }
  }
}
