@import "src/scss/mixins";
@import "src/scss/variables";

.members-preview-container {
  width: 100%;
  overflow-y: scroll;

  .scroll-container {
    width: fit-content;
    height: fit-content;
    gap: $gap-big;
    @include flexRow(flex-start, flex-start);
  }

  @include breakpoint("tablet", "max") {
    .scroll-container {
      gap: $gap-medium;
    }
  }
}
