.layer-210 {
  height: 24px;
  width: 24px;
}
.person-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.person3 {
  height: 100%;
  position: relative;
}
.vector-242 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-25 {
  height: 33.33%;
  left: 33.33%;
  position: absolute;
  top: 12.50%;
  width: 33.33%;
}
.vector-26 {
  height: 33.33%;
  left: 20.83%;
  position: absolute;
  top: 54.17%;
  width: 58.33%;
}
