.create-enterprise {
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-1983-12 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 248px;
}
.frame-19837 {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 158px;
}
.frame-19842 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 174px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 171px;
}
.frame-29812 {
  height: 48px;
  left: 288px;
  position: absolute;
  top: 96px;
  width: 345px;
}
.x-enterprises {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.x9-1-all-enterprises {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
