.frame-30674 {
  height: 104px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.my-courses2 {
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}
