.frame-194332 {
  background-color: var(--licorice);
  height: 1304px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-194429 {
  background-color: rgba(42,42,42,1.0);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-197426 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-197727 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-197827 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-279119 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 259px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.frame-284727 {
  background-color: var(--caribbean-green);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-28540 {
  background-color: var(--caribbean-green);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 211px;
  width: 248px;
}
.group-194320 {
  bottom: 0px;
  height: 299px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.rectangle-859-119 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-85937 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.text-1283 {
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-1301 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: calc(50.00% - 54px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.union20 {
  bottom: 48px;
  height: 211px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
