.x02-2-0-sign-up-filed {
  background-color: black;
  height: 100vh;
  padding: 2% 5%;
  width: 100vw;
  overflow-x: hidden;
}

.icons {
  align-items: flex-end;
  display: flex;
  height: 40px;
  width: 256px;
  margin-bottom: 6em;
  margin-top: 0.6em;
}

.x02-2-0-sign-up-filed .file-drop-container {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  height: 320px;
  overflow: hidden;
  width: 320px;
  border: 2px dashed #f8ebdf;
}

.border-1px-quarter-spanish-white {
  border: 1px solid var(--quarter-spanish-white);
}

.x02-2-0-sign-up-filed .button-wrapper {
  justify-content: space-between;
  display: flex;
  width: 35%;
  margin-bottom: 2em;
  margin-top: 0;
}

.x02-2-0-sign-up-filed .frame-4 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 51px;
  width: 200px;
}

.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}

.x02-2-0-sign-up-filed .default-i905507538 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 95px;
  text-align: center;
  white-space: nowrap;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.x02-2-0-sign-up-filed .text-4 {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 72px;
  text-align: center;
  width: 166px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  background: none;
  border: none;
  outline: none;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

.file-upload {
  text-decoration: underline;
  color: var(--caribbean-green);
  cursor: pointer;
}

.file-upload:hover {
  color: #02f2a7;
}

.avatar {
  width: 100%;
  height: 100%;
}

.x02-2-0-sign-up-filed .congratulation-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.congratulation-header-wrapper {
  color: #fff;
  margin-top: 4em;
  margin-bottom: 3em;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  white-space: nowrap;
}

.congratulation-header-wrapper .congratulation-header {
  font-size: 4rem;
  margin-bottom: 0.3em;
  margin-left: 0;
}

.congratulation-sub-title {
  font-size: 1em;
}

[class^="congratulation-col-"]:not(:last-child) {
  width: 35%;
}

.congratulation-col-1 {
  flex: 1;
  margin-right: 2em;
}

.congratulation-row {
  display: flex;
}

.row-1-col {
  width: 47.5%;
  margin-right: 5%;
}

@media only screen and (max-width: 1280px) {
  .x02-2-0-sign-up-filed .button-wrapper {
    width: 30%;
  }

  .x02-2-0-sign-up-filed .frame-4 {
    padding: 0 0.2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  [class^="congratulation-col-"]:not(:last-child) {
    width: 100%;
  }

  .x02-2-0-sign-up-filed .congratulation-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .x02-2-0-sign-up-filed .frame-4 {
    padding: 0 0.2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }

  .congratulation-col-3 {
    margin: 0 auto;
    margin-bottom: 2em;
    order: -1;
    width: 100%;
  }

  .x02-2-0-sign-up-filed .button-wrapper {
    width: 45%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .row-1-col {
    width: 100%;
    margin-right: 0;
  }

  .congratulation-row {
    flex-direction: column;
  }

  .congratulation-row:last-child {
    width: 100%;
  }

  .x02-2-0-sign-up-filed .button-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .x02-2-0-sign-up-filed .frame-4 {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 460px) {
  .congratulation-header-wrapper .congratulation-header {
    font-size: 3rem;
  }

  .congratulation-sub-title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 380px) {
  .congratulation-header-wrapper .congratulation-header {
    font-size: 2.5rem;
  }

  .congratulation-sub-title {
    font-size: 0.6em;
  }
}
