@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.border-1px-quarter-spanish-white {
  border: 1px solid var(--quarter-spanish-white);
}

.ibmplexsans-regular-normal-monsoon-14px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans-Regular", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-Regular", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-40px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.x02-2-0-sign-up-filed {
  background-color: black;
  height: 100vh;
  padding: 2% 5%;
  width: 100vw;
}

.x02-2-0-sign-up-filed .banner-images {
  align-items: flex-end;
  display: flex;
  margin-left: 80px;
  overflow: hidden;
  width: 256px;
}

.x02-2-0-sign-up-filed .birthday {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .button-wrapper {
  justify-content: space-between;
  display: flex;
  width: 35%;
}

.x02-2-0-sign-up-filed .continue {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 69px;
  text-align: center;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .default-i905507538 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 95px;
  text-align: center;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .email {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .file-drop-container {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  height: 320px;
  overflow: hidden;
  width: 320px;
  border: 2px dashed #f8ebdf;
}

.x02-2-0-sign-up-filed .first-name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .flex-col {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 3%;
}

.x02-2-0-sign-up-filed .flex-col-1 {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 6.8em;
}

.x02-2-0-sign-up-filed .flex-col-2 {
  margin-top: 6.8em;
}

.x02-2-0-sign-up-filed .frame-1935 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 40px;
  min-width: 200px;
  padding: 0 64px;
}

.x02-2-0-sign-up-filed .frame-4 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 51px;
  width: 200px;
}

.x02-2-0-sign-up-filed .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 50%;
}

.x02-2-0-sign-up-filed .frame-9-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 50%;
}

.x02-2-0-sign-up-filed .frame-9-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 50%;
}

.x02-2-0-sign-up-filed .frame-9-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 50%;
}

.x02-2-0-sign-up-filed .frame-9-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 50%;
}

.x02-2-0-sign-up-filed .last-name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .last-name-container {
  align-items: flex-start;
  display: flex;
  width: 440px;
  margin-top: 20px;
}

.x02-2-0-sign-up-filed .mikhail {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .phone {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .text-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .text-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .text-3 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .text-4 {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 72px;
  text-align: center;
  width: 166px;
}

.x02-2-0-sign-up-filed .ugrymov {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.x02-2-0-sign-up-filed .vector {
  align-self: flex-start;
  height: 40px;
  margin-top: -0.03px;
  width: 40px;
}

.x02-2-0-sign-up-filed .vector-1 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 3px;
  width: 40px;
}

.x02-2-0-sign-up-filed .vector-2 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 2px;
  width: 40px;
}

.x02-2-0-sign-up-filed .welcome-back {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
  color: #fff;
}

.x02-2-0-sign-up-filed .welcome-back-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}

:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --shark: rgba(43, 43, 44, 1);
  --white: rgba(255, 255, 255, 0.16);
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons {
  align-items: flex-end;
  display: flex;
  height: 40px;
  width: 256px;
  margin-bottom: 6em;
  margin-top: 0.6em;
}

.input {
  background: none;
  border: none;
  outline: none;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

.file-upload {
  text-decoration: underline;
  color: var(--caribbean-green);
  cursor: pointer;
}

.file-upload:hover {
  color: #02f2a7;
}

.avatar {
  width: 100%;
  height: 100%;
}

.x02-2-0-sign-up-filed .congratulation-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.congratulation-header-wrapper {
  color: #fff;
  margin-top: 4em;
  margin-bottom: 3em;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  white-space: nowrap;
}

.congratulation-header-wrapper .congratulation-header {
  font-size: 4rem;
  margin-bottom: 0.3em;
  margin-left: 0;
}

.congratulation-sub-title {
  font-size: 1em;
}

.congratulation-col-2 {
  display: flex;
  flex-direction: column;
}

[class^="congratulation-col-"]:not(:last-child) {
  width: 35%;
}

@media only screen and (max-width: 1280px) {
  [class^="congratulation-col-"]:not(:last-child) {
    width: 30%;
  }

  .x02-2-0-sign-up-filed .button-wrapper {
    width: 30%;
  }

  .x02-2-0-sign-up-filed .frame-4 {
    padding: 0 0.2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  [class^="congratulation-col-"]:not(:last-child) {
    width: 100%;
  }

  .x02-2-0-sign-up-filed .frame-4 {
    padding: 0 0.2em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }

  .congratulation-col-3 {
    order: -1;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .x02-2-0-sign-up-filed .button-wrapper {
    width: 100%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 520px) {
  .x02-2-0-sign-up-filed .frame-4 {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 460px) {
  .congratulation-header-wrapper .congratulation-header {
    font-size: 3rem;
  }

  .congratulation-sub-title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 380px) {
  .congratulation-header-wrapper .congratulation-header {
    font-size: 2.5rem;
  }

  .congratulation-sub-title {
    font-size: 0.6em;
  }
}
