.dont-recommend-i569 {
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}
.frame-27953 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.frame-2796-12 {
  height: 48px;
  left: 24px;
  position: absolute;
  top: 456px;
  width: 164px;
}
