.toggle-main-container {
  position: relative;
  width: 38px;
  height: 20px;
  border-radius: 10px;
}

.toggle-container {
  width: 38px;
  height: 20px;
  background: var(--primary-black);
  border-radius: 10px;
}

.toggle-item {
  background: var(--primary-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: all 0.2s ease-in-out;
}

.toggle-item.active {
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.toggle-item.active + .toggle-container {
  width: 38px;
  height: 20px;
  background: var(--primary-color);
  transition: all 0.2s ease-in-out;
}
