.notifications-modal-container {
  .nav-tabs-container {
    width: 100%;
    padding-left: Max(24px, env(safe-area-inset-left));
  }

  .notifications-list-container {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;

    .notifications-list-header {
      width: 100%;
      height: 56px;
      background-color: rgba(39, 51, 47, 0.5);

      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: Max(24px, env(safe-area-inset-left));
      padding-right: Max(24px, env(safe-area-inset-right));

      display: flex;
      align-items: center;

      h5 {
        color: #676969;
      }
    }
  }
}
