/api/node_modules
/api/package-lock.json
/node_modules
package-lock.json
yarn.lock
/build

.DS_Store
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history/
