version: "3"
services:
  db:
    image: postgres:11-alpine
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: planetfarms
    ports:
      - 5432:5432
  adminer:
    image: adminer
    ports:
      - 8081:8080
  nginx:
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ./api/files:/usr/share/nginx/html
