.frame-29043 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.frame-2906 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 176px;
  width: 560px;
}
.frame-2907 {
  top: 272px;
}
.frame-2910 {
  top: 560px;
}
.name9 {
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}
.rectangle-873 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 79px;
  width: 560px;
}
