.frame-28552 {
  height: 35px;
  left: 210px;
  position: absolute;
  top: 0px;
  width: 38px;
}
.frame-2869 {
  top: 70px;
}
.frame-2876 {
  top: 105px;
}
.frame-2883 {
  top: 140px;
}
.rectangle-8596 {
  background-color: var(--licorice);
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1px;
}
.rectangle-8604 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 1px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.text-55 {
  height: 20px;
  left: calc(50.00% - 10px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 10px);
  width: 22px;
}
