.chevron-right {
  height: 100%;
  position: relative;
}
.layer-2-1 {
  position: relative;
}
.layer-217 {
  height: 24px;
  width: 24px;
}
.layer-218 {
  left: 148px;
  position: absolute;
  top: 0px;
  transform: rotate(90deg);
}
.vector-211 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-36 {
  height: 27.08%;
  left: 30.17%;
  position: absolute;
  top: 36.43%;
  width: 43.75%;
}
