.frame-1969-1 {
  height: 528px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 536px;
}
.frame-19697 {
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 272px;
  width: 536px;
}
