.add-block5 {
  height: 24px;
  left: calc(50.00% - 37px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-text2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-122 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 560px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-1933-14 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 0px;
}
.frame-193314 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 78px;
}
.frame-19349 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 304px;
}
.frame-196318 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-196418 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 520px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 252px;
  width: 608px;
}
.frame-28546 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 448px;
  width: 200px;
}
.frame-425 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 96px;
  width: 560px;
}
.frame-65-110 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 224px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 560px;
}
.frame-6523 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.frame-921 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 69px;
}
.rectangle-85718 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.text-1447 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.text-1448 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  width: 530px;
}
.text-title2 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.x33-add-new-block-text {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
