.add-video-block {
  height: 24px;
  left: calc(50.00% - 59px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-video2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-112 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 560px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-1933-12 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 78px;
}
.frame-193310 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 0px;
}
.frame-19638 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-19649 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 800px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 112px;
  width: 608px;
}
.frame-19654 {
  height: 160px;
  left: 24px;
  position: absolute;
  top: 440px;
  width: 560px;
}
.frame-282911 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 298px;
  left: 287px;
  overflow: hidden;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-28530 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 728px;
  width: 200px;
}
.frame-30676 {
  background-color: var(--licorice);
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-3176 {
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 560px;
}
.frame-3731 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 624px;
  width: 560px;
}
.frame-417 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 336px;
  width: 560px;
}
.frame-65-15 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.frame-65-2 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 320px;
}
.frame-6517 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.frame-916 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 69px;
}
.or3 {
  left: 344px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 26px;
}
.rectangle-1202 {
  background-color: var(--quarter-spanish-white);
  border-radius: 4px;
  height: 41px;
  left: 268px;
  position: absolute;
  top: 39px;
  width: 1px;
}
.rectangle-8578 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.span016 {
  color: rgba(137,137,137,1.0);
  line-height: 16px;
}
.span116 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.text-884 {
  height: 72px;
  left: calc(50.00% - 92px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 36px);
  width: 186px;
}
.text5 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 96px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 1336px;
}
.video-description {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.video-link2 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.video-title2 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.write-title-here {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
.x32-add-news-video {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
