.icons-camera {
  height: 24px;
  left: calc(50.00% - 12px);
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}
.union6 {
  height: 83.33%;
  left: 0px;
  position: absolute;
  top: 8.33%;
  width: 100%;
}
