.frame-28013 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.frame-28023 {
  height: 60px;
  left: 88px;
  position: absolute;
  top: 6px;
  width: 180px;
}
.frame-28032 {
  height: 72px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 268px;
}
.nature-lovers {
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-1011 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}
