.frame-3067 {
  background-color: var(--licorice);
  height: 120px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.text-110 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
