.followed {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-2928-1 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 100px;
}
.frame-2928-2 {
  left: unset;
  position: relative;
  top: unset;
}
.layer-227 {
  height: 24px;
  width: 24px;
}
.person-done {
  height: 100%;
  position: relative;
}
.person-done-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.vector-48 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-57 {
  height: 20.83%;
  left: 65.61%;
  position: absolute;
  top: 16.67%;
  width: 27.08%;
}
.vector-67 {
  height: 33.33%;
  left: 25.00%;
  position: absolute;
  top: 12.50%;
  width: 33.33%;
}
.vector-77 {
  height: 33.33%;
  left: 12.50%;
  position: absolute;
  top: 54.17%;
  width: 58.33%;
}
