.frame-19889 {
  height: 24px;
  left: 57px;
  position: relative;
  top: 8px;
  width: 46px;
}
.frame-20243 {
  background-color: var(--licorice);
  height: 158px;
  left: 474px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.nov-4 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
