.frame-194328 {
  background-color: rgba(25,28,33,1.0);
  height: 2374px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.rectangle-85933 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
