.frame-19395 {
  background-color: var(--shark);
  border-radius: 4px;
  bottom: 42px;
  height: 136px;
  left: 40px;
  overflow: hidden;
  position: absolute;
  width: 1032px;
}
.frame-33173 {
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 80px;
  left: 296px;
  overflow: hidden;
  position: absolute;
  top: 28px;
  width: 120px;
}
.frame-33187 {
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 80px;
  left: 456px;
  overflow: hidden;
  position: absolute;
  top: 28px;
  width: 120px;
}
.frame-33193 {
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 80px;
  left: 616px;
  overflow: hidden;
  position: absolute;
  top: 28px;
  width: 120px;
}
