.checkmark-square-2-outline-2 {
  height: 24px;
  position: relative;
  width: 24px;
}
.vector-111 {
  height: 75.00%;
  left: 12.50%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}
.vector4 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
