.btn-default {
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  display: flex;
  color: var(--background-color);
  overflow: hidden;
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
}

.default-btn:hover {
  background: var(--primary-color);
}

.btn-text {
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-active {
  border: 1px solid var(--primary-color);
}
