.btn-default {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 0.9em 2.5em;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: var(--primary-black);
  font-family: var(--font-family);

  &:disabled {
    cursor: default;
    color: var(--primary-white);
    background-color: var(--primary-grey);
  }
}

.default-btn:hover {
  background: var(--primary-color);
}

.border-active {
  border: 1px solid var(--primary-color);
}
.add {
  width: auto;
}
