.btn-default {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  justify-content: center;

  color: black;
  overflow: hidden;
  padding: 1em 2em;
  cursor: pointer;
  border: none;
  outline: none;
}

.default-btn:hover {
  background: #02f2a7;
}

.btn-text {
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: flex;

  justify-content: center;
  align-items: center;
}

.border-active {
  border: 1px solid var(--caribbean-green);
}
