.pf-dropdown-container {
  gap: 8px;
  display: flex;
  flex-direction: column;

  h5 {
    width: 70%;
  }
}

.react-select-option-container {
  height: 100%;
  display: flex;
  padding: 0px 16px;
  align-items: center;
}
