.frame-2075 {
  height: 40px;
  left: 24px;
  position: absolute;
  top: 72px;
  width: 568px;
}
.frame-34242 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 288px;
  left: 40px;
  overflow: hidden;
  position: absolute;
  top: 648px;
  width: 616px;
}
.frame-3430 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 216px;
  width: 216px;
}
.frame-3431 {
  height: 40px;
  left: 24px;
  position: absolute;
  top: 112px;
  width: 568px;
}
.frame-3432 {
  height: 40px;
  left: 24px;
  position: absolute;
  top: 152px;
  width: 568px;
}
.frame-3434 {
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 616px;
}
.open-in-calendar {
  left: 45px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.phone-1 {
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -3px;
  top: 8px;
  white-space: nowrap;
}
.phone-2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 0px;
  top: 8px;
  white-space: nowrap;
}
.phone6 {
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  top: 8px;
  white-space: nowrap;
}
.text-359 {
  height: 24px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
  width: 332px;
}
.text-36-1 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
