.frame-29044 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.frame-2908 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 368px;
  width: 560px;
}
.frame-2909 {
  top: 464px;
}
.frame-2911 {
  top: 656px;
}
.name10 {
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}
.rectangle-8732 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 79px;
  width: 560px;
}
