.frame-1646 {
  height: 160px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 740px;
}
.frame2 {
  height: 40px;
  left: calc(50.00% - 290px);
  overflow: hidden;
  position: relative;
  top: calc(50.00% - 20px);
  width: 256px;
}
.group {
  background-size: 100% 100%;
  height: 99.84%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15.57%;
}
.vector-110 {
  height: 100%;
  left: 33.76%;
  position: absolute;
  top: 0px;
  width: 15.61%;
}
.vector-22 {
  height: 100%;
  left: 50.57%;
  position: absolute;
  top: 0px;
  width: 15.80%;
}
.vector-32 {
  height: 100%;
  left: 67.43%;
  position: absolute;
  top: 0px;
  width: 15.80%;
}
.vector-42 {
  height: 100%;
  left: 84.32%;
  position: absolute;
  top: 0px;
  width: 15.80%;
}
.vector2 {
  height: 100%;
  left: 16.79%;
  position: absolute;
  top: 0px;
  width: 15.80%;
}
