.frame-2035 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.frame-2036 {
  left: 158px;
}
.frame-20362 {
  left: 158px;
}
.frame-2040 {
  left: 790px;
}
.frame-20402 {
  left: 790px;
}
.frame-2046 {
  left: 632px;
  top: 474px;
}
.frame-20462 {
  left: 632px;
  top: 474px;
}
.frame-2047 {
  left: 790px;
  top: 474px;
}
.frame-20472 {
  left: 790px;
  top: 474px;
}
