.add-news {
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.cars-industry {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.farming {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-1943 {
  background-color: var(--licorice);
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.frame-1944 {
  background-color: rgba(42,42,42,1.0);
  height: 224px;
  left: 0px;
  position: absolute;
  top: 80px;
  width: 80px;
}
.frame-1945 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.frame-1947 {
  background-color: var(--licorice);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 304px;
  width: 80px;
}
.frame-1948 {
  background-color: var(--licorice);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 368px;
  width: 80px;
}
.frame-1953 {
  height: 24px;
  left: 28px;
  position: relative;
  top: 16px;
  width: 24px;
}
.frame-198 {
  height: 24px;
  left: 28px;
  position: relative;
  top: 20px;
  width: 24px;
}
.frame-1980 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 120px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 992px;
}
.frame-1983 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 248px;
}
.frame-2847 {
  background-color: var(--caribbean-green);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.frame-2848 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 64px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 960px;
  width: 80px;
}
.frame-2848-1 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 80px;
}
.frame-2849 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 80px;
}
.frame-2850 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 80px;
}
.frame-2915 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 280px;
  left: 1056px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 344px;
}
.frame-2916 {
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 95px;
}
.frame-2917 {
  border-radius: 4px;
  height: 48px;
  left: 135px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 85px;
}
.frame-2918 {
  border-radius: 4px;
  height: 48px;
  left: 236px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 84px;
}
.frame-2919 {
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 144px;
  width: 135px;
}
.frame-2920 {
  border-radius: 4px;
  height: 48px;
  left: 175px;
  overflow: hidden;
  position: absolute;
  top: 144px;
  width: 124px;
}
.frame-2921 {
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 344px;
}
.gr {
  height: 24px;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}
.laptop-1 {
  height: 24px;
  overflow: hidden;
  position: relative;
}
.mb {
  height: 24px;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}
.media-news {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.nature {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.people {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.place {
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}
.rectangle-859 {
  background-color: rgba(255,255,255,0.1);
  height: 1024px;
  left: 79px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.see-all-topics {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 232px;
  white-space: nowrap;
}
.slim-sidebar {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.text-16 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.vector-114 {
  height: 37.50%;
  left: 22.92%;
  position: absolute;
  top: 24.46%;
  width: 54.17%;
}
.vector6 {
  height: 75.00%;
  left: 0px;
  position: absolute;
  top: 12.50%;
  width: 100%;
}
