.frame-198010 {
  height: 144px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-29568 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 728px;
}
.frame-30044 {
  border-radius: 4px;
  height: 223px;
  left: 288px;
  position: absolute;
  top: 1176px;
  width: 728px;
}
