.frame-29892 {
  height: 24px;
  position: relative;
  top: 8px;
  width: 202px;
}
.frame-2996 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 296px;
  width: 304px;
}
.frame-2998 {
  left: 400px;
}
