
.ibmplexsans-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans-Bold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.ibmplexsans-regular-normal-ebb-14px {
  color: var(--ebb);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-regular-normal-onyx-14px {
  color: var(--onyx);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-regular-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-semi-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-quarter-spanish-white-14px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-quarter-spanish-white-24px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-white-16px {
  color: white;
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.inter-medium-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.x10-3-0-my-library {
  align-items: flex-start;
  background-color: black;
  display: flex;
  width: 1440px;
}
.x10-3-0-my-library .address {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .article-.article-1 {
  margin-bottom: -1px;
  margin-left: 22px;
  margin-top: unset;
}
.x10-3-0-my-library .article-1 {
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.06);
  display: flex;
  height: 290px;
  margin-top: 23px;
  overflow: hidden;
  width: 330px;
}
.x10-3-0-my-library .articles {
  align-items: flex-end;
  display: flex;
  height: 336px;
  justify-content: center;
  min-width: 1032px;
}
.x10-3-0-my-library .articles-1 {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .bell-outline {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 35px;
  padding: 1.7px 3px;
  width: 24px;
}
.x10-3-0-my-library .book {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}
.x10-3-0-my-library .chevron-right-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 30px;
  padding: 8.7px 6.3px;
  transform: rotate(90deg);
  width: 24px;
}
.x10-3-0-my-library .chevrons-left {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 8px;
  width: 24px;
}
.x10-3-0-my-library .chevrons-right-1 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 5px;
  width: 24px;
}
.x10-3-0-my-library .chevrons-right.chevrons-left {
  margin-left: 69px;
}
.x10-3-0-my-library .email-outline {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}
.x10-3-0-my-library .farming {
  height: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .filter-by-category {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 18px;
  width: 8px;
}
.x10-3-0-my-library .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  width: 35px;
}
.x10-3-0-my-library .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -1px;
  min-height: 337px;
  width: 330px;
}
.x10-3-0-my-library .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 920px;
  width: 1112px;
}
.x10-3-0-my-library .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 18px;
  width: 8px;
}
.x10-3-0-my-library .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  width: 38px;
}
.x10-3-0-my-library .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 32px;
  min-width: 1112px;
}
.x10-3-0-my-library .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-top: 7px;
  min-width: 240px;
}
.x10-3-0-my-library .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 1px;
  min-width: 22px;
}
.x10-3-0-my-library .flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 4px;
  min-width: 16px;
}
.x10-3-0-my-library .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 210px;
  min-width: 210px;
}
.x10-3-0-my-library .frame {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  width: 160px;
}
.x10-3-0-my-library .frame-1943 {
  background-color: var(--licorice);
  height: 960px;
  position: relative;
  width: 248px;
}
.x10-3-0-my-library .frame-1944 {
  align-items: center;
  background-color: var(--shark);
  display: flex;
  flex-direction: column;
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.x10-3-0-my-library .frame-1945 {
  align-items: center;
  display: flex;
  height: 80px;
  left: 0px;
  min-width: 247px;
  padding: 0 16px;
  position: absolute;
  top: 0px;
}
.x10-3-0-my-library .frame-1947 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 64px;
  left: 0px;
  overflow: hidden;
  padding: 0 24px;
  position: absolute;
  top: 280px;
  width: 247px;
}
.x10-3-0-my-library .frame-1948 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 64px;
  left: 0px;
  overflow: hidden;
  padding: 0 24px;
  position: absolute;
  top: 344px;
  width: 247px;
}
.x10-3-0-my-library .frame-1951 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  margin-left: 35px;
  width: 48px;
}
.x10-3-0-my-library .frame-1953 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 24px;
  min-width: 113px;
}
.x10-3-0-my-library .frame-1954 {
  align-items: center;
  display: flex;
  height: 80px;
  min-width: 1112px;
}
.x10-3-0-my-library .frame-1971 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--shark);
  border-radius: 100px;
  display: flex;
  min-width: 40px;
}
.x10-3-0-my-library .frame-1973 {
  align-items: center;
  display: flex;
  margin-left: 40px;
  min-width: 166px;
}
.x10-3-0-my-library .frame-1977 {
  height: 48px;
  margin-left: 1px;
  margin-top: 12px;
  width: 248px;
}
.x10-3-0-my-library .frame-1978 {
  height: 48px;
  margin-left: 1px;
  width: 248px;
}
.x10-3-0-my-library .frame-1980 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
  width: 824px;
}
.x10-3-0-my-library .frame-1989 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 40px;
  overflow: hidden;
  padding: 0 16px;
  width: 248px;
}
.x10-3-0-my-library .frame-2303 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 100px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 32px;
  left: 231px;
  overflow: hidden;
  padding: 0 4px;
  position: absolute;
  top: 172px;
  transform: rotate(180deg);
  width: 32px;
}
.x10-3-0-my-library .frame-2791 {
  align-items: flex-start;
  background-color: var(--licorice);
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 259px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.x10-3-0-my-library .frame-28 {
  height: 35px;
  position: relative;
  width: 35px;
}
.x10-3-0-my-library .frame-28-2 {
  height: 35px;
  position: relative;
  width: 38px;
}
.x10-3-0-my-library .frame-2817 {
  align-items: flex-start;
  display: flex;
  min-width: 162px;
}
.x10-3-0-my-library .frame-2848 {
  align-items: flex-start;
  display: flex;
  margin-left: 656px;
  min-width: 137px;
}
.x10-3-0-my-library .frame-285 {
  align-items: center;
  background-color: var(--caribbean-green);
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 248px;
  padding: 0 68px;
}
.x10-3-0-my-library .frame-2873 {
  align-items: flex-start;
  background-color: var(--caribbean-green);
  display: flex;
  height: 35px;
  padding: 7px 6px;
  width: 35px;
}
.x10-3-0-my-library .frame-288 {
  align-items: center;
  display: flex;
  width: 35px;
}
.x10-3-0-my-library .frame-2890 {
  align-items: center;
  display: flex;
  width: 38px;
}
.x10-3-0-my-library .frame-2891 {
  align-items: center;
  border-radius: 2px;
  display: flex;
  height: 32px;
  margin-left: 23px;
  min-width: 32px;
  padding: 0 4px;
}
.x10-3-0-my-library .frame-2891-1 {
  align-items: flex-start;
  background-color: var(--shark-2);
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 248px;
}
.x10-3-0-my-library .frame-2923 {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 69px;
}
.x10-3-0-my-library .frame-3239 {
  height: 24px;
  margin-top: 12px;
  width: 234px;
}
.x10-3-0-my-library .frame-3321 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 92px;
  width: 292px;
}
.x10-3-0-my-library .funnel-outline-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 2px 3.7px;
  width: 24px;
}
.x10-3-0-my-library .graduation-cap {
  height: 18px;
  width: 24px;
}
.x10-3-0-my-library .graduation-cap-1 {
  align-items: center;
  display: flex;
  height: 24px;
  width: 24px;
}
.x10-3-0-my-library .grid-outline-2 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}
.x10-3-0-my-library .group-1942 {
  align-items: flex-start;
  display: flex;
  min-width: 248px;
}
.x10-3-0-my-library .group-1943 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 299px;
  position: absolute;
  top: 661px;
  width: 248px;
}
.x10-3-0-my-library .info-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 132px;
  width: 292px;
}
.x10-3-0-my-library .my-library {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 750px;
  margin-top: 40px;
  /* overflow: hidden; */
  width: 1112px;
}
.x10-3-0-my-library .number {
  color: var(--shark);
  font-family: "IBM Plex Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0px;
  line-height: 12px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}
.x10-3-0-my-library .number-1 {
  height: 20px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 22px;
}
.x10-3-0-my-library .number-2 {
  height: 20px;
  letter-spacing: 0px;
  line-height: 12px;
  margin-bottom: 1px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}
.x10-3-0-my-library .number-3 {
  height: 20px;
  letter-spacing: 0px;
  line-height: 12px;
  margin-top: 1px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}
.x10-3-0-my-library .overlap-group-1 {
  height: 35px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 35px;
}
.x10-3-0-my-library .overlap-group-2 {
  height: 16px;
  position: relative;
  width: 20px;
}
.x10-3-0-my-library .overlap-group-3 {
  height: 259px;
  position: relative;
  width: 248px;
}
.x10-3-0-my-library .overlap-group-4 {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 288px;
  min-width: 328px;
  padding: 16px;
}
.x10-3-0-my-library .overlap-group-5 {
  height: 10px;
  position: relative;
  width: 16px;
}
.x10-3-0-my-library .overlap-group-6 {
  height: 18px;
  position: relative;
  width: 16px;
}
.x10-3-0-my-library .overlap-group-7 {
  height: 22px;
  position: relative;
  width: 18px;
}
.x10-3-0-my-library .overlap-group-8 {
  height: 18px;
  position: relative;
  width: 18px;
}
.x10-3-0-my-library .overlap-group1 {
  height: 6px;
  position: relative;
  width: 10px;
}
.x10-3-0-my-library .overlap-group1-1 {
  height: 20px;
  position: relative;
  width: 18px;
}
.x10-3-0-my-library .overlap-group3 {
  height: 960px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 263px;
}
.x10-3-0-my-library .overlap-group3-1 {
  height: 35px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}
.x10-3-0-my-library .overlap-group36 {
  height: 23px;
  left: 9px;
  position: absolute;
  top: 4px;
  width: 25px;
}
.x10-3-0-my-library .overlap-group8 {
  height: 23px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 24px;
}
.x10-3-0-my-library .person-outline-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 0;
  width: 24px;
}
.x10-3-0-my-library .place-1 {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .play-button-1 {
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
}
.x10-3-0-my-library .ragrarians-i1511233 {
  letter-spacing: 0px;
  line-height: 32px;
  min-height: 32px;
  min-width: 113px;
  white-space: nowrap;
}
.x10-3-0-my-library .rectangle-859 {
  background-color: var(--licorice);
  height: 1px;
  width: 248px;
}
.x10-3-0-my-library .rectangle-859-1 {
  background-color: var(--licorice);
  height: 35px;
  left: 34px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.x10-3-0-my-library .rectangle-859-2 {
  background-color: var(--licorice);
  height: 35px;
  margin-left: 5px;
  width: 1px;
}
.x10-3-0-my-library .rectangle-859-3 {
  background-color: var(--licorice);
  height: 35px;
  left: 37px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.x10-3-0-my-library .rectangle-859-4 {
  background-color: var(--onyx);
  height: 960px;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.x10-3-0-my-library .rectangle-859-5 {
  background-color: var(--licorice);
  height: 35px;
  margin-left: 6px;
  width: 1px;
}
.x10-3-0-my-library .rectangle-860 {
  background-color: var(--onyx);
  height: 1px;
  margin-top: 7px;
  width: 248px;
}
.x10-3-0-my-library .rectangle-860-1 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 35px;
}
.x10-3-0-my-library .rectangle-860-2 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 34px;
  width: 38px;
}
.x10-3-0-my-library .rectangle-861 {
  background-color: var(--onyx);
  height: 1px;
  width: 248px;
}
.x10-3-0-my-library .rectangle-862 {
  background-color: var(--rusty-red);
  border-radius: 100px;
  height: 4px;
  left: 20px;
  position: absolute;
  top: 0px;
  width: 4px;
}
.x10-3-0-my-library .rectangle-865 {
  background-color: var(--rusty-red);
  border-radius: 100px;
  height: 4px;
  left: 21px;
  position: absolute;
  top: 0px;
  width: 4px;
}
.x10-3-0-my-library .search-enterprises {
  color: rgba(137, 137, 137, 1);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 137px;
  white-space: nowrap;
}
.x10-3-0-my-library .search-outline-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 2.7px;
  width: 24px;
}
.x10-3-0-my-library .text-1 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-10 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-right: 72px;
  margin-top: 28px;
  min-height: 24px;
  min-width: 63px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-11 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-right: 58px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 77px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-12 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 55px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-13 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 62px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-19 {
  height: 20px;
  left: 9px;
  letter-spacing: 0px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 22px;
}
.x10-3-0-my-library .text-2 {
  height: 64px;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 4px;
  min-height: 64px;
  width: 294px;
}
.x10-3-0-my-library .text-20 {
  color: var(--shark);
  font-family: "IBM Plex Sans-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 24px;
  min-width: 110px;
  text-align: center;
  white-space: nowrap;
}
.x10-3-0-my-library .text-21 {
  height: 12px;
  letter-spacing: 0px;
  line-height: 12px;
  margin-bottom: 2px;
  margin-left: 70px;
  min-height: 12px;
  min-width: 53px;
  text-align: center;
  white-space: nowrap;
}
.x10-3-0-my-library .text-5 {
  height: 48px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-top: 24px;
  min-height: 48px;
  width: 189px;
}
.x10-3-0-my-library .text-8 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .text-9 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-right: 86px;
  margin-top: 24px;
  min-height: 24px;
  min-width: 49px;
  white-space: nowrap;
}
.x10-3-0-my-library .union {
  height: 211px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.x10-3-0-my-library .user-management {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 4px 0;
  width: 24px;
}
.x10-3-0-my-library .vector {
  height: 4px;
  left: 0px;
  position: absolute;
  top: 15px;
  width: 18px;
}
.x10-3-0-my-library .vector-1 {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 1px;
  width: 25px;
}
.x10-3-0-my-library .vector-10 {
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.x10-3-0-my-library .vector-11 {
  height: 1px;
  width: 1px;
}
.x10-3-0-my-library .vector-12 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.x10-3-0-my-library .vector-13 {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 2px;
  width: 25px;
}
.x10-3-0-my-library .vector-14 {
  align-self: flex-start;
  height: 24px;
  margin-top: -0.02px;
  width: 25px;
}
.x10-3-0-my-library .vector-15 {
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.x10-3-0-my-library .vector-16 {
  height: 8px;
  width: 14px;
}
.x10-3-0-my-library .vector-17 {
  height: 8px;
  margin-left: 0px;
  width: 8px;
}
.x10-3-0-my-library .vector-18 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.x10-3-0-my-library .vector-19 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 1px;
}
.x10-3-0-my-library .vector-2 {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 1px;
  width: 26px;
}
.x10-3-0-my-library .vector-20 {
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.x10-3-0-my-library .vector-21 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 1px;
}
.x10-3-0-my-library .vector-22 {
  height: 6px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.x10-3-0-my-library .vector-23 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 1px;
}
.x10-3-0-my-library .vector-24 {
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.x10-3-0-my-library .vector-3 {
  height: 8px;
  width: 8px;
}
.x10-3-0-my-library .vector-4 {
  height: 8px;
  margin-top: 2px;
  width: 8px;
}
.x10-3-0-my-library .vector-5 {
  height: 8px;
  width: 4px;
}
.x10-3-0-my-library .vector-6 {
  height: 7px;
  width: 4px;
}
.x10-3-0-my-library .vector-7 {
  height: 12px;
  transform: rotate(-180deg);
  width: 7px;
}
.x10-3-0-my-library .vector-8 {
  height: 7px;
  width: 14px;
}
.x10-3-0-my-library .vector-9 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.x10-3-0-my-library .vector-stroke {
  height: 14px;
  width: 8px;
}
.x10-3-0-my-library .vector-stroke-1 {
  height: 2px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 16px;
}
.x10-3-0-my-library .vector-stroke-2 {
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 6px;
}
.x10-3-0-my-library .video-.video-1 {
  margin-bottom: 3px;
  margin-left: 22px;
  margin-top: unset;
}
.x10-3-0-my-library .video-1 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 290px;
  margin-top: 23px;
  overflow: hidden;
  width: 330px;
}
.x10-3-0-my-library .videos {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}
.x10-3-0-my-library .vidoes {
  align-items: flex-end;
  display: flex;
  height: 336px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 1032px;
}
:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --ebb: rgba(227, 227, 227, 1);
  --licorice: rgba(20, 20, 20, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --rusty-red: rgba(218, 52, 67, 1);
  --shark: rgba(43, 43, 44, 1);
  --shark-2: rgba(42, 42, 42, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
