.frame-19792 {
  height: 176px;
  left: 24px;
  position: absolute;
  top: 79px;
  width: 630px;
}
.text-82 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 72px;
  width: 632px;
}
