.frame-1988 {
  height: 24px;
  left: 57px;
  position: relative;
  top: 8px;
  width: 43px;
}
.frame-1988-1 {
  left: 52px;
  position: absolute;
}
.frame-1988-2 {
  position: absolute;
}
.frame-1988-3 {
  left: 54px;
}
.nov-6 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
