.frame-19439 {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-194410 {
  background-color: var(--shark);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-197410 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-19756 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 247px;
}
.frame-19766 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 248px;
}
.frame-19778 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-19788 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-27915 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 259px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.frame-28479 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-28514 {
  background-color: var(--caribbean-green);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 211px;
  width: 248px;
}
.group-19436 {
  bottom: 0px;
  height: 299px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.rectangle-859-15 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-85914 {
  background-color: var(--onyx);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.text-25 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-261 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: calc(50.00% - 54px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.union5 {
  bottom: 48px;
  height: 211px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
