.eye {
  height: 100%;
  position: relative;
}
.vector-113 {
  height: 60.42%;
  left: 6.25%;
  position: absolute;
  top: 19.78%;
  width: 87.50%;
}
.vector-23 {
  height: 29.17%;
  left: 35.42%;
  position: absolute;
  top: 35.42%;
  width: 29.17%;
}
.vector5 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
