.dec-12 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-19888 {
  height: 24px;
  left: 58px;
  position: relative;
  top: 8px;
  width: 42px;
}
.frame-20512 {
  background-color: var(--licorice);
  height: 158px;
  left: 316px;
  position: absolute;
  top: 632px;
  width: 158px;
}
