.create-group {
  left: 76px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.dont-recommend {
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.ecology {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.ecology-1 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.farmers {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.farmers-1 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-1959 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 272px;
  width: 536px;
}
.frame-19696 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 536px;
}
.frame-19803 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 768px;
}
.frame-19812 {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 126px;
}
.frame-1982 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 430px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 140px;
}
.frame-19834 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 248px;
}
.frame-1989 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1096px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 304px;
}
.frame-1990 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 864px;
  overflow: hidden;
  position: absolute;
  top: 272px;
  width: 536px;
}
.frame-1991 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 840px;
  width: 536px;
}
.frame-1992 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 864px;
  overflow: hidden;
  position: absolute;
  top: 840px;
  width: 536px;
}
.frame-2794 {
  height: 88px;
  left: 24px;
  position: absolute;
  top: 280px;
  width: 469px;
}
.frame-2794-1 {
  height: 56px;
  left: 24px;
  position: absolute;
  top: 280px;
  width: 296px;
}
.frame-2795 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.frame-2795-1 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 164px;
}
.frame-2796 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 164px;
}
.frame-2796-1 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 344px;
}
.frame-2913 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 12px;
  width: 135px;
}
.frame-3477 {
  height: 112px;
  left: 24px;
  position: absolute;
  top: 392px;
  width: 344px;
}
.frame-3477-1 {
  height: 112px;
  left: 24px;
  position: absolute;
  top: 392px;
  width: 199px;
}
.search-groups {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-121 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  width: 471px;
}
.text-122 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  width: 471px;
}
.think-like-a-farmer {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
  width: 298px;
}
.think-like-a-farmer-1 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
  width: 298px;
}
.unfollow {
  left: 48px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.x-groups {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.x5-1-all-groups {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
