.due-to-the-advantage4 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.edit-group {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.frame-196917 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 336px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 1032px;
}
.frame-24883 {
  height: 24px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 168px;
  width: 119px;
}
.frame-27967 {
  border-radius: 4px;
  height: 48px;
  left: 908px;
  overflow: hidden;
  position: absolute;
  top: 416px;
  width: 164px;
}
.frame-27976 {
  height: 192px;
  left: 40px;
  position: absolute;
  top: 416px;
  width: 636px;
}
.frame-27986 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 978px;
  left: 287px;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-27996 {
  height: 648px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-295610 {
  background-color: var(--licorice);
  border-radius: 4px;
  bottom: 2px;
  height: 328px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  width: 1112px;
}
.frame-29653 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 40px;
  height: 200px;
  left: 40px;
  position: absolute;
  width: 200px;
}
.frame-29663 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 40px;
  height: 200px;
  left: 280px;
  position: absolute;
  width: 200px;
}
.frame-29673 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 40px;
  height: 200px;
  left: 520px;
  position: absolute;
  width: 200px;
}
.frame-29683 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 40px;
  height: 200px;
  left: 760px;
  position: absolute;
  width: 200px;
}
.frame-29693 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 40px;
  height: 200px;
  left: 1000px;
  overflow: hidden;
  position: absolute;
  width: 200px;
}
.frame-32442 {
  height: 72px;
  left: 40px;
  position: absolute;
  top: 16px;
  width: 1032px;
}
.group-photos {
  bottom: 24px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  white-space: nowrap;
}
.nature-lovers3 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-87513 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 647px;
  width: 1112px;
}
.rectangle-8763 {
  height: 199px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 112px;
}
.text-1110 {
  height: 72px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 72px;
  width: 638px;
}
