.frame-20333 {
  left: 790px;
  top: 158px;
}
.frame-20334 {
  left: 790px;
  top: 158px;
}
.frame-20335 {
  left: 790px;
  top: 158px;
}
.frame-20392 {
  background-color: var(--licorice);
  height: 158px;
  left: 632px;
  position: absolute;
  top: 316px;
  width: 158px;
}
