.frame-3231 {
  height: 160px;
  left: 40px;
  position: absolute;
  top: 96px;
  width: 1032px;
}
.frame-3232 {
  height: 152px;
  left: 0px;
  opacity: 0.3;
  top: 0px;
}
.frame-3258 {
  height: 160px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 448px;
}
.rectangle-117 {
  height: 160px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 264px;
}
.see-lesson {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}
.text-705 {
  height: 72px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  width: 450px;
}
.x01-introducing {
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
