.frame-19436 {
  background-color: var(--licorice);
  height: 1126px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-19446 {
  background-color: rgba(42,42,42,1.0);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-19747 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-19753 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 247px;
}
.frame-19762 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 248px;
}
.frame-19775 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-19785 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-28477 {
  background-color: var(--caribbean-green);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.rectangle-85911 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.text-13 {
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
