.frame-2074 {
  height: 40px;
  left: 24px;
  position: absolute;
  top: 144px;
  width: 568px;
}
.frame-20752 {
  top: 184px;
}
.frame-2076 {
  top: 224px;
}
.frame-2077 {
  top: 264px;
}
.frame-2078 {
  background-color: var(--shark-2);
  border-radius: 4px;
  top: 304px;
}
.text-830 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
