.frame-2789-12 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 115px;
}
.frame-279122 {
  height: 16px;
  position: relative;
}
.x22564-followers {
  color: var(--monsoon);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
