.frame-3255 {
  height: 160px;
  left: 40px;
  position: absolute;
  top: 296px;
  width: 1032px;
}
.frame-3256 {
  height: 80px;
  left: 48px;
  position: absolute;
  top: 40px;
  width: 165px;
}
.frame-3257 {
  top: 496px;
}
.layer-231 {
  height: 48px;
  width: 48px;
}
.lock-outline4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 58px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.lock2 {
  height: 100%;
  position: relative;
}
.text-708 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}
.vector-138 {
  height: 84.38%;
  left: 16.67%;
  position: absolute;
  top: 8.04%;
  width: 66.67%;
}
.vector-221 {
  height: 25.00%;
  left: 37.50%;
  position: absolute;
  top: 50.00%;
  width: 25.00%;
}
.vector20 {
  height: 1.04%;
  left: 49.48%;
  position: absolute;
  top: 49.48%;
  width: 1.04%;
}
