.add-news-1 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.add-news3 {
  left: 87px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.close-outline-119 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 28px;
  width: 24px;
}
.continue5 {
  height: 24px;
  left: calc(50.00% - 33px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.frame-193312 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 78px;
}
.frame-19573 {
  border-radius: 4px;
  height: 280px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 728px;
}
.frame-196315 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-196416 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 384px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 320px;
  width: 608px;
}
.frame-196921 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 279px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 728px;
}
.frame-198011 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 824px;
}
.frame-198311 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 248px;
}
.frame-28541 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 312px;
  width: 200px;
}
.frame-29165 {
  border-radius: 4px;
  height: 280px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 504px;
  width: 728px;
}
.frame-29175 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 280px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 824px;
  width: 728px;
}
.frame-65-18 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 208px;
  width: 560px;
}
.frame-6521 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 104px;
  width: 560px;
}
.frame-919 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 69px;
}
.news- {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.rectangle-12013 {
  background-color: rgba(0,0,0,1.0);
  height: 279px;
  left: 0px;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  width: 728px;
}
.rectangle-85715 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.span021 {
  color: rgba(137,137,137,1.0);
  line-height: 16px;
}
.span121 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.x3-add-news {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
