.frame-28322 {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 167px;
}
.frame-29872 {
  height: 24px;
  position: relative;
  top: 8px;
  width: 231px;
}
.frame-2995 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 200px;
  width: 304px;
}
.frame-2997 {
  left: 400px;
}
.text-632 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
