.frame-28012 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 72px;
}
.frame-28022 {
  height: 60px;
  left: 88px;
  position: absolute;
  top: 6px;
  width: 208px;
}
.frame-2803 {
  height: 72px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 296px;
}
.text-373 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}
.think-like-a-farmer2 {
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
