.frame-19823 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 139px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 187px;
}
.frame-198310 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 342px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 155px;
}
.frame-19875 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.frame-20275 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 0px;
  width: 164px;
}
.frame-20495 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 632px;
  width: 158px;
}
.frame-20555 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 632px;
  width: 164px;
}
.frame-28925 {
  height: 790px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 1112px;
}
.frame-29015 {
  height: 846px;
  left: 288px;
  position: absolute;
  top: 240px;
  width: 1112px;
}
.frame-34642 {
  height: 48px;
  left: 288px;
  position: absolute;
  top: 96px;
  width: 497px;
}
.frame-3475 {
  height: 640px;
  left: 63px;
  position: absolute;
  top: 19px;
  width: 896px;
}
.rectangle-860-15 {
  background-color: var(--onyx);
  height: 1px;
  left: -80px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-25 {
  background-color: var(--onyx);
  height: 1px;
  left: 78px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-35 {
  background-color: var(--onyx);
  height: 1px;
  left: 236px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-45 {
  background-color: var(--onyx);
  height: 1px;
  left: 394px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-55 {
  background-color: var(--onyx);
  height: 1px;
  left: 552px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-65 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 157px;
  width: 1112px;
}
.rectangle-860-75 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 315px;
  width: 1112px;
}
.rectangle-860-85 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 1112px;
}
.rectangle-860-95 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 631px;
  width: 1112px;
}
.rectangle-86010 {
  background-color: var(--onyx);
  height: 1px;
  left: -238px;
  position: absolute;
  top: 395px;
  transform: rotate(-90deg);
  width: 790px;
}
.s-events2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.x43-calendar-show-3-more-events {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1126px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
