.layer-225 {
  height: 28px;
  margin-left: -5px;
  margin-top: -1.15px;
  width: 30px;
}
.paper-plane {
  height: 100%;
  position: relative;
}
.paper-plane-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 16px;
  top: 12px;
  width: 24px;
}
.vector-155 {
  height: 1.77%;
  left: 59.33%;
  position: absolute;
  top: 45.67%;
  width: 1.66%;
}
.vector-165 {
  height: 69.02%;
  left: 14.53%;
  position: absolute;
  top: 15.49%;
  width: 64.74%;
}
