@mixin setPlaceholderPosition($event) {
  @if $event == "active" {
    transform: translate(0px, -11px);
    p {
      font: 400 14px/24px var(--font-family);
    }
  } @else if $event == "default" {
    transform: translate(0px, 0px) scale(1);
    p {
      font: 400 16px/24px var(--font-family);
    }
  }
}

@mixin setInputPosition($event) {
  @if $event == "active" {
    transform: translate(0px, 11px);
  } @else if $event == "default" {
    transform: translate(0px, 0px) scale(1);
  }
}
