.checkboxunchecked {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.frame-11 {
  height: 24px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 245px;
}
.span05 {
  color: rgba(248,235,223,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  line-height: 16px;
}
.span15 {
  color: rgba(248,235,223,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.span25 {
  color: rgba(248,235,223,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: underline;
}
.text-9 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
