.frame-3693 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 91px;
}
.frame-36932 {
  left: 24px;
  top: 152px;
}
.leaders {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
