.frame-19435 {
  background-color: var(--licorice);
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-19445 {
  background-color: rgba(42,42,42,1.0);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-19774 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-19784 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-28476 {
  background-color: rgba(42,42,42,1.0);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.rectangle-85910 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
