.loading-container {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .loading-wrapper {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        @keyframes spin-anim {
            0% {
                transform: rotate( 0deg );
            }
            100% {
                transform: rotate( 360deg );
            }
        }

        .loading {
            color: var(--primary-white);
            animation: spin-anim 1s linear infinite;
            height: 50px;
            width: 50px;
        }
    }

}