.frame-3696 {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 144px;
  width: 150px;
}
.frame-36962 {
  left: 56px;
  top: 248px;
}
.marketer-sales {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
