.frame-19472 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 64px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 280px;
  width: 247px;
}
.frame-19473 {
  background-color: var(--caribbean-green);
}
.frame-19832 {
  height: 24px;
  left: 24px;
  position: relative;
  top: 20px;
  width: 85px;
}
.text-41 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
