.frame-33183 {
  height: 56px;
  left: 21px;
  position: relative;
  top: 12px;
  width: 79px;
}
.text-117 {
  color: var(--white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}
