@import "src/scss/mixins";

.change-password-modal-container {
  width: 100%;

  .inputs-container {
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .buttons-container {
    width: 70%;
    height: 48px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex-shrink: 0;
  }

  @include breakpoint("tablet") {
    .buttons-container {
      width: 100%;
    }
  }

  @include breakpoint("mobile") {
    .buttons-container {
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
