.search-btn {
  border: 1px solid #3a3939;
  background: #141414;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 4px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87%;
}

.search-btn img {
  margin-right: 10px;
}

.search-btn input {
  background: transparent;
  outline: none;
  border: none;
  color: rgb(126, 118, 118);
}

.edit-btn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.search {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
  width: 100%;
}

.search-1 {
  color: rgba(137, 137, 137, 1);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 65px;
  white-space: nowrap;
  background-color: black;
  border: none;
  outline: none;
}
