.search-btn {
  border: 1px solid #3a3939;
  background: #141414;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 4px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn img {
  margin-right: 10px;
}

.search-btn input {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
}

.edit-btn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
