.frame-2068 {
  background-color: var(--caribbean-green);
  border-radius: 100px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 8px;
}
.frame-3471 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 134px;
}
.frame-3471-1 {
  left: 8px;
  top: 48px;
}
.x0230-pm-call-wi {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
}
