.component-4 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.group5 {
  height: 21.66%;
  left: 23.78%;
  position: absolute;
  top: 48.93%;
  width: 52.91%;
}
.vector-131 {
  height: 22.92%;
  left: 62.50%;
  position: absolute;
  top: -0.96%;
  width: 25.00%;
}
.vector-219 {
  height: 105.80%;
  left: -2.48%;
  position: absolute;
  top: -2.90%;
  width: 35.44%;
}
.vector-311 {
  height: 105.80%;
  left: 32.61%;
  position: absolute;
  top: -2.90%;
  width: 35.44%;
}
.vector-49 {
  height: 105.80%;
  left: 70.75%;
  position: absolute;
  top: -2.90%;
  width: 31.50%;
}
.vector18 {
  height: 100%;
  left: 12.50%;
  position: absolute;
  top: 0px;
  width: 75.00%;
}
