.frame-19337 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 78px;
}
.frame-47 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 336px;
  width: 560px;
}
.frame-48 {
  left: 0px;
  top: 48px;
}
.frame-6510 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.frame-912 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 239px;
}
.name {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.video-title {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
