.payment-container {
  align-items: flex-start;
  background-color: var(--background-color);
  display: flex;
  height: 1108px;
  position: relative;
  width: 100%;
}

.payment-flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 1068px;
  position: relative;
  width: 1112px;
}

.payment-card-container {
  align-items: flex-start;
  background-color: var(--cards);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 416px;
  padding: 40px;
  width: 1112px;
}

.payment-info-card-2 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 24px;
  overflow: hidden;
  padding: 0 47px;
  width: 208px;
}

.payment-info-card {
  align-items: center;
  background-color: var(--primary-white);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 24px;
  width: 208px;
}

.payment-information {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 159px;
  white-space: nowrap;
}

.course-reports {
  color: var(--primary-white);
  font-family: 'IBM Plex Sans-SemiBold', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 112px;
  white-space: nowrap;
}

.payment-text {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 40px;
  min-height: 24px;
  white-space: nowrap;
}

.payment-card-container-item {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 512px;
}

.payment-overlap-group {
  height: 24px;
  position: relative;
  width: 512px;
}

.boderline {
  background-color: var(--cards);
  height: 1px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 512px;
}

.or-container {
  align-items: flex-start;
  background-color: var(--cards);
  display: flex;
  height: 24px;
  justify-content: flex-end;
  left: 241px;
  min-width: 29px;
  padding: 0 1px;
  position: absolute;
  top: 0;
}

.or {
  color: var(--primary-white);
  font-family: 'IBM Plex Sans-SemiBold', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.add-card {
  align-items: center;
  background-color: var(--background-color-light);
  border-radius: 4px;
  display: flex;
  height: 80px;
  margin-top: 24px;
  overflow: hidden;
  padding: 0 24px;
  width: 512px;
}

.add-my-card {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 2px;
  margin-top: 8px;
  min-height: 24px;
  min-width: 95px;
  white-space: nowrap;
}

.plus-icon {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 4px 4px;
  width: 24px;
}

.plus-icon-image {
  height: 16px;
  position: relative;
  width: 16px;
}
