.frame-19594 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 240px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 272px;
  width: 536px;
}
.frame-196923 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 192px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 168px;
}
.frame-19794 {
  height: 192px;
  left: 216px;
  position: absolute;
  top: 24px;
  width: 296px;
}
.frame-19862 {
  left: 864px;
  top: 552px;
}
.frame-19876 {
  top: 832px;
}
.frame-27896 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 106px;
}
.frame-279120 {
  height: 16px;
  position: relative;
}
.frame-27934 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 188px;
}
.x2564-followers2 {
  color: var(--monsoon);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
