.messenger-wrapper {
  width: 100%;
  height: 100%;
  background: #141414;
  border: 1px solid #3a3939;
  border-radius: 4px;
  display: flex;
}

.col-1 {
  width: 40%;
  height: 100%;
  border-right: 1px solid #3a3939;
}

.col-2 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.col-2 h4 {
  font-size: 16px;
  font-weight: 400;
  color: #8a8a8a;
}

.col-2-alternative {
  width: 60%;
  height: 100%;
}

@media only screen and (max-width: 850px){
  .messenger-wrapper{
    flex-direction: column;
  }

  .col-1 {
    width: 100%;
  }

  .col-2-alternative {
    width: 100%;
     position: fixed;
    z-index: 5000;
  }

  .col-2 {
    display: none;
  }
}

@media only screen and (max-width: 850px){
  .contact-card {
    padding: 4px 8px; 
  }

  .contact-text {
    font-size: 12px;
    width: 40%;
    margin-left: 4px;
  }

  .contact-noti span {
    font-size: 12px;
  }
}