.simple-modal-container {
  position: fixed;
  width: 100%;
  background: var(--cards);
  height: 100%;
  z-index: 2000;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-modal-inner-container {
  width: 30%;
  height: 30%;
  background: var(--cards);
  padding: 2em 1.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.simple-modal-inner-container > h4 {
  font-size: 1.8em;
}
