.frame-1988-32 {
  left: 51px;
}
.frame-1988-4 {
  height: 24px;
  left: 52px;
  position: relative;
  top: 8px;
  width: 52px;
}
.frame-1988-5 {
  left: 53px;
}
.frame-1988-6 {
  left: 56px;
}
.frame-1988-7 {
  left: 58px;
}
.frame-1988-8 {
  left: 53px;
  position: absolute;
}
.nov-13 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
