.add-members2 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.delete-event {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.edit {
  height: 100%;
  position: relative;
}
.edit-event {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.edit-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.frame-20793 {
  background-color: rgba(39,44,51,1.0);
  border-radius: 4px;
  box-shadow: 0px 16px 40px rgba(0,0,0,0.25);;
  height: 168px;
  left: 588px;
  overflow: hidden;
  position: absolute;
  top: 382px;
  width: 280px;
}
.frame-2080-12 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 109px;
}
.frame-2080-2 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 129px;
}
.frame-20804 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 140px;
}
.frame-20812 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 280px;
}
.frame-20822 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 280px;
}
.frame-20832 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 280px;
}
.layer-232 {
  height: 24px;
  width: 24px;
}
.vector-139 {
  height: 66.67%;
  left: 15.61%;
  position: absolute;
  top: 16.79%;
  width: 68.75%;
}
.vector22 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
