.address3 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
.date3 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
.frame-19793 {
  height: 184px;
  left: 24px;
  position: absolute;
  top: 72px;
  width: 630px;
}
.frame-27892 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 160px;
  width: 231px;
}
.text-86 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 72px;
  width: 632px;
}
