.settings-modal-container {
  position: fixed;
  width: 50%;
  background: var(--cards);
  height: 100%;
  z-index: 2000;
  color: var(--primary-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-modal-inner-container {
  width: 90%;
  height: 90%;
  background: var(--popups);
  padding: 2em 1.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.input-gap {
  padding-top: 1em;
}
