.frame-28016 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-28025 {
  height: 88px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 584px;
}
.frame-28123 {
  height: 88px;
  left: 40px;
  position: relative;
  top: 24px;
  width: 648px;
}
.frame-29592 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 464px;
  width: 728px;
}
.name13 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.span018 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.span118 {
  color: rgba(248,235,223,1.0);
  font-family: 'Inter', Helvetica;
  font-weight: 500;
  line-height: 16px;
}
.span29 {
  color: rgba(248,235,223,1.0);
  line-height: 16px;
}
.text-1018 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 586px;
}
.text-1019 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 64px;
  white-space: nowrap;
}
