.frame-2984 {
  border-radius: 4px;
  height: 528px;
  left: 864px;
  overflow: hidden;
  position: absolute;
  top: 840px;
  width: 536px;
}
.frame-2984-1 {
  height: 528px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 536px;
}
