.frame-29563 {
  height: 564px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-2962 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 288px;
  left: 40px;
  position: absolute;
  top: 188px;
  width: 648px;
}
.rectangle-8755 {
  background-color: var(--onyx);
  bottom: 0px;
  height: 1px;
  left: 0px;
  position: absolute;
  width: 728px;
}
.text-374 {
  height: 24px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
  width: 650px;
}
