.add-files {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.add-to {
  height: 24px;
  left: 719px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
.added {
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.all-files {
  color: var(--shark);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.articles {
  color: var(--white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 288px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}
.business {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}
.checkmark {
  height: 100%;
  position: relative;
}
.checkmark-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.filter-by {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-19518 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 1064px;
  position: absolute;
  top: 16px;
  width: 48px;
}
.frame-19548 {
  height: 80px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-1983-1 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 248px;
}
.frame-19836 {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 105px;
}
.frame-1984 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 119px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 227px;
}
.frame-1985 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 360px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 180px;
}
.frame-1986 {
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 554px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 174px;
}
.frame-19892 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 1152px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 248px;
}
.frame-2761 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 408px;
  left: 816px;
  overflow: hidden;
  position: absolute;
  top: 67px;
  width: 544px;
}
.frame-28172 {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 94px;
}
.frame-28489 {
  height: 24px;
  position: absolute;
  right: 206px;
  top: 28px;
  width: 142px;
}
.frame-29132 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 12px;
  width: 151px;
}
.frame-2981 {
  height: 48px;
  left: 288px;
  position: absolute;
  top: 96px;
  width: 728px;
}
.frame-3074 {
  height: 104px;
  left: 136px;
  position: absolute;
  top: 12px;
  width: 357px;
}
.frame-3265 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 824px;
}
.frame-3266 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 120px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 448px;
  width: 1112px;
}
.frame-3291 {
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 357px;
}
.frame-3291-1 {
  border-radius: 4px;
  height: 48px;
  left: 792px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 157px;
}
.frame-3328 {
  height: 24px;
  left: 38px;
  position: relative;
  top: 12px;
  width: 81px;
}
.frame-3371 {
  background-color: var(--white);
  border-radius: 100px;
  height: 16px;
  left: 1249px;
  position: absolute;
  top: 23px;
  width: 16px;
}
.frame-3373 {
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 544px;
}
.group-19435 {
  height: 1231px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1404px;
}
.layer-220 {
  height: 24px;
  width: 24px;
}
.left-center-tip {
  height: 11px;
  left: 1237px;
  position: absolute;
  top: 56px;
  width: 19px;
}
.library {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 16px);
  white-space: nowrap;
}
.my-dashboard {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.number5 {
  color: var(--caribbean-green);
  font-family: 'Inter', Helvetica;
  font-size: 11px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}
.rectangle-1194 {
  height: 120px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}
.saved-collection {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.search-courses {
  color: rgba(155,163,173,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-191 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-237 {
  height: 64px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 32px);
  width: 359px;
}
.users-collections {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.vector-120 {
  height: 54.17%;
  left: 14.66%;
  position: absolute;
  top: 22.83%;
  width: 70.83%;
}
.vector11 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.videos {
  color: var(--white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 288px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 744px;
  white-space: nowrap;
}
.x14-1-messages-popup {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1231px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
.your-messages {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
