.frame-3020 {
  height: 72px;
  left: 244px;
  opacity: 0.2;
  position: absolute;
  top: 40px;
  width: 65px;
}
.frame-3021 {
  left: 438px;
}
.frame-3022 {
  left: 632px;
}
.text-700 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
