.frame-3060-2 {
  border-radius: 4px;
  height: 218px;
  left: 503px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 218px;
}
.frame-3060-3 {
  height: 216px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}
.frame-3060-4 {
  top: 551px;
}
.text-244 {
  height: 48px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 152px;
  width: 186px;
}
