.frame4 {
  height: 24px;
  left: calc(50.00% - 108px);
  overflow: hidden;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 160px;
}
.group3 {
  background-size: 100% 100%;
  height: 99.84%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15.57%;
}
.vector-116 {
  height: 100%;
  left: 33.75%;
  position: absolute;
  top: 0px;
  width: 15.62%;
}
.vector-29 {
  height: 100%;
  left: 50.50%;
  position: absolute;
  top: 0px;
  width: 15.94%;
}
.vector-34 {
  height: 100%;
  left: 67.52%;
  position: absolute;
  top: 0px;
  width: 15.62%;
}
.vector-44 {
  height: 100%;
  left: 84.25%;
  position: absolute;
  top: 0px;
  width: 15.94%;
}
.vector7 {
  height: 100%;
  left: 16.88%;
  position: absolute;
  top: 0px;
  width: 15.62%;
}
