@import "src/scss/mixins";

@mixin createBluredCircle($min, $max, $color, $opacity, $blur) {
  position: absolute;

  width: $max;
  min-width: $min;
  height: $max;
  min-height: $min;
  border-radius: 100%;

  opacity: $opacity;
  background: $color;

  filter: url(#blur);
  filter: blur($blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');

  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  -moz-filter: blur($blur);
  -webkit-filter: blur($blur);
}

.auth-blur-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #141414;
  overflow: hidden;

  .page-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  }

  .blur-circles-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    overflow: hidden;
    background-color: transparent;

    .blur-circle {
      &-top {
        top: -200px;
        left: 350px;
        @include createBluredCircle(500px, 25vw, #3a84d9, 0.2, 65px);
      }

      &-right {
        top: 50vh;
        right: -400px;
        transform: translateY(-50%);
        @include createBluredCircle(720px, 35vw, #58bd88, 0.2, 70px);
      }

      &-bottom {
        bottom: -200px;
        left: 485px;
        @include createBluredCircle(450px, 25vw, #da3443, 0.2, 65px);
      }

      &-left {
        top: 50vh;
        left: -400px;
        transform: translateY(-50%);
        @include createBluredCircle(680px, 35vw, #eaa533, 0.2, 70px);
      }
    }
  }
}
