@import "src/scss/mixins";

@mixin dropShadow($color, $blur, $spread) {
  background-color: $color;
  box-shadow: 0px 0px $blur $spread $color;
  -moz-box-shadow: 0px 0px $blur $spread $color;
  -webkit-box-shadow: 0px 0px $blur $spread $color;
}

.auth-blur-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #141414;
  overflow: hidden;

  .page-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  }

  .blur-circles-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    background-color: transparent;

    .blur-circle {
      width: 2px;
      height: 2px;
      // opacity: 0.3;
      border-radius: 2px;
      position: absolute;

      &-top {
        top: -1vw;
        left: 45vw;
        opacity: 0.4;
        @include dropShadow(#3a84d9, 8vw, 18vw);
      }

      &-right {
        width: 549px;
        height: 549px;
        border-radius: 549px;
        top: 50vh;
        right: -231px;
        transform: translateY(-50%);

        // opacity: 0.3;
        // @include dropShadow(#58bd88, 5vw, 30vw);
        background: #58bd88;
        opacity: 0.4;
        filter: blur(135px);
      }

      &-bottom {
        bottom: -1vw;
        left: 48vw;
        opacity: 0.4;
        @include dropShadow(#da3443, 8vw, 18vw);
      }

      &-left {
        top: 50vh;
        left: -5vw;
        opacity: 0.3;
        @include dropShadow(#eaa533, 5vw, 25vw);
      }
    }
  }

  @include breakpoint("mobile", "minMax") {
    .blur-circles-container {
      display: none;
    }
  }
}
