.frame-19887 {
  height: 24px;
  left: 53px;
  position: relative;
  top: 8px;
  width: 52px;
}
.frame-20323 {
  left: 632px;
  top: 158px;
}
.frame-20324 {
  left: 632px;
  top: 158px;
}
.frame-20325 {
  left: 632px;
  top: 158px;
}
.frame-20372 {
  background-color: var(--licorice);
  height: 158px;
  left: 316px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.nov-17 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
