.address14 {
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-2801-12 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-2802-12 {
  height: 112px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 584px;
}
.frame-2802-2 {
  height: 88px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 584px;
}
.frame-28043 {
  height: 24px;
  left: 40px;
  position: absolute;
  top: 208px;
  width: 105px;
}
.frame-2812-12 {
  height: 88px;
  left: 40px;
  position: relative;
  top: 24px;
  width: 648px;
}
.frame-28124 {
  height: 112px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 648px;
}
.frame-2813-1 {
  height: 24px;
  left: 40px;
  position: relative;
  width: 143px;
}
.frame-28134 {
  height: 24px;
  left: 40px;
  position: relative;
  top: 24px;
  width: 131px;
}
.frame-29544 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 752px;
  left: 288px;
  position: absolute;
  top: 1439px;
  width: 728px;
}
.frame-29569 {
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-29573 {
  height: 72px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 728px;
}
.frame-29583 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 728px;
}
.frame-29593 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 464px;
  width: 728px;
}
.frame-29625 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 600px;
  width: 728px;
}
.frame-29712 {
  height: 128px;
  left: 0px;
  position: absolute;
  top: 624px;
  width: 728px;
}
.most-newest2 {
  color: var(--caribbean-green);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.name14 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-875-14 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 255px;
  width: 728px;
}
.rectangle-875-24 {
  background-color: var(--onyx);
  height: 1px;
  left: 40px;
  position: absolute;
  top: 135px;
  width: 648px;
}
.show-more-replies2 {
  color: var(--caribbean-green);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
}
.span019 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.span119 {
  color: rgba(248,235,223,1.0);
  font-weight: 500;
  line-height: 16px;
}
.text-1083 {
  height: 48px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 136px;
  width: 650px;
}
.text-1084 {
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  width: 586px;
}
.text-1085 {
  color: var(--monsoon);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}
.text-1086 {
  color: transparent;
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 586px;
}
.text-1087 {
  color: var(--monsoon);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 64px;
  white-space: nowrap;
}
