.add-members5 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
}
.cancel {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: calc(50.00% + 36px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 540px;
  white-space: nowrap;
}
.close-outline-115 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 376px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.edit-event2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.frame-193311 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 34px;
}
.frame-1934-12 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 70px;
}
.frame-19348 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 265px;
}
.frame-196311 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.frame-1964-12 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 200px;
  width: 376px;
}
.frame-196412 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 600px;
  left: 508px;
  overflow: hidden;
  position: absolute;
  top: 231px;
  width: 424px;
}
.frame-19874 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.frame-198812 {
  height: 24px;
  left: 52px;
  position: relative;
  top: 8px;
  width: 53px;
}
.frame-20274 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 0px;
  width: 164px;
}
.frame-20384 {
  background-color: var(--licorice);
  height: 158px;
  left: 474px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.frame-20494 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 632px;
  width: 158px;
}
.frame-20554 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 632px;
  width: 164px;
}
.frame-28535 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 528px;
  width: 200px;
}
.frame-28924 {
  height: 790px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 1112px;
}
.frame-29014 {
  height: 846px;
  left: 288px;
  position: absolute;
  top: 176px;
  width: 1112px;
}
.frame-29245 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 464px;
  width: 136px;
}
.frame-2947 {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 320px;
  width: 133px;
}
.frame-2948 {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 400px;
  width: 128px;
}
.frame-2950 {
  height: 24px;
  left: 28px;
  position: absolute;
  top: 360px;
  width: 182px;
}
.frame-65-16 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 152px;
}
.frame-6519 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 376px;
}
.frame-663 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 176px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}
.frame-9-12 {
  height: 48px;
  overflow: hidden;
  position: relative;
}
.name11 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-85711 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-860-14 {
  background-color: var(--onyx);
  height: 1px;
  left: -80px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-24 {
  background-color: var(--onyx);
  height: 1px;
  left: 78px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-34 {
  background-color: var(--onyx);
  height: 1px;
  left: 236px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-44 {
  background-color: var(--onyx);
  height: 1px;
  left: 394px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-54 {
  background-color: var(--onyx);
  height: 1px;
  left: 552px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-64 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 157px;
  width: 1112px;
}
.rectangle-860-74 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 315px;
  width: 1112px;
}
.rectangle-860-84 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 1112px;
}
.rectangle-860-94 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 631px;
  width: 1112px;
}
.rectangle-8609 {
  background-color: var(--onyx);
  height: 1px;
  left: -238px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.save-changes {
  height: 24px;
  left: calc(50.00% - 52px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.start-time3 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.text-985 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.title3 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.x0300-pm {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.x4-6-add-new-members {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1062px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
