.frame-3292 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 170px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 131px;
}
.frame-3292-1 {
  left: 965px;
  top: 36px;
}
.frame-33283 {
  height: 24px;
  left: 24px;
  position: relative;
  top: 12px;
  width: 83px;
}
.text-195 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
