.frame-20352 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.frame-20363 {
  left: 158px;
}
.frame-20364 {
  left: 158px;
}
.frame-20365 {
  left: 158px;
}
.frame-20382 {
  left: 474px;
}
.frame-20383 {
  left: 474px;
}
