.facebook2 {
  color: rgba(238,238,238,1.0);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: calc(50.00% - 16px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.frame-117 {
  height: 24px;
  left: calc(50.00% - 56px);
  position: relative;
  top: calc(50.00% - 12px);
  width: 112px;
}
.frame-26782 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(248,235,223,0.16);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 240px;
}
.frame-2679-1 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(248,235,223,0.16);
  border-radius: 4px;
  height: 48px;
  left: 264px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 240px;
}
.frame-26792 {
  height: 24px;
  left: calc(50.00% - 42px);
  position: relative;
  top: 12px;
  width: 84px;
}
.frame-26802 {
  top: 336px;
}
.frame-26803 {
  top: 356px;
}
.frame-26804 {
  top: 336px;
}
.frame-2681 {
  height: 96px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 504px;
}
.frame-26812 {
  top: 412px;
}
.frame-34942 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 48px;
  width: 504px;
}
.google2 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.group2 {
  height: 100.00%;
  position: relative;
  width: 98.00%;
}
.logo-googleg-48-dp-12 {
  height: 24px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 24px;
}
.subtract3 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}
.text-4 {
  left: 178px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.vector-162 {
  height: 50.00%;
  left: 50.00%;
  position: absolute;
  top: 39.40%;
  width: 51.02%;
}
.vector-172 {
  height: 41.67%;
  left: 4.71%;
  position: absolute;
  top: 58.92%;
  width: 80.78%;
}
.vector-182 {
  height: 45.83%;
  left: -0.46%;
  position: absolute;
  top: 27.08%;
  width: 23.38%;
}
.vector-192 {
  height: 41.67%;
  left: 3.84%;
  position: absolute;
  top: -0.58%;
  width: 82.91%;
}
