.frame-19695 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 279px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 728px;
}
.rectangle-12012 {
  background-color: rgba(0,0,0,1.0);
  height: 279px;
  left: 0px;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  width: 728px;
}
