.frame-28233 {
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 72px;
  width: 91px;
}
.frame-28234 {
  top: 56px;
}
.last-login {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.phone4 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
