@import "src/scss/mixins";
@import "src/scss/variables";

.members-container {
  width: 100%;
  overflow-y: scroll;

  .scroll-container {
    width: fit-content;
    height: fit-content;
    gap: $gap-big;
    @include flexRow(flex-start, flex-start);

    .member-container {
      cursor: pointer;
      position: relative;
      gap: $gap-smallest;
      @include flexColumn(center, flex-start);

      .avatar-container {
        @include circle(152px);
      }

      h4 {
        text-align: center;
        @include breakEachWord();
      }

      &-last-member {
        .avatar-container {
          opacity: 0.4;
        }

        h4 {
          opacity: 0.4;
        }

        .view-all-container {
          width: 100%;
          @include flexRow(center, center);
          @include position(absolute, 75px);

          h4 {
            width: auto;
            opacity: 1;
          }
        }
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @include breakpoint("tablet", "max") {
    .scroll-container {
      gap: $gap-medium;

      .member-container {
        .avatar-container {
          @include circle(120px);
        }

        &-last-member {
          .view-all-container {
            @include position(absolute, 55px);
          }
        }
      }
    }
  }
}
