.frame-29564 {
  background-color: var(--licorice);
  border-radius: 4px;
  bottom: 2px;
  height: 344px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  width: 1112px;
}
.frame-29652 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 36px;
  height: 200px;
  left: 40px;
  position: absolute;
  width: 200px;
}
.frame-29662 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 36px;
  height: 200px;
  left: 264px;
  position: absolute;
  width: 200px;
}
.frame-29672 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 36px;
  height: 200px;
  left: 488px;
  position: absolute;
  width: 200px;
}
.frame-29682 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 36px;
  height: 200px;
  left: 712px;
  position: absolute;
  width: 200px;
}
.frame-29692 {
  background-color: rgba(193,155,155,1.0);
  background-size: 100% 100%;
  border-radius: 4px;
  bottom: 36px;
  height: 200px;
  left: 936px;
  overflow: hidden;
  position: absolute;
  width: 200px;
}
.rectangle-8762 {
  height: 200px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 176px;
}
