.frame-29262 {
  height: 232px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 232px;
}
.frame-3007-1 {
  background-color: var(--quarter-spanish-white);
  border-radius: 4px;
  height: 218px;
  left: 263px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 218px;
}
.frame-3007-2 {
  top: 287px;
}
