.frame-20422 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 474px;
  width: 158px;
}
.frame-20433 {
  left: 158px;
}
.frame-20434 {
  left: 158px;
}
.frame-20435 {
  left: 158px;
}
.frame-20443 {
  left: 316px;
}
.frame-20444 {
  left: 316px;
}
.frame-20445 {
  left: 316px;
}
.frame-20453 {
  left: 474px;
}
.frame-20454 {
  left: 474px;
}
.frame-20455 {
  left: 474px;
}
