.frame-2041 {
  background-color: var(--licorice);
  height: 158px;
  left: 948px;
  position: absolute;
  top: 316px;
  width: 164px;
}
.nov-19 {
  left: 53px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
