.address11 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-27894 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-27903 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 204px;
}
.frame-2791-12 {
  height: 24px;
  position: relative;
}
.frame-27932 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 204px;
}
.text-785 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
