.frame-3698 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 107px;
}
.frame-36982 {
  left: 24px;
  top: 328px;
}
.marketers {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
