.frame-20222 {
  left: 158px;
  top: 0px;
}
.frame-20223 {
  left: 158px;
  top: 0px;
}
.frame-20224 {
  left: 158px;
  top: 0px;
}
.frame-20234 {
  left: 316px;
  top: 0px;
}
.frame-20235 {
  left: 316px;
  top: 0px;
}
.frame-20236 {
  left: 316px;
  top: 0px;
}
.frame-20263 {
  left: 790px;
  top: 0px;
}
.frame-20264 {
  left: 790px;
  top: 0px;
}
.frame-20265 {
  left: 790px;
  top: 0px;
}
.frame-20282 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 158px;
  width: 158px;
}
.frame-20293 {
  left: 158px;
}
.frame-20294 {
  left: 158px;
}
.frame-20295 {
  left: 158px;
}
.frame-20532 {
  left: 632px;
  top: 632px;
}
.frame-20533 {
  left: 632px;
  top: 632px;
}
.frame-20534 {
  left: 632px;
  top: 632px;
}
.frame-20543 {
  left: 790px;
  top: 632px;
}
.frame-20544 {
  left: 790px;
  top: 632px;
}
.frame-20545 {
  left: 790px;
  top: 632px;
}
