.add-post {
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.file-text-1 {
  height: 24px;
  left: 112px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-196916 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 336px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 1032px;
}
.frame-19809 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 232px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 1192px;
  width: 728px;
}
.frame-27985 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 994px;
  left: 287px;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-27995 {
  height: 648px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-28017 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 256px;
  left: 1056px;
  overflow: hidden;
  position: absolute;
  top: 1192px;
  width: 344px;
}
.frame-28102 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 536px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 176px;
}
.frame-28154 {
  background-color: rgba(213,167,167,1.0);
  background-size: 100% 100%;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-29135 {
  height: 96px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 696px;
}
.frame-29543 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 752px;
  left: 288px;
  position: absolute;
  top: 1464px;
  width: 728px;
}
.frame-29555 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 748px;
  left: 288px;
  position: absolute;
  top: 2256px;
  width: 728px;
}
.frame-29566 {
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-3725 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 728px;
}
.frame-3726 {
  height: 24px;
  left: 16px;
  opacity: 0.5;
  position: absolute;
  top: 28px;
  width: 24px;
}
.rectangle-875-13 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 647px;
  width: 1112px;
}
.rectangle-875-23 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.rectangle-87511 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 255px;
  width: 728px;
}
.text-1070 {
  height: 48px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 136px;
  width: 650px;
}
.text-1077 {
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  width: 617px;
}
.vector-147 {
  height: 33.33%;
  left: 54.17%;
  position: absolute;
  top: 4.17%;
  width: 33.33%;
}
.vector-226 {
  height: 8.33%;
  left: 29.17%;
  position: absolute;
  top: 50.00%;
  width: 41.67%;
}
.vector-315 {
  height: 8.33%;
  left: 29.17%;
  position: absolute;
  top: 66.67%;
  width: 41.67%;
}
.vector-412 {
  height: 8.33%;
  left: 29.17%;
  position: absolute;
  top: 33.33%;
  width: 16.67%;
}
.vector25 {
  height: 91.67%;
  left: 12.50%;
  position: absolute;
  top: 4.17%;
  width: 75.00%;
}
.x541-my-group-owner-view {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 2374px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
