.frame-20403 {
  left: 790px;
  top: 316px;
}
.frame-20404 {
  left: 790px;
  top: 316px;
}
.frame-20405 {
  left: 790px;
  top: 316px;
}
.frame-20463 {
  background-color: var(--licorice);
  height: 158px;
  left: 632px;
  position: absolute;
  top: 474px;
  width: 158px;
}
