.group-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 999;
  margin-left: -50vw;
  margin-top: -12vh;
}

.group-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  background: #191b1d;
  width: 40%;
  height: 85%;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.group-modal-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.group-modal-header button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.group-modal-header button:hover {
  transform: scale(1.1);
}

.modal-btn {
  width: 65%;
  margin-top: 20px;
}

.modal-users {
  margin-top: 20px;
  width: 65%;
  height: 500px;
  overflow-y: scroll;
}

.search-bar {
  width: 70%;
  margin-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.add-collection {
  display: flex;
  margin: 2em 0;
}

.add-collection button {
  border: none;
  color: #00c688;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
}

.add-collection button:hover {
  text-decoration: underline;
}

.added-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: red;
}
