@import "src/scss/variables";
@import "src/scss/mixins";

.action-btn {
  width: 100%;
  height: 48px;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  .btn-title {
    font-style: normal;
    font: $font-body-bold;
  }

  svg {
    margin-right: 8px;
  }

  &-tint-icon {
    svg {
      path {
        fill: currentColor;
      }
    }
  }

  &-primary {
    color: #2b2b2c;
    background-color: #00c688;

    &:hover {
      background-color: #02f2a7;
    }

    &:active {
      background-color: #05a875;
    }

    &:disabled {
      color: $color-primary-white;
      background-color: #8a8a8a;
    }
  }

  &-secondary {
    color: $color-primary-white;
    border: 0.5px solid #f8ebdf;
    background-color: rgba(255, 255, 255, 0.16);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(10px);

    &:hover {
      border-width: 1px;
      background-color: rgba(255, 255, 255, 0.24);
    }

    &:active {
      border-width: 0.5px;
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:disabled {
      border-width: 0.5px;
      background-color: $color-primary-grey;
    }
  }

  &-transparent {
    color: #00c688;
    background-color: transparent;

    &:hover {
      color: #02f2a7;
    }

    &:active {
      color: #05a875;
    }
  }

  &-transparent-red {
    color: #da3443;
    background-color: transparent;
    svg {
      @include setSvgColor(#da3443);
    }

    &:hover {
      color: #df535e;
      svg {
        @include setSvgColor(#df535e);
      }
    }

    &:active {
      color: #ac202b;
      svg {
        @include setSvgColor(#ac202b);
      }
    }
  }

  &-transparent-white {
    color: #f8ebdf;
    background-color: transparent;
    svg {
      @include setSvgColor(#f8ebdf);
    }

    &:hover {
      color: #8a8a8a;
      svg {
        @include setSvgColor(#8a8a8a);
      }
    }

    &:active {
      color: #3a3939;
      svg {
        @include setSvgColor(#3a3939);
      }
    }
  }

  &-logout {
    color: $color-primary-white;
    border: none;
    background-color: #da3443;

    &:hover {
      background-color: #df535e;
    }

    &:active {
      background-color: #ac202b;
    }
  }

  &-header-nav {
    border: none;
    color: $color-primary-white;
    background-color: transparent;

    svg {
      flex-shrink: 0;
      @include setSvgColor(#00c688);
    }

    .btn-title {
      flex-shrink: 1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &:hover {
      svg {
        @include setSvgColor(#02f2a7);
      }
    }

    &:active {
      svg {
        @include setSvgColor(#05a875);
      }
    }
  }
}
