.layer-223 {
  height: 24px;
  width: 24px;
}
.message-square {
  height: 100%;
  position: relative;
}
.message-square-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.vector-106 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-1111 {
  height: 8.33%;
  left: 45.83%;
  position: absolute;
  top: 41.67%;
  width: 8.33%;
}
.vector-126 {
  height: 8.33%;
  left: 62.50%;
  position: absolute;
  top: 41.67%;
  width: 8.33%;
}
.vector-135 {
  height: 8.33%;
  left: 29.17%;
  position: absolute;
  top: 41.67%;
  width: 8.33%;
}
.vector-145 {
  height: 79.17%;
  left: 8.33%;
  position: absolute;
  top: 12.50%;
  width: 83.33%;
}
