.frame-19292 {
  height: 128px;
  left: 80px;
  position: absolute;
  top: 64px;
  width: 504px;
}
.frame-19293 {
  top: 56px;
}
.welcome-back3 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
