.group-19433 {
  bottom: 0px;
  height: 299px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.union3 {
  bottom: 48px;
  height: 211px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
