.add-block2 {
  height: 24px;
  left: calc(50.00% - 37px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-photo {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-16 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 560px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-19632 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-19642 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 592px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 348px;
  width: 608px;
}
.frame-2371 {
  background-color: rgba(0,0,0,1.0);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 560px;
}
.frame-28294 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 310px;
  left: 287px;
  overflow: hidden;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-28515 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 200px;
}
.frame-3173 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 216px;
  overflow: hidden;
  position: relative;
}
.frame-3509 {
  height: 456px;
  left: 24px;
  position: absolute;
  top: 96px;
  width: 560px;
}
.frame-3582 {
  height: 216px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 560px;
}
.frame-3583 {
  height: 200px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 560px;
}
.rectangle-103 {
  background-color: rgba(0,0,0,1.0);
  bottom: 0px;
  height: 72px;
  left: 0px;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
.rectangle-8572 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.text2 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 96px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 1336px;
}
.x3-4-1-add-new-block-filled {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1304px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
