.frame-194312 {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.rectangle-85917 {
  background-color: var(--onyx);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
