.frame-3239-1 {
  top: 168px;
}
.frame-32392 {
  height: 104px;
  left: 16px;
  position: absolute;
  top: 128px;
  width: 292px;
}
.frame-3240 {
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 292px;
}
.name6 {
  height: 64px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  width: 294px;
}
.text-604 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
  width: 236px;
}
