@import "src/scss/mixins";

.expand-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(88, 189, 136, 0.3);

  border: none;
  outline: none;
  cursor: pointer;

  right: 0;
  top: 72px;
  position: absolute;
  transform: translateX(50%);

  display: flex;
  align-items: center;
  justify-content: center;

  .chevrons-right-icon {
    transform: rotate(0deg);
    path {
      stroke: #58bd88;
    }
    @include transition(all, 0.2s, ease-out);
  }

  &:hover {
    background-color: rgba(88, 189, 136, 0.4);
  }

  &-expanded {
    .chevrons-right-icon {
      transform: rotate(-180deg);
    }
  }
}
