.frame-19872 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 158px;
}
.frame-20272 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 0px;
  width: 164px;
}
.frame-20492 {
  height: 158px;
  left: 0px;
  position: absolute;
  top: 632px;
  width: 158px;
}
.frame-20552 {
  height: 158px;
  left: 948px;
  position: absolute;
  top: 632px;
  width: 164px;
}
.frame-28922 {
  height: 790px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 1112px;
}
.frame-29012 {
  height: 846px;
  left: 288px;
  position: absolute;
  top: 176px;
  width: 1112px;
}
.rectangle-860-12 {
  background-color: var(--onyx);
  height: 1px;
  left: -80px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-22 {
  background-color: var(--onyx);
  height: 1px;
  left: 78px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-32 {
  background-color: var(--onyx);
  height: 1px;
  left: 236px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-42 {
  background-color: var(--onyx);
  height: 1px;
  left: 394px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-52 {
  background-color: var(--onyx);
  height: 1px;
  left: 552px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
.rectangle-860-62 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 157px;
  width: 1112px;
}
.rectangle-860-72 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 315px;
  width: 1112px;
}
.rectangle-860-82 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 473px;
  width: 1112px;
}
.rectangle-860-92 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 631px;
  width: 1112px;
}
.rectangle-8607 {
  background-color: var(--onyx);
  height: 1px;
  left: -238px;
  position: absolute;
  top: 394px;
  transform: rotate(-90deg);
  width: 790px;
}
