.card-image-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 272px;
  margin-bottom: 2em;
  margin-right: 2em;
  cursor: pointer;
  flex: 0 1 17%;
}

.profile-card-image {
  border-radius: 4px;
  width: 100%;
  height: 184px;
}

.profile-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-card-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 48px;
  width: 138px;
}

.card-name {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.card-text {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.ibmplexsans-normal-monsoon-14px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.text-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.follow-container {
  align-items: flex-start;
  display: flex;
  margin-top: 8px;
  min-width: 82px;
}

.person-add-outline-2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 2px;
  width: 24px;
}

.flex-row-7 {
  align-items: center;
  display: flex;
  min-width: 16px;
}

.follow {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
  margin-left: 14px;
}

.ibmplexsans-semi-bold-caribbean-green-16px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-monsoon-16px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

@media only screen and (max-width: 1820px) {
  .card-image-1 {
    flex-basis: 22%;
  }
}

@media only screen and (max-width: 1360px) {
  .card-image-1 {
    flex-basis: 20%;
  }
}

@media only screen and (max-width: 780px) {
  .card-image-1 {
    flex-basis: 28%;
  }
}

@media only screen and (max-width: 700px) {
  .card-image-1 {
    flex-basis: 42%;
  }

  .card-image-1:nth-child(2) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .card-image-1 {
    flex-basis: 100%;
    margin-right: 0;
  }
}
