.eye-off {
  height: 100%;
  position: relative;
}
.eye-off-outline-22 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 464px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.layer-24 {
  height: 24px;
  width: 24px;
}
.vector-122 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-132 {
  height: 79.17%;
  left: 10.42%;
  position: absolute;
  top: 10.42%;
  width: 79.17%;
}
.vector-142 {
  height: 47.92%;
  left: 7.28%;
  position: absolute;
  top: 32.02%;
  width: 58.33%;
}
.vector-152 {
  height: 50.00%;
  left: 34.43%;
  position: absolute;
  top: 19.01%;
  width: 58.33%;
}
