@import "src/scss/mixins";

.pf-icon-btn {
  width: 24px;
  height: 24px;
  border: none;
  margin: 0px;
  padding: 0px 0px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */

  svg {
    width: 24px !important;
    height: 24px !important;
  }

  &-transparent {
    svg {
      @include setSvgColor(#00c688);
    }

    &:hover {
      svg {
        @include setSvgColor(#02f2a7);
      }
    }

    &:active {
      svg {
        @include setSvgColor(#05a875);
      }
    }
  }

  &-white {
    svg {
      @include setSvgColor(#f8ebdf);
    }

    .gamburger-icon {
      path {
        stroke: #f8ebdf;
      }
    }

    &:hover {
      svg {
        @include setSvgColor(#8a8a8a);
      }
      .gamburger-icon {
        path {
          stroke: #8a8a8a;
        }
      }
    }

    &:active {
      svg {
        @include setSvgColor(#3a3939);
      }
      .gamburger-icon {
        path {
          stroke: #3a3939;
        }
      }
    }
  }

  &-selected {
    background-color: #05a875;
    svg {
      @include setSvgColor(black);
    }

    .gamburger-icon {
      path {
        stroke: black;
      }
    }
  }

  &-grey {
    background-color: #eeefef;
    svg {
      @include setSvgColor(#141414);
    }

    &:hover {
      background-color: #cadcd6;
    }

    &:active {
      background-color: #bacfc8;
    }
  }
}
