@import "src/scss/mixins";
@import "src/scss/colors";

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pf-icon-btn {
  width: 24px;
  height: 24px;
  border: none;
  margin: 0px;
  padding: 0px 0px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  background-color: transparent;

  @include flexCenter();

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */

  .icon-container {
    @include flexCenter();

    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &-secondary {
    background-color: rgba(238, 239, 239, 0.1);
    .icon-container {
      @include setSvgColor(#eeefef);
    }

    &:hover:enabled {
      background-color: rgba(202, 220, 214, 0.2);
    }

    &:active:enabled {
      background-color: rgba(186, 207, 200, 0.3);
    }
  }

  &-transparent {
    .icon-container {
      @include setSvgColor(#00c688);
    }

    &:hover {
      .icon-container {
        @include setSvgColor(#02f2a7);
      }
    }

    &:active {
      .icon-container {
        @include setSvgColor(#05a875);
      }
    }
  }

  &-white {
    .icon-container {
      @include setSvgColor(#f8ebdf);
    }

    &:hover {
      .icon-container {
        @include setSvgColor(#8a8a8a);
      }
    }

    &:active {
      .icon-container {
        @include setSvgColor(#3a3939);
      }
    }
  }

  &-selected {
    background-color: #05a875;
    .icon-container {
      @include setSvgColor(black);
    }
  }

  &-grey {
    background-color: #eeefef;
    .icon-container {
      @include setSvgColor(#141414);
    }

    &:hover {
      background-color: #cadcd6;
    }

    &:active {
      background-color: #bacfc8;
    }
  }

  &-grey-transparent {
    background-color: transparent;
    .icon-container {
      @include setSvgColor(#676969);
    }

    &:hover {
      .icon-container {
        @include setSvgColor(#4b4d4d);
      }
    }

    &:active {
      .icon-container {
        @include setSvgColor(#323333);
      }
    }
  }

  &-news-builder {
    width: 48px;
    height: 80px;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: #eeefef;
    font-weight: 400;
    font: 16px/24px $font-regular;

    .icon-container {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background-color: #58bd88;
    }

    &:hover:enabled {
      color: #cadcd6;
      .icon-container {
        background-color: #009466;
      }
    }

    &:active:enabled {
      color: #9bb0a9;
      .icon-container {
        background-color: #007a54;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &-socials {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #eeefef;

    .icon-container {
      @include setSvgColor(#141414);
    }

    &:hover {
      background-color: #cadcd6;
      .icon-container {
        @include setSvgColor(#1d2120);
      }
    }

    &:active {
      background-color: #9bb0a9;
      .icon-container {
        @include setSvgColor(#27332f);
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &-transparent-red {
    background-color: transparent;
    @include setSvgColor($color-red);

    &:hover:enabled {
      @include setSvgColor($color-red-hover);
    }

    &:active:enabled {
      @include setSvgColor($color-red-active);
    }
  }

  &-star {
    @include setSvgColor($color-grey);

    &:hover:enabled {
      @include setSvgColor($color-grey-hover);
    }

    &:active:enabled {
      @include setSvgColor($color-grey-active);
    }
  }

  &-star-selected {
    @include setSvgColor($color-yellow);

    &:hover:enabled {
      @include setSvgColor($color-yellow-hover);
    }

    &:active:enabled {
      @include setSvgColor($color-yellow-active);
    }
  }

  &-checkmark-grey {
    background-color: $color-dark-white;

    &:hover:enabled {
      background-color: $color-dark-white-hover;
      // @include setSvgColor($color-yellow-hover);
    }

    &:active:enabled {
      background-color: $color-dark-white-active;
      // @include setSvgColor($color-yellow-active);
    }
  }

  &-checkmark-green {
    border: 1px solid $color-green;
    @include setSvgColor($color-green);
    background-color: $color-dark-green;

    &:hover:enabled {
      background-color: $color-dark-green-hover;
    }

    &:active:enabled {
      background-color: $color-dark-green-active;
    }
  }
}
