.by-date2 {
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-28082 {
  border-radius: 4px;
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 312px;
}
.frame-28092 {
  border-radius: unset;
  overflow: unset;
  top: 128px;
}
.frame-28093 {
  border-radius: unset;
  overflow: unset;
  top: 128px;
}
