.frame-19342 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 142px;
}
.frame-653 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 504px;
}
.frame-94 {
  height: 48px;
  left: 40px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 102px;
}
.password2 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.text-3 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
