.address4 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 120px;
  white-space: nowrap;
  width: 236px;
}
.farmers2 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-3239 {
  height: 144px;
  left: 24px;
  position: absolute;
  top: 272px;
  width: 488px;
}
.frame-3241 {
  height: 112px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 488px;
}
.text-264 {
  color: var(--white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 32px;
  font-weight: 600;
  height: 80px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  top: 32px;
  width: 490px;
}
