.birthday {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.continue {
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 69px;
  text-align: center;
  white-space: nowrap;
}
.email {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.first-name {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.flex-col {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 536px;
  width: 477px;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 216.0px;
  margin-left: 3px;
  min-height: 200px;
  width: 440px;
}
.frame {
  align-items: flex-end;
  display: flex;
  margin-left: 80px;
  overflow: hidden;
  width: 256px;
}
.frame- {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  width: 440px;
}
.frame-1930 {
  align-items: flex-start;
  display: flex;
  width: 440px;
}
.frame-1932 {
  align-items: center;
  display: flex;
  height: 864px;
  margin-top: 60px;
  min-width: 1440px;
  padding: 96px 80px;
}
.frame-1935 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 40px;
  min-width: 200px;
  padding: 0 64px;
}
.frame-317 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 320px;
  margin-bottom: 96.0px;
  margin-left: 40px;
  overflow: hidden;
  padding: 0 76px;
  width: 320px;
}
.frame-3729 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 440px;
  position: relative;
}
.frame-65 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 0 16px;
  width: 440px;
}
.frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 69px;
}
.frame-9-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 241px;
}
.frame-9-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 89px;
}
.frame-9-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 67px;
}
.frame-9-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  width: 159px;
}
.last-name {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.mikhail {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.phone {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.text-1 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.text-2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.text-3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.text-4 {
  height: 72px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 72px;
  text-align: center;
  width: 166px;
}
.ugrymov {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.vector {
  align-self: flex-start;
  height: 40px;
  margin-top: -0.03px;
  width: 40px;
}
.vector-1 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 3px;
  width: 40px;
}
.vector-2 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 2px;
  width: 40px;
}
.welcome-back {
  letter-spacing: 0.00px;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}
.welcome-back-1 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.x02-2-0-sign-up-filed {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 60px 0;
  width: 1440px;
}
