.add-custom-role2 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
}
.add-photos {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.add-roles2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-110 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 376px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.content-manager {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.continue4 {
  height: 24px;
  left: calc(50.00% - 34px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.edit-information2 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-19346 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: relative;
  top: 16px;
  width: 124px;
}
.frame-19636 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.frame-19647 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 896px;
  left: 508px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 424px;
}
.frame-28521 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}
.frame-29242 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 760px;
  width: 153px;
}
.frame-37012 {
  bottom: 24px;
  height: 48px;
  left: 24px;
  position: absolute;
  width: 296px;
}
.frame-3702 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 600px;
  width: 152px;
}
.frame-3703 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 632px;
  width: 117px;
}
.frame-3704 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 696px;
  width: 151px;
}
.frame-3705 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 664px;
  width: 256px;
}
.frame-6515 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 456px;
  width: 376px;
}
.make-new-posts {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-8576 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.role-title {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.span013 {
  color: rgba(137,137,137,1.0);
  line-height: 14px;
}
.span113 {
  color: rgba(0,198,136,1.0);
  line-height: 14px;
}
.step-2-of-22 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: calc(50.00% + 68px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.text-600 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 104px;
  white-space: nowrap;
}
.text-601 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 560px;
  white-space: nowrap;
}
.text-602 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.x9-create-enterpisestep2 {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1296px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
