.frame-198810 {
  height: 24px;
  left: 54px;
  position: relative;
  top: 8px;
  width: 50px;
}
.frame-20312 {
  background-color: var(--licorice);
  height: 158px;
  left: 474px;
  position: absolute;
  top: 158px;
  width: 158px;
}
.nov-11 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
