.email-outline8 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 12px;
  width: 24px;
}
.frame-1951-123 {
  height: 48px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-195125 {
  border-radius: 100px;
  height: 48px;
  left: 118px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-195425 {
  height: 80px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-197324 {
  height: 48px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 24px);
  width: 166px;
}
.frame-284825 {
  height: 24px;
  position: absolute;
  right: 206px;
  top: 28px;
  width: 137px;
}
.ragrarians-i2852566 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 16px);
  white-space: nowrap;
}
.text-1281 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
