.frame-19698 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 272px;
  width: 536px;
}
.frame-29832 {
  top: 840px;
}
.frame-29833 {
  top: 840px;
}
.frame-29834 {
  top: 840px;
}
