@import "src/scss/mixins";
@import "src/scss/colors";
@import "src/scss/variables";

.content-text-block {
  width: 100%;
  gap: $gap-smallest;
  @include flexColumn();
}

.content-image-block {
  gap: 8px;
  width: 100%;
  @include flexColumn();

  h5 {
    color: $color-grey;
    text-align: center;
  }

  .image-container {
    width: 100%;
    max-height: 368px;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    background-color: $color-grey;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
