.frame-3061 {
  background-color: rgba(243,243,243,1.0);
  border-radius: 4px;
  height: 218px;
  left: 743px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 218px;
}
.frame-3061-1 {
  height: 216px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 216px;
}
.frame-3061-2 {
  top: 551px;
}
.frame-3064 {
  left: 983px;
}
.frame-3064-1 {
  left: 983px;
  top: 551px;
}
.text-245 {
  height: 48px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 152px;
  width: 186px;
}
