.frame-19593 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 160px;
  width: 536px;
}
.frame-1960 {
  left: 864px;
}
.frame-196913 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 536px;
}
.frame-27973 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 344px;
}
.frame-34772 {
  height: 112px;
  left: 24px;
  position: absolute;
  top: 392px;
  width: 344px;
}
