.frame-27957 {
  border-radius: 4px;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.frame-2796-13 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 164px;
}
.unfollow2 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
