.frame-28473 {
  background-color: var(--caribbean-green);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-28474 {
  background-color: var(--shark-2);
}
.frame-28475 {
  background-color: unset;
}
