.frame-20 {
  background-color: var(--caribbean-green);
  border-radius: 100px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 8px;
}
.frame-2039 {
  background-color: var(--licorice);
  height: 158px;
  left: 632px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.frame-20622 {
  height: 76px;
  left: 8px;
  position: absolute;
  top: 48px;
  width: 142px;
}
.frame-34712 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 130px;
}
.frame-34722 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 132px;
}
.frame-34732 {
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 132px;
}
.x0pm- {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 0px;
  white-space: nowrap;
}
.x5-events {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-decoration: underline;
  top: 60px;
  white-space: nowrap;
}
