.frame-19432 {
  background-color: var(--licorice);
  height: 1368px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-19442 {
  background-color: rgba(42,42,42,1.0);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-1974 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-1977 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-1978 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-2791 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 259px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.frame-28472 {
  background-color: var(--caribbean-green);
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-2857 {
  background-color: var(--caribbean-green);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 211px;
  width: 248px;
}
.group-1943 {
  bottom: 0px;
  height: 299px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.rectangle-859-1 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-8592 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.text-38 {
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-56 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: calc(50.00% - 54px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.union {
  bottom: 48px;
  height: 211px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
