.email {
  height: 100%;
  position: relative;
}
.vector-202 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-212 {
  height: 66.67%;
  left: 8.33%;
  position: absolute;
  top: 16.67%;
  width: 83.33%;
}
