.address12 {
  color: var(--caribbean-green);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-decoration: underline;
  top: 48px;
  white-space: nowrap;
}
.call-with-new-far {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.frame-20302 {
  background-color: var(--licorice);
  height: 158px;
  left: 316px;
  position: absolute;
  top: 158px;
  width: 158px;
}
.frame-2057-1 {
  background-color: var(--caribbean-green);
  border-radius: 100px;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 4px;
  width: 8px;
}
.frame-2059 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.frame-2060 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 24px;
  width: 142px;
}
.frame-2063 {
  height: 64px;
  left: 8px;
  position: absolute;
  top: 78px;
  width: 142px;
}
.x0300-pm-find-an2 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
