.courses-main-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  margin-top: 2em;
}

.courses-list-container {
  color: #fff;
  list-style: none;
  display: flex;
  margin: 0;
}

.courses-list-container li {
  margin-right: 0.5em;
  margin-left: 0;
}

.courses-list-item {
  background: #000;
  border: 0.5px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.courses-list-item:hover {
  color: #000;
  background: #fff;
}

.courses-list-item:focus {
  color: #000;
  background: #fff;
}

.courses-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses-sub-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.courses-sub-header-1 {
  width: 70%;
  margin: 0;
}

.courses-list-item.active {
  background: #fff;
  color: #000;
}

.courses-btn-container {
  width: 200px;
}

@media only screen and (max-width: 1350px) {
  .courses-list-item {
    width: 170px;
  }
}

@media only screen and (max-width: 1350px) {
  .courses-list-item {
    text-align: center;
    width: 140px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .courses-sub-header-2 .filter-container {
    width: none;
  }
}

@media only screen and (max-width: 1100px) {
  .courses-list-item {
    text-align: center;
    width: 120px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 840px) {
  .courses-sub-header-1 {
    width: 100%;
  }

  .courses-sub-header-2 {
    width: 100%;
  }

  .courses-btn-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .courses-main-header-container {
    flex-direction: column;
    height: auto;
  }

  .courses-container .filter-container {
    width: 100%;
  }

  .courses-sub-header-2 .filter-container {
    width: 100%;
  }

  .courses-search-container {
    margin: 10px 0;
  }
}
