.frame-3694 {
  height: 24px;
  left: 32px;
  position: absolute;
  top: 80px;
  width: 84px;
}
.frame-36942 {
  left: 56px;
  top: 184px;
}
.place10 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
