.frame-1975 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 247px;
}
.frame-19752 {
  background-color: var(--caribbean-green);
}
.text-39 {
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
