.survey-card {
  align-items: flex-start;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 528px;
  overflow: hidden;
  flex: 0 1 calc(34% - 2em);
  max-width: 750px;
  margin-bottom: 2em;
}

.survey-card-image {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 239px;
  width: 100%;
}

.survey-card-text {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  margin-top: 20px;
}

.survey-card-subtext {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 50%;
  position: relative;
  width: 100%;
  padding: 5%;
}

.subtext-item {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.subtext-option {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 16px;
  width: 100%;
  position: relative;
}

.option-btn {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 140px;
}

.btn-first {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 60px;
  text-align: center;
}

.option-btn-second {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  overflow: hidden;
  width: 140px;
  margin-left: 10px;
}

.btn-second {
  color: black !important;
}

.survey-card--heading {
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

@media only screen and (max-width: 1500px) {
  .survey-card {
    flex: 0 1 calc(50% - 2em);
  }
}

@media only screen and (max-width: 800px) {
  .survey-card {
    flex: 0 1 100%;
  }
}

@media only screen and (max-width: 370px) {
  .survey-card-subtext {
    height: 65%;
  }

  .subtext-option {
    flex-direction: column;
    width: 100%;
    height: 110px;
  }

  .option-btn {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  }

  .option-btn-second  {
    width: 100%;
    height: 50px;
    margin-left: 0;
  }
}
