.content-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.x01-0-0-login-empty {
  margin: 0 auto;
  overflow: hidden;
}

.x01-0-0-login-empty .sign-in {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.x01-0-0-login-empty .icons {
  align-items: flex-end;
  display: flex;
  height: 40px;
}

.x01-0-0-login-empty .welcome-back {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}

.ibmplexsans-semi-bold-quarter-spanish-white-40px {
  color: var(--primary-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.x01-0-0-login-empty .from-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  min-height: 488px;
  width: 503px;
}

.x01-0-0-login-empty .remember {
  align-items: center;
  display: flex;
  min-width: 140px;
}

.x01-0-0-login-empty .remember-me {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--primary-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.button-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2em;
}

.x01-0-0-login-empty .forgot-password {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 186px;
  min-height: 24px;
  min-width: 134px;
  text-decoration: underline;
  white-space: nowrap;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ibmplexsans-semi-bold-caribbean-green-16px {
  color: var(--primary-color);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.x01-0-0-login-empty .oauth-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 96px;
  width: 504px;
}

.signup-option {
  max-width: 504px;
  width: 100%;
  background: var(--cards);
  border: 1px solid var(--strokes);
  border-radius: 4px;
  padding: 1.5em 1em;
  text-align: center;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.ibmplexsans-regular-normal-white-16px {
  color: transparent;
  font-family: "IBM Plex Sans-Regular", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.x01-0-0-login-empty .span0 {
  color: var(--primary-white);
  font-family: "IBM Plex Sans-Regular", Helvetica, sans-serif;
  font-size: 16px;
}

.x01-0-0-login-empty .span2 {
  color: var(--primary-color);
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 0.5em;
}

.x01-0-0-login-empty .banner-images {
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  width: 481px;
}

.x01-0-0-login-empty .overlap-group1 {
  height: 541px;
  margin-top: -0.25px;
  position: relative;
  width: 481px;
}

@media only screen and (max-width: 1200px) {
  .x01-0-0-login-empty .from-container {
    width: 460px;
  }

  .x01-0-0-login-empty .oauth-container {
    width: 460px;
  }

  .x01-0-0-login-empty .button-1 {
    min-width: 460px;
  }
}

@media only screen and (max-width: 1023px) {
  .banner-container {
    display: none;
  }

  .icons {
    margin: 0 auto;
  }

  .x01-0-0-login-empty .from-container {
    width: 504px;
  }

  .x01-0-0-login-empty .oauth-container {
    width: 504px;
  }

  .x01-0-0-login-empty .button-1 {
    min-width: 504px;
  }
}

@media only screen and (max-width: 520px) {
  .x01-0-0-login-empty .from-container {
    width: 350px;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .x01-0-0-login-empty .forgot-password {
    margin: 0;
    margin-top: 1em;
  }

  .x01-0-0-login-empty .button-1 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .x01-0-0-login-empty .button-1 a {
    margin: 0;
  }

  .x01-0-0-login-empty .button-1 a:first-child {
    margin-bottom: 1em;
  }

  .x01-0-0-login-empty .oauth-container {
    width: 100%;
  }

  .signup-option {
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
  }

  .signup-option p {
    margin-bottom: 10px;
  }

  .btn-default {
    width: 100%;
  }

  .x01-0-0-login-empty .facebook-button {
    margin-left: 0;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 360px) {
  .x01-0-0-login-empty .from-container {
    width: 250px;
  }
}
