@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}
.border-1px-onyx {
  border: 1px solid var(--onyx);
}
.ibmplexsans-regular-normal-monsoon-16px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-regular-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-regular-normal-white-16px {
  color: transparent;
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-semi-bold-caribbean-green-16px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-gallery-16px {
  color: var(--gallery);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-quarter-spanish-white-40px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}
.ibmplexsans-semi-bold-shark-16px {
  color: var(--shark);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.x01-0-0-login-empty {
  background-color: black;
  height: 1024px;
  position: relative;
  width: 1440px;
}
.x01-0-0-login-empty .banner-container {
  align-items: flex-start;
  display: flex;
  height: 1024px;
  left: 739px;
  padding: 241px 109px;
  position: absolute;
  top: 0px;
  width: 700px;
}
.x01-0-0-login-empty .banner-images {
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  width: 481px;
}
.x01-0-0-login-empty .button {
  align-items: center;
  display: flex;
  margin-top: 40px;
  min-width: 504px;
}
.x01-0-0-login-empty .button-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 504px;
}
.x01-0-0-login-empty .checkmark-square-2-outline-1 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}
.x01-0-0-login-empty .default-button {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 61px;
  width: 180px;
  cursor: pointer;
}

.x01-0-0-login-empty .default-button:hover {
  background: #02f2a7;
}

.x01-0-0-login-empty .default-i166454252 {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 24px;
  min-width: 55px;
  text-align: center;
  white-space: nowrap;
  background-color: var(--caribbean-green);
  outline: none;
  border: none;
  cursor: pointer;
}
.x01-0-0-login-empty .default-input {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 0 16px;
  width: 503px;
}
.x01-0-0-login-empty .eye-off-outline-2 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 346px;
  padding: 2.5px 1.7px;
  width: 24px;
}
.x01-0-0-login-empty .facebook {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 16px;
  min-height: 24px;
  min-width: 74px;
  text-align: center;
  white-space: nowrap;
}
.x01-0-0-login-empty .facebook-button {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: flex-end;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--quarter-spanish-white-2);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 24px;
  overflow: hidden;
  padding: 12px 62px;
  width: 240px;
}
.x01-0-0-login-empty .forgot-password {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 186px;
  min-height: 24px;
  min-width: 134px;
  text-decoration: underline;
  white-space: nowrap;
}
.x01-0-0-login-empty .frame-1934 {
  align-items: flex-start;
  display: flex;
  min-width: 102px;
}
.x01-0-0-login-empty .frame-92 {
  align-items: flex-start;
  display: flex;
  width: 24px;
}
.x01-0-0-login-empty .frame-93 {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  left: 80px;
  overflow: hidden;
  padding: 0 78px;
  position: absolute;
  top: 864px;
  width: 504px;
}
.x01-0-0-login-empty .from-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 488px;
  width: 503px;
}
.x01-0-0-login-empty .google {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 54px;
  white-space: nowrap;
}
.x01-0-0-login-empty .google-button {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--quarter-spanish-white-2);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 76px;
  width: 240px;
}
.x01-0-0-login-empty .group {
  align-self: flex-start;
  height: 40px;
  margin-top: -0.03px;
  width: 40px;
}
.x01-0-0-login-empty .icons {
  align-items: flex-end;
  display: flex;
  height: 40px;
  left: 80px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 256px;
}
.x01-0-0-login-empty .lock-outline {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 1.9px 4px;
  width: 24px;
}
.x01-0-0-login-empty .logo-googleg-48-dp-1 {
  align-items: flex-start;
  display: flex;
  overflow: hidden;
  width: 24px;
}
.x01-0-0-login-empty .oauth-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 96px;
  width: 504px;
}
.x01-0-0-login-empty .overlap-group {
  height: 1024px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1439px;
}
.x01-0-0-login-empty .overlap-group1 {
  height: 541px;
  margin-top: -0.25px;
  position: relative;
  width: 481px;
}
.x01-0-0-login-empty .overlap-group1-1 {
  height: 20px;
  position: relative;
  width: 16px;
}
.x01-0-0-login-empty .overlap-group1-2 {
  height: 18px;
  position: relative;
  width: 18px;
}
.x01-0-0-login-empty .overlap-group1-3 {
  height: 24px;
  margin-top: -0.14px;
  position: relative;
  width: 24px;
}
.x01-0-0-login-empty .overlap-group2 {
  height: 19px;
  position: relative;
  width: 21px;
}
.x01-0-0-login-empty .password {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
  background-color: #141414;
  outline: none;
  border: none;
}
.x01-0-0-login-empty .password-default {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  margin-top: 40px;
  overflow: hidden;
  padding: 0 16px;
  width: 504px;
}
.x01-0-0-login-empty .person-outline {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 0;
  width: 24px;
}
.x01-0-0-login-empty .remember {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 140px;
}
.x01-0-0-login-empty .remember-me {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.x01-0-0-login-empty .sign-in {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 704px;
  padding: 48px 80px;
  position: absolute;
  top: 160px;
  width: 740px;
}
.x01-0-0-login-empty .span0 {
  color: rgba(248, 235, 223, 1);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
}
.x01-0-0-login-empty .span1 {
  color: rgba(137, 137, 137, 1);
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
}
.x01-0-0-login-empty .span2 {
  color: rgba(0, 198, 136, 1);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
.x01-0-0-login-empty .subtract {
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.x01-0-0-login-empty .subtract-1 {
  height: 24px;
  width: 24px;
}
.x01-0-0-login-empty .text-1 {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 150px;
  white-space: nowrap;
}
.x01-0-0-login-empty .text-2 {
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 24px;
  min-width: 346px;
  white-space: nowrap;
}
.x01-0-0-login-empty .username {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 76px;
  white-space: nowrap;
  background-color: #141414;
  outline: none;
  border: none;
}

.x01-0-0-login-empty .vector {
  height: 182px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 182px;
}
.x01-0-0-login-empty .vector-1 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 3px;
  width: 40px;
}
.x01-0-0-login-empty .vector-10 {
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}
.x01-0-0-login-empty .vector-11 {
  height: 6px;
  left: 5px;
  position: absolute;
  top: 10px;
  width: 6px;
}
.x01-0-0-login-empty .vector-12 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.x01-0-0-login-empty .vector-13 {
  height: 19px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.x01-0-0-login-empty .vector-14 {
  height: 12px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.x01-0-0-login-empty .vector-15 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 2px;
  width: 14px;
}
.x01-0-0-login-empty .vector-16 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.x01-0-0-login-empty .vector-17 {
  height: 12px;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 12px;
}
.x01-0-0-login-empty .vector-18 {
  height: 10px;
  left: 1px;
  position: absolute;
  top: 14px;
  width: 19px;
}
.x01-0-0-login-empty .vector-19 {
  height: 11px;
  left: 0px;
  position: absolute;
  top: 7px;
  width: 6px;
}
.x01-0-0-login-empty .vector-2 {
  height: 40px;
  margin-bottom: -0.03px;
  margin-left: 2px;
  width: 40px;
}
.x01-0-0-login-empty .vector-20 {
  height: 10px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.x01-0-0-login-empty .vector-3 {
  height: 174px;
  left: 224px;
  position: absolute;
  top: 367px;
  width: 201px;
}
.x01-0-0-login-empty .vector-4 {
  height: 176px;
  left: 91px;
  position: absolute;
  top: 182px;
  width: 176px;
}
.x01-0-0-login-empty .vector-5 {
  height: 186px;
  left: 267px;
  position: absolute;
  top: 182px;
  width: 214px;
}
.x01-0-0-login-empty .vector-6 {
  height: 8px;
  margin-left: 0px;
  width: 8px;
}
.x01-0-0-login-empty .vector-7 {
  height: 1px;
  width: 1px;
}
.x01-0-0-login-empty .vector-8 {
  height: 8px;
  width: 14px;
}
.x01-0-0-login-empty .vector-9 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.x01-0-0-login-empty .welcome-back {
  letter-spacing: 0px;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}
:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --gallery: rgba(238, 238, 238, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --quarter-spanish-white-2: rgba(248, 235, 223, 0.16);
  --shark: rgba(43, 43, 44, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --rusty-red: rgba(218, 52, 67, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**/
.border-1px-rusty-red {
  border: 1px solid var(--rusty-red);
}
.error-filled-password-input {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 0 15px;
  width: 504px;
}
.frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  margin-left: 16px;
  overflow: hidden;
  width: 65px;
}
.frame-9-item {
  letter-spacing: 0px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.ibmplexsans-regular-normal-monsoon-14px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.ibmplexsans-regular-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/**/
.ibmplexsans-regular-normal-rusty-red-12px {
  color: var(--rusty-red);
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.username-error {
  letter-spacing: 0px;
  line-height: 16px;
  min-height: 16px;
  min-width: 87px;
  white-space: nowrap;
}

.link-btn {
  text-decoration: none;
}

.text {
  position: absolute;
  top: 10px;
  left: 50px;
}

.default-input {
  position: relative;
}

.password-default {
  position: relative;
}

.active {
  border: 1px solid rgba(0, 198, 136, 1);
}
