.close {
  height: 100%;
  position: relative;
}
.close-1 {
  left: 81.25%;
  position: absolute;
  top: 0px;
  width: 18.75%;
}
.close-2 {
  left: 86.81%;
  position: absolute;
  top: 0px;
  width: 13.19%;
}
.close2 {
  left: 81.95%;
  position: absolute;
  top: 0px;
  width: 18.05%;
}
.vector-104 {
  height: 54.17%;
  left: 22.92%;
  position: absolute;
  top: 22.92%;
  width: 54.17%;
}
.vector-94 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
