@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 18px;
  width: 8px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  position: relative;
  width: 35px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  position: relative;
  width: 38px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 18px;
  width: 8px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 4px;
  min-width: 16px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 210px;
  min-width: 210px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 1px;
  min-width: 22px;
}

.flex-row-3 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-left: 4px;
  margin-top: 7px;
  min-width: 240px;
  position: relative;
}

.frame {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  width: 160px;
}

.grid-outline-2 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}

.group-1942 {
  align-items: flex-start;
  display: flex;
  min-width: 248px;
}

.group-1943 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 299px;
  position: absolute;
  top: 725px;
  width: 248px;
}

.number {
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 22px;
}

.overlap-group {
  height: 259px;
  position: relative;
  width: 248px;
}

.overlap-group-1 {
  height: 23px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 24px;
}

.overlap-group-2 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.overlap-group-3 {
  height: 22px;
  position: relative;
  width: 18px;
}

.overlap-group2 {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.overlap-group36 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 38px;
}

.overlap-group37 {
  height: 23px;
  left: 9px;
  position: absolute;
  top: 4px;
  width: 25px;
}

.rectangle-86 {
  background-color: var(--rusty-red);
  border-radius: 100px;
  height: 4px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 4px;
}

.rectangle-861 {
  background-color: var(--onyx);
  height: 1px;
  width: 248px;
}

.rectangle-865 {
  background-color: var(--rusty-red);
  border-radius: 100px;
  height: 4px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 4px;
}

.side {
  background-color: var(--licorice);
  height: 1024px;
  position: relative;
  width: 248px;
}

.text-10 {
  height: 12px;
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: 2px;
  margin-left: 70px;
  min-height: 12px;
  min-width: 53px;
  text-align: center;
  white-space: nowrap;
}

.text-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 83px;
  white-space: nowrap;
}

.text-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 64px;
  margin-top: 12px;
  min-height: 24px;
  min-width: 71px;
  white-space: nowrap;
}

.text-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 47px;
  margin-top: 12px;
  min-height: 24px;
  min-width: 88px;
  white-space: nowrap;
}

.text-7 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 55px;
  white-space: nowrap;
}

.text-8 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 62px;
  white-space: nowrap;
}

.union {
  height: 211px;
  left: 0;
  position: absolute;
  top: 0;
  width: 248px;
}

.user-management {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 4px 0;
  width: 24px;
}

.vector {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 2px;
  width: 25px;
}

.vector-1 {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 1px;
  width: 25px;
}

.vector-10 {
  align-self: flex-start;
  height: 24px;
  margin-top: -0.02px;
  width: 25px;
}

.vector-2 {
  height: 24px;
  margin-bottom: -0.02px;
  margin-left: 1px;
  width: 26px;
}

.vector-3 {
  height: 8px;
  width: 8px;
}

.vector-4 {
  height: 8px;
  margin-top: 2px;
  width: 8px;
}

.vector-5 {
  height: 8px;
  width: 4px;
}

.vector-6 {
  height: 7px;
  width: 4px;
}

.vector-7 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 18px;
}

.vector-8 {
  height: 7px;
  width: 14px;
}

.vector-9 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.chevrons-right-1 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 5px;
  width: 24px;
}

.frame-2303 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 32px;
  left: 231px;
  overflow: hidden;
  padding: 0 4px;
  position: absolute;
  top: 172px;
  transform: rotate(180deg);
  width: 32px;
}

.vector-11 {
  height: 12px;
  transform: rotate(-180deg);
  width: 7px;
}

.chevrons-left {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 8px;
  width: 24px;
}

.chevrons-right.chevrons-left {
  margin-left: 69px;
  position: relative;
}

.vector-stroke {
  height: 14px;
  width: 8px;
}

.frame-2849 {
  height: 35px;
  position: relative;
  width: 35px;
}

.overlap-group1 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.place {
  height: 20px;
  left: 7px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 22px;
}

.rectangle-859-4 {
  background-color: var(--licorice);
  height: 35px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 1px;
}

.rectangle-860-3 {
  background-color: var(--licorice);
  height: 1px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 35px;
}

.frame-2884 {
  align-items: center;
  display: flex;
  width: 35px;
}

.number-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 1px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}

.rectangle-859-5 {
  background-color: var(--licorice);
  height: 35px;
  margin-left: 5px;
  width: 1px;
}

.frame-288.frame-2885 {
  height: 35px;
  position: relative;
}

.frame-2885 {
  align-items: center;
  display: flex;
  width: 35px;
}

.number-2 {
  height: 20px;
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: 1px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}

.rectangle-859-6 {
  background-color: var(--licorice);
  height: 35px;
  margin-left: 5px;
  width: 1px;
}

.frame-2873 {
  align-items: flex-start;
  background-color: var(--caribbean-green);
  display: flex;
  height: 35px;
  padding: 7px 6px;
  width: 35px;
}

.number-3 {
  color: var(--shark);
  font-family: "IBM Plex Sans-Bold", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  line-height: 12px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}

.frame-2855 {
  height: 35px;
  position: relative;
  width: 38px;
}

.overlap-group35 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 38px;
}

.rectangle-859-7 {
  background-color: var(--licorice);
  height: 35px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 1px;
}

.rectangle-860-4 {
  background-color: var(--licorice);
  height: 1px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 38px;
}

.su-i52216648926 {
  height: 20px;
  left: 9px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 22px;
}

.frame-2890 {
  align-items: center;
  display: flex;
  width: 38px;
}

.number-4 {
  height: 20px;
  letter-spacing: 0;
  line-height: 12px;
  margin-bottom: 1px;
  min-height: 20px;
  text-align: center;
  width: 22px;
}

.rectangle-859-8 {
  background-color: var(--licorice);
  height: 35px;
  margin-left: 6px;
  width: 1px;
}

.frame-285 {
  align-items: center;
  background-color: var(--caribbean-green);
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 248px;
  padding: 0 68px;
}

.text-9 {
  color: var(--shark);
  font-family: "IBM Plex Sans-Bold", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 110px;
  text-align: center;
  white-space: nowrap;
}

.graduation-cap {
  height: 18px;
  width: 24px;
}

.graduation-cap-1 {
  align-items: center;
  display: flex;
  height: 24px;
  width: 24px;
}

.bell-outline {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 35px;
  padding: 1.7px 3px;
  width: 24px;
}

.email-outline {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}

.frame-1951 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  margin-left: 35px;
  width: 48px;
}

.frame-1973 {
  align-items: center;
  display: flex;
  margin-left: 40px;
  min-width: 166px;
}

.frame-2848 {
  align-items: flex-start;
  display: flex;
  margin-left: 564px;
  min-width: 137px;
}

.nav {
  align-items: center;
  display: flex;
  height: 80px;
  min-width: 1112px;
}

.overlap-group-4 {
  height: 16px;
  position: relative;
  width: 20px;
}

.overlap-group1-1 {
  height: 20px;
  position: relative;
  width: 18px;
}

.person-outline-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 0;
  width: 24px;
}

.ragrarians-i1169649 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 32px;
  min-width: 205px;
  white-space: nowrap;
}

.text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.vector-12 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 1px;
}

.vector-13 {
  height: 8px;
  width: 14px;
}

.vector-14 {
  height: 8px;
  margin-left: 0;
  width: 8px;
}

.vector-15 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.vector-16 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.vector-17 {
  height: 1px;
  width: 1px;
}

.vector-18 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 1px;
}

.follower-number-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 48px;
  width: 199px;
}

.frame-2793-1.frame-2793 {
  position: relative;
}

.follower-number-item {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.btn-text {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 69px;
  text-align: center;
  white-space: nowrap;
}

.default-i905516418 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 135px;
  text-align: center;
  white-space: nowrap;
}

.frame-5-1 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 13px;
  width: 164px;
}

.follow {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 52px;
  white-space: nowrap;
  cursor: pointer;
}

.frame-2792 {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 16px;
  overflow: hidden;
  padding: 0 55px;
  width: 164px;
}

.frame-2792-1.frame-2792 {
  position: relative;
}

.all-groups {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 80px;
  white-space: nowrap;
}

.all-groups-1 {
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 22px;
  width: 126px;
}

.card-2 {
  align-items: flex-start;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 528px;
  margin-left: 40px;
  overflow: hidden;
  width: 536px;
}

.chevron-right-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 86px;
  padding: 8.7px 6.3px;
  transform: rotate(90deg);
  width: 24px;
}

.create-group {
  align-items: center;
  background-color: var(--caribbean-green);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 920px;
  overflow: hidden;
  padding: 0 74px;
  width: 20%;
}

.create-group-1 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 98px;
  white-space: nowrap;
}

.dont-recommend {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 135px;
  white-space: nowrap;
}

.ecology {
  letter-spacing: 1px;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.filter {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 40px;
  overflow: hidden;
  padding: 0 16px;
  width: 304px;
}

.filter-by-category {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.group-flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 1368px;
  position: relative;
  width: 100%;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 1112px;
  flex-wrap: wrap;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 1112px;
}

.frame-1969-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60753cd917d10c4e51900ad9/img/frame-1969-1@1x.png);
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  width: 536px;
}

.frame-1969-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60753cd917d10c4e51900ad9/img/frame-1969-2@1x.png);
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  width: 536px;
}

.frame-1969-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60753cd917d10c4e51900ad9/img/frame-1969-3@1x.png);
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  width: 536px;
}

.frame-1991 {
  align-items: flex-start;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 528px;
  overflow: hidden;
  width: 536px;
}

.frame-1992 {
  align-items: flex-start;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 528px;
  margin-left: 40px;
  overflow: hidden;
  width: 536px;
}

.frame-2794 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 19px;
  margin-top: 24px;
  min-height: 88px;
  width: 469px;
}

.frame-2795 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-top: 16px;
  overflow: hidden;
  padding: 0 47px;
  width: 164px;
}

.frame-2795-1 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 14px;
  width: 164px;
}

.frame-2796 {
  align-items: flex-start;
  display: flex;
  margin-top: 16px;
  min-width: 344px;
  position: relative;
}

.frame-2796-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-top: 16px;
  min-width: 344px;
  position: relative;
}

.frame-2817 {
  align-items: flex-start;
  display: flex;
  min-width: 162px;
}

.frame-3477 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 24px;
  min-height: 112px;
  position: relative;
  width: 344px;
}

.funnel-outline-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 2px 3.7px;
  width: 24px;
}

.overlap-group-5 {
  height: 18px;
  position: relative;
  width: 16px;
}

.overlap-group-6 {
  height: 18px;
  position: relative;
  width: 18px;
}

.overlap-group1-2 {
  height: 6px;
  position: relative;
  width: 10px;
}

.search {
  align-items: center;
  background-color: var(--licorice);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
}

.search-groups {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  min-width: 105px;
  white-space: nowrap;
}

.search-outline-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 2.7px;
  width: 24px;
}

.text- {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 64px;
  width: 471px;
}

.unfollow {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 69px;
  white-space: nowrap;
}

.vector-19 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 1px;
}

.vector-20 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.vector-21 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.vector-22 {
  height: 1px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 1px;
}

.vector-23 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 1px;
}

.vector-24 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.x05-0-0-all-groups {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.your-groups {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 94px;
  white-space: nowrap;
}

.your-groups-1 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 16px;
  overflow: hidden;
  padding: 0 22px;
  width: 140px;
}

.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}

.border-1px-caribbean-green {
  border: 1px solid var(--caribbean-green);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.border-1px-quarter-spanish-white {
  border: 1px solid var(--quarter-spanish-white);
}

.border-class-1 {
  border: 0.5px solid rgba(255, 255, 255, 1);
}

.ibmplexsans-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: var(--font-family-ibm_plex_sans-bold);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-quarter-spanish-white-24px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-bold);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-regular-normal-ebb-14px {
  color: var(--ebb);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-monsoon-16px {
  color: var(--monsoon);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-onyx-14px {
  color: var(--onyx);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-caribbean-green-12px {
  color: var(--caribbean-green);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-24px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-24px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community-group-search-container {
  width: 60%;
}
