.download {
  height: 100%;
  position: relative;
}
.download-outline-1 {
  align-items: flex-start;
  display: flex;
  width: 24px;
}
.frame-2986 {
  height: 24px;
  left: 207px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.frame-2986-1 {
  left: 178px;
}
.frame-2986-2 {
  left: 268px;
}
.layer-230 {
  height: 24px;
  width: 24px;
}
.vector-107 {
  height: 41.67%;
  left: 45.83%;
  position: absolute;
  top: 12.50%;
  width: 8.33%;
}
.vector-58 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-68 {
  height: 8.33%;
  left: 16.67%;
  position: absolute;
  top: 75.00%;
  width: 66.67%;
}
.vector-78 {
  height: 16.67%;
  left: 16.67%;
  position: absolute;
  top: 66.67%;
  width: 8.33%;
}
.vector-87 {
  height: 16.67%;
  left: 75.00%;
  position: absolute;
  top: 66.67%;
  width: 8.33%;
}
.vector-97 {
  height: 20.83%;
  left: 28.12%;
  position: absolute;
  top: 41.67%;
  width: 43.75%;
}
