.add-event2 {
  height: 24px;
  left: calc(50.00% - 38px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-members3 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
}
.add-new-event3 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-113 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 376px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-1934-1 {
  height: 48px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 89px;
}
.frame-1934-2 {
  height: 48px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 71px;
}
.frame-19347 {
  height: 48px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 265px;
}
.frame-19639 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.frame-196410 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 456px;
  left: 508px;
  overflow: hidden;
  position: absolute;
  top: 303px;
  width: 424px;
}
.frame-28531 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 384px;
  width: 200px;
}
.frame-29244 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 320px;
  width: 136px;
}
.frame-2925 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 152px;
}
.frame-6518 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 376px;
}
.frame-662 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 200px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 200px;
}
.frame-917 {
  height: 48px;
  overflow: hidden;
  position: relative;
}
.phone9 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.rectangle-8579 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.span017 {
  color: rgba(137,137,137,1.0);
  line-height: 14px;
}
.span117 {
  color: rgba(0,198,136,1.0);
  line-height: 14px;
}
.start-date {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.start-time2 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.text-910 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.title2 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.x0300-am {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.x4-5-calendar-add-new-event {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1062px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
