@import "src/scss/mixins";

.congratulations-page-container {
  .form-grid-layout {
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(100px, 480px) minmax(100px, 480px) 320px;
    margin-bottom: 10px;

    .grag-and-drop-container {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    .buttons-container {
      width: 100%;

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;

      display: grid;
      gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }

  @include breakpoint("tablet") {
    .form-grid-layout {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 320px 80px 80px;

      .grag-and-drop-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .buttons-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    }
  }

  @include breakpoint("mobile") {
    .form-grid-layout {
      display: flex;
      flex-direction: column;

      .buttons-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.grag-and-drop-container {
  height: 320px;
}
