.frame-3030 {
  height: 80px;
  left: 40px;
  position: absolute;
  top: 16px;
  width: 1032px;
}
.text-793 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
