@import "src/scss/mixins";
@import "src/scss/colors";
@import "src/scss/variables";

.desktop-drag-and-drop-container {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  background-image: $dashed-border;
  @include flexColumn(center, center);
  background-color: rgba($color: $color-black, $alpha: 0.9);

  p {
    width: 164px;
    text-align: center;
    color: $color-white;
    user-select: none;
  }

  h4 {
    text-align: center;
    color: $color-green;
    user-select: none;
  }

  &-error {
    background-image: $dashed-border-error;
  }

  &-square {
    aspect-ratio: 1 / 1;
  }

  &-rectangle {
    aspect-ratio: 3 / 1;
  }

  &:hover {
    background-color: rgba($color: $color-black, $alpha: 0.7);
  }

  @include breakpoint("mobile", "minMax") {
    &-square {
      aspect-ratio: 2 / 1;
    }

    &-rectangle {
      aspect-ratio: 2 / 1;
    }
  }
}

.mobile-drag-and-drop-container {
  width: 100%;
  height: 56px;
  cursor: pointer;
  gap: $gap-smallest;
  @include flexRow(center, center);
  background-color: rgba($color: $color-white, $alpha: 0.1);

  .placeholder-container {
    gap: $gap-smallest;
    @include flexRow(center, center);
  }

  &-error {
    @include setSvgColor($color-red);
    h4 {
      color: $color-red;
      user-select: none;
    }
  }

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.05);
  }
}
