.layer-211 {
  height: 24px;
  width: 24px;
}
.search-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.search-outline-12 {
  left: 16px;
  top: 16px;
}
.search2 {
  height: 100%;
  position: relative;
}
.vector-27 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-28 {
  height: 77.08%;
  left: 11.47%;
  position: absolute;
  top: 11.47%;
  width: 77.08%;
}
