.frame-19532 {
  height: 24px;
  left: 24px;
  position: relative;
  top: 16px;
  width: 113px;
}
.text-37 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
