.header-container {
  width: 100%;
  height: 80px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.header-container h3 {
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.header-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.header-container ul li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container ul li:not(:last-child) {
  margin-right: 3em;
}

.header-container ul li:first-child img {
  margin-right: 0.8em;
}

.message {
  position: relative;
  cursor: pointer;
}

.message-noti {
  display: block;
  position: absolute;
  top: -6px;
  right: -6px;
  color: #00c688;
  background: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
}

@media only screen and (max-width: 900px) {
  .header-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 48px;
    width: 320px;
  }
}
