.frame-2893 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-2895 {
  height: 56px;
  left: 314px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-2897 {
  height: 56px;
  left: 631px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-2898 {
  height: 56px;
  left: 790px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-2899 {
  height: 56px;
  left: 947px;
  position: absolute;
  top: 0px;
  width: 163px;
}
.frame-2900 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1099px;
}
.fri {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.place5 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.s-at {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.thu {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.tue {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
