.frame-2024 {
  left: 474px;
  top: 0px;
}
.frame-20242 {
  left: 474px;
  top: 0px;
}
.frame-2026 {
  left: 790px;
  top: 0px;
}
.frame-20262 {
  left: 790px;
  top: 0px;
}
.frame-2028 {
  background-color: var(--licorice);
  height: 158px;
  left: 0px;
  position: absolute;
  top: 158px;
  width: 158px;
}
.frame-2029 {
  left: 158px;
}
.frame-20292 {
  left: 158px;
}
