.checkmark-circle-22 {
  height: 100%;
  position: relative;
}
.component-12 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 536px;
  position: absolute;
  top: 20px;
  width: 24px;
}
.layer-235 {
  height: 24px;
  width: 24px;
}
.vector-314 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-411 {
  height: 83.33%;
  left: 8.33%;
  position: absolute;
  top: 8.33%;
  width: 83.33%;
}
