.frame-2955 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 748px;
  left: 0px;
  position: absolute;
  top: 744px;
  width: 728px;
}
.frame-29552 {
  left: 288px;
  top: 1936px;
}
.frame-29553 {
  left: 288px;
  top: 1936px;
}
