.email-outline {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 12px;
  width: 24px;
}
.email-outline2 {
  left: 946px;
  min-width: 24px;
  top: 28px;
  width: unset;
}
