.x03-0-0-community-page-news .search {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
  width: 824px;
}

.community-page-news {
  display: grid;
  width: 97%;
  height: 80%;
  grid-template-rows: 5% 5% 90%;
  grid-template-columns: 70% 30%;
  grid-gap: 3%;
  margin-top: 1.5em;
}

.community-news-second-header {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.search-container-news {
  width: 75%;
}

.community-news-second-header button {
  width: 20%;
}

.community-news-cards {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.community-news-right-bar {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.community-news-right-bar-inner-container {
  background: var(--cards);
  border: 1px solid var(--strokes);
  border-radius: 4px;
  color: var(--primary-white);
  padding: 2em;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

.community-news-right-bar-inner-container .community-news-filter-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
}

.community-news-right-bar-inner-container .community-news-filter-container h6 {
  padding: 0.6em 0.6em;
  border: 1px solid var(--strokes);
  border-radius: 4px;
  margin-top: 1em;
}

.community-news-right-bar-inner-container .community-news-filter-container h6:not(:last-child) {
  margin-right: 1em;
}

.community-news-right-bar h4 {
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}

.community-news-right-bar .nav-link {
  color: var(--primary-white);
  text-decoration: underline;
  display: block;
  margin-top: 2em;
}

@media only screen and (max-width: 1200px) {
  .search-container-news {
    width: 70%;
  }

  .community-news-second-header button {
    width: 20%;
  }

  .community-page-news .filter-container {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .community-news-cards {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
  }
}

@media only screen and (max-width: 1020px) {
  .community-page-news {
    grid-template-rows: 10% 5% 85%;
  }

  .community-news-second-header {
    flex-direction: column;
    align-items: center;
  }

  .community-news-second-header button {
    width: 100%;
    margin-top: 1em;
  }

  .search-container-news {
    width: 100%;
  }
}
