.x03-0-0-community-page-news .search {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 4px;
  display: flex;
  height: 48px;
  overflow: hidden;
  padding: 0 16px;
  width: 824px;
}

.community-news-second-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.search-container-news {
  width: 75%;
  height: 48px;
}

.community-news-second-header button {
  width: 248px;
  height: 48px;
  margin-left: 40px;
}

.community-page-news-section {
  display: flex;
  justify-content: space-between;
}

.community-news-cards {
  width: 65%;
}

.community-news-right-bar {
  width: 348px;
  padding: 24px;
  border-radius: 4px;
  background: var(--cards);
  color: var(--primary-white);
  border: 1px solid var(--strokes);

  .community-news-filter-container {
    gap: 16px;
    margin-top: 32px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .news-container {
      padding: 12px 16px;
      border-radius: 4px;
      border: 1px solid var(--strokes);
    }
  }
}

.community-news-right-bar .nav-link {
  display: block;
  margin-top: 2em;
  text-decoration: underline;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-white);
  font-family: var(--font-family);
}

@media only screen and (max-width: 1200px) {
  .search-container-news {
    width: 70%;
  }

  .community-news-second-header {
    margin-bottom: 24px;
  }

  .community-page-news-section {
    flex-direction: column-reverse;
  }

  .community-page-news .filter-container {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .community-news-cards {
    width: 100%;
  }
}

@media only screen and (max-width: 1020px) {
  .community-news-second-header {
    flex-direction: column;
    align-items: center;
  }

  .community-news-second-header button {
    width: 100%;
    margin-top: 24px;
    margin-left: 0;
  }

  .search-container-news {
    width: 100%;
  }
}
