@import "src/scss/mixins";
@import "src/scss/variables";

.current-course-page-container {
  width: 100%;
  gap: $gap-medium;
  background-color: transparent;
  @include flexColumn(flex-start, flex-start);

  @include breakpoint("tablet", "max") {
  }
}
