.frame-194316 {
  background-color: var(--licorice);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-194415 {
  background-color: var(--shark);
  height: 200px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 247px;
}
.frame-197414 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 104px;
  width: 248px;
}
.frame-19769 {
  background-color: var(--caribbean-green);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 248px;
}
.frame-197713 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 248px;
}
.frame-197813 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 248px;
}
.frame-27917 {
  background-color: var(--licorice);
  bottom: 0px;
  height: 259px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.frame-284713 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 247px;
}
.frame-28518 {
  background-color: var(--caribbean-green);
  height: 48px;
  left: 0px;
  position: absolute;
  top: 211px;
  width: 248px;
}
.group-19438 {
  bottom: 0px;
  height: 299px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
.rectangle-859-17 {
  background-color: var(--licorice);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.rectangle-85921 {
  background-color: var(--onyx);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
.text-489 {
  color: var(--quarter-spanish-white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-491 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.text-507 {
  color: var(--shark);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: calc(50.00% - 54px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.union8 {
  bottom: 48px;
  height: 211px;
  left: calc(50.00% - 124px);
  position: absolute;
  width: 248px;
}
