.checkmark-square-2 {
  height: 100%;
  position: relative;
}
.checkmark-square-2-outline-12 {
  align-items: flex-start;
  display: flex;
  width: 24px;
}
.frame-92-12 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.frame-922 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 240px;
  width: 140px;
}
.frame-923 {
  top: 260px;
}
.layer-25 {
  height: 24px;
  width: 24px;
}
.remember-me2 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.subtract2 {
  height: 75.00%;
  left: 12.50%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}
.vector3 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
