.add-block4 {
  height: 24px;
  left: calc(50.00% - 37px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-text {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.close-outline-120 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 560px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-1933-13 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 0px;
}
.frame-193313 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 28px;
  width: 78px;
}
.frame-196316 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-28543 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 464px;
  width: 200px;
}
.frame-3420 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 536px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 244px;
  width: 600px;
}
.frame-424 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 96px;
  width: 560px;
}
.frame-65-19 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 240px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 560px;
}
.frame-6522 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.frame-920 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 69px;
}
.rectangle-85716 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.text-title {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.type-text-here {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.x3-3-add-new-block-text-1 {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
