.frame-19434 {
  background-color: var(--licorice);
  height: 1304px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.rectangle-8598 {
  background-color: rgba(255,255,255,0.1);
  height: 100%;
  left: 247px;
  position: absolute;
  top: 0px;
  width: 1px;
}
