.frame-19699 {
  height: 336px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 1032px;
}
.frame-27963 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 888px;
  overflow: hidden;
  position: absolute;
  top: 416px;
  width: 184px;
}
.frame-2799 {
  height: 976px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.rectangle-8753 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 1078px;
  width: 1112px;
}
