.achievements {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
.add-course {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
.award {
  height: 40px;
  left: 33px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.book-open-1 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.book3 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.check-square-1 {
  height: 40px;
  left: 10px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.frame-2739 {
  height: 33.03%;
  left: 23.92%;
  position: relative;
  top: 33.03%;
  width: 51.23%;
}
.frame-2818-1 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 216px;
}
.frame-2818-2 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 288px;
  width: 216px;
}
.frame-2818-3 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 552px;
  width: 216px;
}
.frame-28182 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 136px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: 136px;
}
.frame-28293 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 184px;
  left: 288px;
  position: absolute;
  top: 96px;
  width: 1112px;
}
.frame-2926 {
  height: 216px;
  left: 264px;
  position: absolute;
  top: 552px;
  width: 216px;
}
.frame-3007 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 136px;
  left: 648px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 136px;
}
.frame-3011 {
  height: 72px;
  left: 31px;
  position: relative;
  top: 32px;
  width: 75px;
}
.frame-3011-1 {
  height: 72px;
  left: 15px;
  position: relative;
  top: 32px;
  width: 106px;
}
.frame-3011-2 {
  height: 72px;
  left: 39px;
  position: relative;
  top: 32px;
  width: 59px;
}
.frame-3012 {
  height: 184px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 496px;
}
.frame-3013 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 136px;
  left: 800px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 136px;
}
.frame-3014 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 136px;
  left: 952px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 136px;
}
.frame-3016 {
  height: 48px;
  left: 180px;
  position: absolute;
  top: 112px;
  width: 158px;
}
.frame-3017 {
  height: 56px;
  left: 180px;
  position: absolute;
  top: 24px;
  width: 200px;
}
.frame-3060 {
  border-radius: 4px;
  height: 218px;
  left: 503px;
  overflow: hidden;
  position: absolute;
  top: 287px;
  width: 218px;
}
.frame-3060-1 {
  height: 216px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 216px;
}
.frame-3062 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 218px;
  left: 743px;
  overflow: hidden;
  position: absolute;
  top: 287px;
  width: 218px;
}
.frame-329 {
  height: 152px;
  left: 16px;
  position: relative;
  top: 32px;
  width: 184px;
}
.frame-3296 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 792px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 320px;
  width: 1112px;
}
.mikhail-ugryumov {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.my-communities {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.my-courses {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}
.my-groups {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}
.my-library {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}
.my-profile {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
.plus-1 {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.surveys {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
.text-242 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}
.text-243 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-248 {
  height: 48px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 152px;
  width: 186px;
}
.user {
  height: 40px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.users-1 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.vector-105 {
  height: 62.50%;
  left: 47.40%;
  position: absolute;
  top: 18.75%;
  width: 5.21%;
}
.vector-1110 {
  height: 4.17%;
  left: 18.23%;
  position: absolute;
  top: 47.92%;
  width: 63.54%;
}
.vector-121 {
  height: 38.75%;
  left: 30.00%;
  position: absolute;
  top: 9.79%;
  width: 40.00%;
}
.vector-124 {
  height: 30.00%;
  left: 1.25%;
  position: absolute;
  top: 60.00%;
  width: 72.50%;
}
.vector-134 {
  height: 38.75%;
  left: 17.50%;
  position: absolute;
  top: 9.79%;
  width: 40.00%;
}
.vector-144 {
  height: 30.00%;
  left: 80.21%;
  position: absolute;
  top: 60.27%;
  width: 18.75%;
}
.vector-154 {
  height: 38.75%;
  left: 63.56%;
  position: absolute;
  top: 9.81%;
  width: 18.75%;
}
.vector-213 {
  height: 63.75%;
  left: 17.50%;
  position: absolute;
  top: 1.46%;
  width: 65.00%;
}
.vector-37 {
  height: 43.75%;
  left: 26.25%;
  position: absolute;
  top: 54.96%;
  width: 47.50%;
}
.vector-46 {
  height: 47.50%;
  left: 34.58%;
  position: absolute;
  top: 13.75%;
  width: 60.00%;
}
.vector-55 {
  height: 80.00%;
  left: 10.00%;
  position: absolute;
  top: 10.00%;
  width: 80.00%;
}
.vector-65 {
  height: 17.50%;
  left: 13.75%;
  position: absolute;
  top: 67.29%;
  width: 72.50%;
}
.vector-75 {
  height: 90.00%;
  left: 13.75%;
  position: absolute;
  top: 5.00%;
  width: 72.50%;
}
.vector-85 {
  height: 80.00%;
  left: 5.42%;
  position: absolute;
  top: 10.00%;
  width: 47.50%;
}
.vector-95 {
  height: 80.00%;
  left: 47.08%;
  position: absolute;
  top: 10.00%;
  width: 47.50%;
}
.vector12 {
  height: 30.00%;
  left: 13.75%;
  position: absolute;
  top: 60.00%;
  width: 72.50%;
}
.x10-1-my-dashboard {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1152px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
