.chevron-right-outline-110 {
  left: 32px;
  transform: unset;
}
.chevron-right-outline-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 24px;
}
.chevron-right2 {
  height: 100%;
  position: relative;
}
.layer-219 {
  height: 24px;
  width: 24px;
}
.vector-119 {
  height: 43.75%;
  left: 38.50%;
  position: absolute;
  top: 28.09%;
  width: 27.08%;
}
.vector10 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
