.back-btn6 {
  height: 56px;
  left: 288px;
  position: absolute;
  top: 80px;
  width: 1112px;
}
.frame-29236 {
  height: 24px;
  position: relative;
  top: 16px;
  width: 69px;
}
.place9 {
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
