.outer-box {
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-grey);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  margin-right: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-box.active {
  background: var(--primary-color);
  border: none;
}

.checkbox-label {
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
  color: var(--primary-white);
  font-family: var(--font-family);
}
