.library-main-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.library-list-container {
  color: var(--primary-white);
  list-style: none;
  display: flex;
  margin: 0;
}

.library-list-container li {
  margin-right: 0.5em;
  margin-left: 0;
}

.library-list-item {
  background: var(inherit);
  border: 0.5px solid var(--primary-white);
  border-radius: 4px;
  color: var(--primary-white);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.library-list-item:hover {
  color: var(--background-color);
  background: var(--primary-white);
}

.library-list-item:focus {
  color: var(--background-color);
  background: var(--primary-white);
}

.library-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library-container .search-btn {
  margin-top: 40px;
}

.library-sub-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 40px;
  width: 248px;
}

.library-sub-header-1 {
  width: 100%;
  margin: 0;
}

.library-sub-header-2 {
  width: 100%;
  margin-top: 40px;
}

.library-sub-header-2 .filter-container {
  width: 100%;
}

.library-list-item.active {
  background: var(--primary-white);
  color: var(--background-color);
}

.library-btn-container {
  width: 100%;
}

.library-search-container {
  margin: 10px 0;
}

@media only screen and (max-width: 1350px) {
  .library-list-item {
    width: 170px;
  }
}

@media only screen and (max-width: 1350px) {
  .library-list-item {
    text-align: center;
    width: 140px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .library-sub-header-2 .filter-container {
    width: none;
  }
}

@media only screen and (max-width: 1100px) {
  .library-list-item {
    text-align: center;
    width: 120px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 840px) {
  .library-container {
    width: 100%;
  }

  .library-container .search-btn {
    margin-top: 24px;
  }

  .library-sub-header {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
  }

  .library-sub-header-1 {
    width: 100%;
  }

  .library-sub-header-2 {
    width: 100%;
    margin-top: 0;
  }

  .library-btn-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .library-main-header-container {
    flex-direction: column;
    height: auto;
  }

  .library-container .filter-container {
    width: 100%;
  }

  .library-sub-header-2 .filter-container {
    width: 100%;
    margin-top: 14px;
  }
}
