.frame-196920 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 336px;
  left: 40px;
  position: absolute;
  top: 40px;
  width: 1032px;
}
.frame-20796 {
  background-color: rgba(58,58,58,1.0);
  border-radius: 4px;
  box-shadow: 0px 16px 40px rgba(0,0,0,0.18);;
  height: 168px;
  left: 848px;
  overflow: hidden;
  position: absolute;
  top: 472px;
  width: 224px;
}
.frame-20807 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 97px;
}
.frame-20813 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 224px;
}
.frame-20824 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 112px;
  width: 224px;
}
.frame-20834 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 224px;
}
.frame-27969 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 888px;
  overflow: hidden;
  position: absolute;
  top: 416px;
  width: 184px;
}
.frame-27988 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 994px;
  left: 287px;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-27998 {
  height: 648px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-29546 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 704px;
  left: 288px;
  position: absolute;
  top: 1192px;
  width: 728px;
}
.rectangle-87517 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 647px;
  width: 1112px;
}
.report-group {
  color: var(--rusty-red);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.x521-group-page-inside-user-view {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 2392px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
