.frame-2904 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-3374 {
  height: 72px;
  left: 16px;
  position: absolute;
  top: 80px;
  width: 512px;
}
.frame-3375 {
  top: 168px;
}
.frame-3376 {
  top: 256px;
}
.name2 {
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.phone5 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 422px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-875 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 512px;
}
.text-238 {
  left: 64px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
