.imgPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;

  img {
    width: 100%;
  }
  p {
    margin-top: 1em;
    font-size: 1em;
    font-style: italic;
  }
}
