.frame-19886 {
  height: 24px;
  left: 51px;
  position: relative;
  top: 8px;
  width: 56px;
}
.frame-20503 {
  background-color: var(--licorice);
  height: 158px;
  left: 158px;
  position: absolute;
  top: 632px;
  width: 158px;
}
.nov-30 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
