.courses-saved-collection-header {
  color: var(--primary-white);
  margin: 16px 0;
}

.courses-saved-main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 0.3fr));
  grid-gap: 40px;
  color: var(--primary-white);
  margin-bottom: 40px;
}

.courses-saved-main-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  padding: 16px;
  border: 1px solid #4f5155;
  position: relative;
  border-radius: 4px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.58) 0%, rgba(25, 28, 33, 0.43) 100%);
}

.courses-saved-content h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-color);
}

.courses-saved-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.courses-saved-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1350px) {
  .courses-saved-main-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.4fr));
  }
}

@media only screen and (max-width: 900px) {
  .courses-saved-main-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.5fr));
  }
}

@media only screen and (max-width: 600px) {
  .courses-saved-main-container {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}
