.frame-3267 {
  top: 584px;
}
.frame-3268 {
  top: 784px;
}
.frame-3269 {
  top: 920px;
}
.frame-3270 {
  top: 1056px;
}
.frame-3291-2 {
  height: 32px;
  left: 136px;
  position: absolute;
  top: 12px;
  width: 352px;
}
.frame-3291-3 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 154px;
}
.frame-33282 {
  height: 24px;
  left: 24px;
  position: relative;
  top: 12px;
  width: 106px;
}
.frame-375 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 120px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 312px;
  width: 1112px;
}
.frame-3756 {
  height: 48px;
  left: 795px;
  position: absolute;
  top: 36px;
  width: 301px;
}
.rectangle-11942 {
  height: 120px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}
.text-192 {
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 16px);
  white-space: nowrap;
  width: 354px;
}
.text-193 {
  height: 24px;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 84px;
  white-space: nowrap;
}
.text-194 {
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-196 {
  height: 24px;
  left: 722px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
