.frame-1979 {
  height: 136px;
  left: 24px;
  position: absolute;
  top: 79px;
  width: 584px;
}
.text-17 {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 1.00px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.text-18 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.text-19 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 64px;
  width: 586px;
}
