.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.logo {
  width: 100%;
}

.logo-container.active {
  left: 5%;
}

.img-container {
  width: 150px;
}

.img-container svg {
  width: 100%;
}

.img-container-2 {
  width: 32px;
}

.img-container-2 img {
  width: 100%;
}

.dropdown-container {
  width: 100%;
  list-style: none;
  height: auto;
  display: none;
}

.list-items {
  background-color: var(--primary-black);
  height: auto;
  width: 100%;
}

.list-items .dropdown-container {
  transition: all 0.5s 1s ease-in-out;
  display: block;
}

.list-container {
  width: 100%;
  color: var(--primary-white);
  list-style: none;
  margin-top: 2em;
}

.list-container img {
  margin-right: 16px;
}

.list-container span {
  transition: all 0.5s 0.2s ease-in-out;
}

.list-container .list-items {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropdown-item {
  margin: 0;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}

.dropdown-item:hover {
  background: var(--primary-color);
}

.sidebar-container.active .list-items-menu:hover {
  background: none;
}

.sidebar-container.active .list-items:hover {
  background: none;
}

.sidebar-container.active .dropdown-item {
  display: none;
}

.sidebar-container.active .list-items-menu span {
  display: none;
}

.dropdown-item strong {
  margin-left: 42px;
}

.nav-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  left: 12%;
  top: 204px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.nav-icon img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-white);
}

.align-content {
  display: flex;
}

.list-container .text-passive {
  background: var(--primary-black);
  width: 100%;
  border-radius: 4px;
  height: 50px;
  padding: 1.2rem;
}

.list-container .text-active {
  background: var(--primary-color);
  fill: var(--background-color);
  margin-top: 0.8em;
}

.list-container .text-menu {
  width: 100%;
  border-radius: 4px;
  height: 50px;
  padding: 1.2rem;
  margin-top: 0.8em;
  cursor: pointer;
}

.list-container.active .text-passive {
  background: none;
}

.icon {
  fill: var(--primary-color);
}

.icon:hover {
  fill: var(--background-color);
}

.mobile-view-dropdown-container {
  position: fixed;
  width: 100%;
  height: 0;
  background: var(--background-color);
  z-index: 5000;
  bottom: 5%;
  right: 0;
  padding: 0 7em;
  transition: all ease-in-out 0.2s;
}

.mobile-view-dropdown-container.slide {
  height: 60%;
  transition: all ease-in-out 0.2s;
}

@media only screen and (max-width: 1800px) {
  .img-container {
    width: 100px;
  }

  .img-container-2 {
    width: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .mobile-view-dropdown-container {
    padding: 0 3em;
  }
}
