.calendar-side {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.header-side {
  background-color: #2b2b2c;
  text-align: center;
  line-height: 29px;
  color: white;
  font-weight: 300;
  height: 30px;
  font-size: 17px;
}

.day-names-side {
  display: flex;
  flex-wrap: wrap;
  width: 195px;
  margin: 0 auto;
  align-items: center;
  color: white;
}

.week-side {
  background-color: #141414;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: rgb((172), 167, 167);
  font-weight: 300;
}

.week-side div {
  width: 100%;
}

.day-side {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  color: white;
  border: 1px solid rgb(22, 21, 21);
  line-height: 2;
  font-size: 14px;
}

.calender-month-wrapper-side {
  display: flex;
}

.calender-header-container-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-side {
  background-color: rgb(64, 95, 80);
  height: 27px;
  width: 27px;
  border-radius: 5px;
  margin-top: 5px;
}

.before-side {
  color: white;
  background-color: rgb(12, 11, 11);
  height: 27px;
  width: 27px;
  border-radius: 5px;
  margin-top: 5px;
}

.previous-side {
  text-align: left;
  margin-left: 1rem;
  margin-right: 25px;
  color: rgba(0, 198, 136, 1);
  cursor: pointer;
}

.next-side {
  margin-left: 36px;
  color: rgba(0, 198, 136, 1);
  cursor: pointer;
}

.button-sidebar {
  background-color: #00c688;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.selected-side {
  background-color: rgba(0, 198, 136, 1);
  color: white;
  font-weight: bold;
  height: 27px;
  width: 30px;
}
