/* ====== */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.img-container {
  width: 150px;
}

.img-container img {
  width: 100%;
}

.list-container {
  color: #fff;
  list-style: none;
}

.list-container img {
  margin-right: 16px;
}

.list-container span {
  transition: all 0.5s 0.2s ease-in-out;
}

.list-items {
  width: 100%;
  height: 30px;

  margin-left: -40px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
}

.list-items:first-child:hover {
  background: #2b2b2c;
  height: 200px;
}

.dropdown-container {
  width: 100%;

  list-style: none;
  transition: all 0.5s -1s ease-in-out;
  display: none;
}

.dropdown-item {
  margin: 20px;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
}

.dropdown-item:hover {
  background: #00c688;
}

.list-items:hover .dropdown-container {
  transition: all 0.5s 1s ease-in-out;
  display: block;
}

.nav-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  outline: none;
  border: none;

  left: 263px;
  top: 204px;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.nav-icon img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.list-items:hover {
  background: #00c688;
  display: block;
  border-radius: 4px;
  line-height: 100%;
}

.nav-link {
  text-decoration: none;
}
