.article-page-container {
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .article-title-container {
      gap: 24px;
      width: 100%;
      margin-top: 16px;

      display: flex;
      flex-direction: column;

      .image-cover-container {
        width: 100%;
        max-height: 376px;
        border-radius: 6px;
        background-color: #323333;

        display: flex;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .article-content-container {
    gap: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .article-content-list-container {
      width: 80%;
    }

    .socials-container {
      gap: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
