.article-page-container {
  width: 100%;
  height: 200px;
  background-color: rebeccapurple;

  .header {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;

    .top-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
