.contact-information {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.frame-2818 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 248px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 248px;
}
.frame-2821 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 784px;
}
.frame-2822 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 872px;
}
.frame-2822-1 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 742px;
}
.frame-2825 {
  height: 152px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 784px;
}
.frame-2826 {
  height: 152px;
  left: 0px;
  position: absolute;
  top: 168px;
  width: 784px;
}
.frame-2828 {
  height: 152px;
  left: 0px;
  position: absolute;
  top: 336px;
  width: 784px;
}
.frame-28292 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 800px;
  left: 288px;
  position: absolute;
  top: 160px;
  width: 1112px;
}
.frame-3478 {
  height: 488px;
  left: 40px;
  position: absolute;
  top: 24px;
  width: 784px;
}
.frame-3738 {
  height: 320px;
  left: 824px;
  position: absolute;
  top: 40px;
  width: 248px;
}
.rectangle-867 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 151px;
  width: 744px;
}
.text-157 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.text-159 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.x10-4-my-personals-1 {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
