.frame-28485 {
  height: 24px;
  position: absolute;
  right: 206px;
  top: 28px;
  width: 137px;
}
.text-88 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
