.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-row-1 {
  align-items: flex-start;
  display: flex;
  min-width: 500px;
  flex-direction: column;
  margin: 40px 10px 10px;
}

.card-1-allCommunities {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/606aaba9f36dd20182120705/img/card-1@1x.png);
  background-position: 20% 50%;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  height: 528px;
  overflow: hidden;
  padding: 24px;
  width: 100%;    
}

.card-1-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 357px;
}

.card-1-title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 112px;
  width: 357px;
}

.text-1-card {
  height: 80px;
  letter-spacing: 0px;
  line-height: 40px;
  min-height: 80px;
  width: 445px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ibmplexsans-semi-bold-quarter-spanish-white-32px {
  color: var(--primary-white);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.address-1 {
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  margin-top: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.ibmplexsans-normal-quarter-spanish-white-16px {
  color: var(--primary-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
