.group-bg-image {
    /* background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60616bb4ad09ea041add624b/img/frame-1969@1x.png); */
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 4px;
    height: 336px;
    width: 1032px;
    margin-top: 30px;
  }