.frame-2801 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 256px;
  left: 768px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 344px;
}
.frame-2801-1 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-2802 {
  height: 112px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 492px;
}
.frame-2802-1 {
  height: 88px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 492px;
}
.frame-2812 {
  height: 112px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 556px;
}
.frame-2812-1 {
  height: 88px;
  left: 40px;
  position: relative;
  top: 24px;
  width: 556px;
}
.frame-2954 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 704px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-29562 {
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 728px;
}
.frame-2958 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 728px;
}
.frame-2959 {
  height: 152px;
  left: 0px;
  position: absolute;
  top: 464px;
  width: 728px;
}
.frame-3479 {
  height: 1492px;
  left: 288px;
  position: absolute;
  top: 1744px;
  width: 1112px;
}
.frame-34792 {
  top: 1928px;
}
.frame-34793 {
  top: 1944px;
}
.name3 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-875-1 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 255px;
  width: 728px;
}
.rectangle-875-2 {
  background-color: var(--onyx);
  height: 1px;
  left: 40px;
  position: absolute;
  top: 135px;
  width: 648px;
}
.span011 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.span111 {
  color: rgba(248,235,223,1.0);
  font-family: 'Inter', Helvetica;
  font-weight: 500;
  line-height: 16px;
}
.span28 {
  color: rgba(248,235,223,1.0);
  line-height: 16px;
}
.text-377 {
  height: 48px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 136px;
  width: 650px;
}
.text-378 {
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  width: 494px;
}
.text-379 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}
.text-380 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 494px;
}
.text-381 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 64px;
  white-space: nowrap;
}
