.frame-2912 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 12px;
  width: 95px;
}
.frame-29122 {
  left: 24px;
}
.search {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
