.pf-checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;

  input[type="checkbox"] {
    height: 0;
    width: 0;
  }

  .checkbox {
    width: 18px;
    height: 18px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background: transparent;
    border: 2px solid #8f92a1;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);

    .checkmark-icon {
      path {
        fill: transparent;
      }
    }

    &-error {
      border-color: #da3443;
    }
  }

  &:hover .checkbox {
    border-color: #f8ebdf;
  }

  .checkbox-title {
    color: #f8ebdf;
    margin-left: 10px;
    user-select: none;
    font: 600 16px/24px var(--font-family);
  }

  input[type="checkbox"]:checked + .checkbox {
    border: 2px solid #00c688;
    background-color: #00c688;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);

    .checkmark-icon {
      path {
        fill: #2b2b2c;
      }
    }
  }
}

@keyframes shrink-bounce {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
