.frame-3444 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 221px;
}
.frame-34442 {
  top: 240px;
}
.text-317 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
