.frame-3026 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 72px;
  width: 1032px;
}
.frame-3049 {
  top: 216px;
}
.percent2 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 14px;
  text-align: right;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.text-795 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
