.frame-28019 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 256px;
  left: 1056px;
  overflow: hidden;
  position: absolute;
  top: 1176px;
  width: 344px;
}
.frame-28072 {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 104px;
}
.search-filters2 {
  color: var(--quarter-spanish-white);
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
