.frame-2885 {
  height: 35px;
  left: 35px;
  position: absolute;
  top: 175px;
  width: 35px;
}
.frame-2886 {
  left: 70px;
}
.frame-2887 {
  left: 105px;
}
.frame-2888 {
  left: 140px;
}
.frame-2889 {
  left: 175px;
}
.number3 {
  height: 20px;
  left: calc(50.00% - 10px);
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 10px);
  width: 22px;
}
.rectangle-8595 {
  background-color: var(--licorice);
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1px;
}
