.notifications-modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0px 16px 16px 16px;
  background-color: #141414;

  .notifications-content-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    .action-btn {
      flex-shrink: 0;
      width: 100%;
      margin-top: 24px;
    }
  }
}
