.frame-3318 {
  height: 56px;
  left: 23px;
  position: relative;
  top: 12px;
  width: 75px;
}
.text-116 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}
