.frame-19482 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 64px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 344px;
  width: 247px;
}
.frame-19483 {
  background-color: unset;
  border-radius: unset;
  overflow: unset;
}
.frame-19484 {
  background-color: var(--caribbean-green);
  border-radius: unset;
  overflow: unset;
}
.frame-1981 {
  height: 24px;
  left: 24px;
  position: relative;
  top: 20px;
  width: 92px;
}
.graduation-cap {
  height: 75.00%;
  left: 0px;
  position: absolute;
  top: 12.50%;
  width: 100%;
}
.graduation-cap-1 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.text-42 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
