.frame-3697 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 86px;
}
.frame-36972 {
  left: 24px;
  top: 296px;
}
.surname2 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
