@import "src/scss/variables";
@import "src/scss/mixins";

.action-btn {
  width: 100%;
  height: 56px;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  .btn-title {
    font-style: normal;
    font: $font-body-bold;
  }

  svg {
    margin-right: 8px;
  }

  &-tint-icon {
    svg {
      path {
        fill: currentColor;
      }
    }
  }

  &-primary {
    color: #141414;
    background-color: #58bd88;

    &:hover {
      background-color: #009466;
    }

    &:active {
      background-color: #007a54;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-secondary {
    color: #eeefef;
    background-color: rgba(238, 239, 239, 0.1);

    &:hover {
      background-color: rgba(202, 220, 214, 0.2);
    }

    &:active {
      background-color: rgba(186, 207, 200, 0.3);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-transparent {
    color: #00c688;
    background-color: transparent;

    &:hover {
      color: #02f2a7;
    }

    &:active {
      color: #05a875;
    }
  }

  &-transparent-red {
    color: #da3443;
    background-color: transparent;
    svg {
      @include setSvgColor(#da3443);
    }

    &:hover {
      color: #df535e;
      svg {
        @include setSvgColor(#df535e);
      }
    }

    &:active {
      color: #ac202b;
      svg {
        @include setSvgColor(#ac202b);
      }
    }
  }

  &-transparent-white {
    color: #f8ebdf;
    background-color: transparent;
    svg {
      @include setSvgColor(#f8ebdf);
    }

    &:hover {
      color: #8a8a8a;
      svg {
        @include setSvgColor(#8a8a8a);
      }
    }

    &:active {
      color: #3a3939;
      svg {
        @include setSvgColor(#3a3939);
      }
    }
  }

  &-logout {
    color: $color-primary-white;
    border: none;
    background-color: #da3443;

    &:hover {
      background-color: #df535e;
    }

    &:active {
      background-color: #ac202b;
    }
  }

  &-header-nav {
    border: none;
    color: $color-primary-white;
    background-color: transparent;

    svg {
      flex-shrink: 0;
      @include setSvgColor(#00c688);
    }

    .btn-title {
      flex-shrink: 1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &:hover {
      svg {
        @include setSvgColor(#02f2a7);
      }
    }

    &:active {
      svg {
        @include setSvgColor(#05a875);
      }
    }
  }
}
