.layer-226 {
  height: 24px;
  width: 24px;
}
.person-add {
  height: 100%;
  position: relative;
}
.person-add-outline-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.vector-127 {
  height: 25.00%;
  left: 66.67%;
  position: absolute;
  top: 16.67%;
  width: 25.00%;
}
.vector-215 {
  height: 33.33%;
  left: 25.00%;
  position: absolute;
  top: 12.50%;
  width: 33.33%;
}
.vector-39 {
  height: 33.33%;
  left: 12.50%;
  position: absolute;
  top: 54.17%;
  width: 58.33%;
}
.vector14 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
