.dismiss {
  left: 53px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-1961 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 528px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 728px;
  width: 536px;
}
.frame-1962 {
  left: 864px;
}
.frame-196914 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 256px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 536px;
}
.frame-27955 {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  backdrop-filter: blur(16px) brightness(100%);
  background-color: rgba(255,255,255,0.16);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 164px;
}
.frame-27974 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 64px;
  width: 344px;
}
.frame-34773 {
  height: 112px;
  left: 24px;
  position: absolute;
  top: 392px;
  width: 344px;
}
