.frame-19742 {
  top: 104px;
}
.frame-19743 {
  background-color: var(--caribbean-green);
  top: 104px;
}
.frame-19744 {
  background-color: var(--caribbean-green);
  top: 104px;
}
.frame-19745 {
  background-color: var(--caribbean-green);
  top: 104px;
}
.frame-1976 {
  height: 48px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 248px;
}
.text-40 {
  left: 56px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
