.add-event {
  height: 24px;
  left: calc(50.00% - 38px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.add-members {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
}
.add-new-event {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.choose-date {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.close-outline-111 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 376px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.frame-19637 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 424px;
}
.frame-1964-1 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 200px;
  width: 376px;
}
.frame-19648 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 456px;
  left: 508px;
  overflow: hidden;
  position: absolute;
  top: 307px;
  width: 424px;
}
.frame-28529 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 24px;
  position: absolute;
  top: 384px;
  width: 200px;
}
.frame-29243 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 320px;
  width: 136px;
}
.frame-65-14 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 152px;
}
.frame-6516 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 376px;
}
.frame-66 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  left: 176px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 200px;
}
.rectangle-8577 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.span015 {
  color: rgba(137,137,137,1.0);
  line-height: 16px;
}
.span115 {
  color: rgba(0,198,136,1.0);
  line-height: 16px;
}
.start-time {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.title {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}
.x4-4-calendar-add-new-event {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1062px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
