.category {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.close-outline-117 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 560px;
  position: absolute;
  top: 28px;
  width: 24px;
}
.delete-group2 {
  color: var(--rusty-red);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.ecology2 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.edit-group2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
.frame-196313 {
  height: 80px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 608px;
}
.frame-1964-13 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 440px;
  width: 560px;
}
.frame-196414 {
  background-color: rgba(25,27,29,1.0);
  border-radius: 4px;
  height: 896px;
  left: 416px;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 608px;
}
.frame-19655 {
  height: 160px;
  left: 24px;
  position: absolute;
  top: 544px;
  width: 560px;
}
.frame-19663 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 224px;
  position: absolute;
  top: 0px;
  width: 200px;
}
.frame-20806 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 744px;
  width: 128px;
}
.frame-23713 {
  background-color: rgba(0,0,0,1.0);
  height: 72px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 554px;
}
.frame-3177 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 216px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 554px;
}
.frame-3733 {
  height: 48px;
  left: 24px;
  position: absolute;
  top: 808px;
  width: 424px;
}
.frame-421 {
  height: 80px;
  left: 24px;
  position: absolute;
  top: 336px;
  width: 560px;
}
.frame-65-17 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.frame-65-22 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.frame-6520 {
  background-color: var(--shark-2);
  border-radius: 4px;
  height: 80px;
  overflow: hidden;
}
.frame-9-13 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 58px;
}
.frame-918 {
  height: 48px;
  left: 16px;
  overflow: hidden;
  position: relative;
  top: 16px;
  width: 97px;
}
.group-title {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.nature-lovers4 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
.rectangle-1033 {
  background-color: rgba(0,0,0,1.0);
  bottom: 0px;
  height: 72px;
  left: 0px;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
.rectangle-85713 {
  background-color: rgba(0,0,0,1.0);
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
}
.text-1145 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  width: 530px;
}
.update-information {
  height: 24px;
  left: calc(50.00% - 72px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 12px);
  white-space: nowrap;
}
.x541-my-group-owner-view3 {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
