.frame-2798-12 {
  border-radius: 4px;
  height: 48px;
  left: 192px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 168px;
}
.frame-27982 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 1730px;
  left: 287px;
  position: absolute;
  top: 159px;
  width: 1114px;
}
.frame-2982-12 {
  background-color: var(--licorice);
  height: 112px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-29824 {
  background-color: var(--licorice);
  height: 408px;
  left: 0px;
  position: absolute;
  top: 976px;
  width: 1112px;
}
.frame-30042 {
  background-color: var(--white);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 168px;
}
.frame-34312 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 200px;
  width: 568px;
}
.frame-34362 {
  height: 48px;
  left: 40px;
  position: absolute;
  top: 112px;
  width: 744px;
}
.frame-3437 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 240px;
  width: 568px;
}
.frame-3438 {
  height: 40px;
  left: 40px;
  position: absolute;
  top: 280px;
  width: 656px;
}
.rectangle-8756 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 407px;
  width: 1112px;
}
.show-all-tasks {
  color: var(--caribbean-green);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 344px;
  white-space: nowrap;
}
.span0-1 {
  color: rgba(248,235,223,1.0);
  line-height: 16px;
}
.span1-1 {
  color: rgba(137,137,137,1.0);
  line-height: 16px;
}
.text-45 {
  color: transparent;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
.text-450 {
  color: var(--white);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}
.text-452 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
.x9-4-enterprise-user-view-tasks {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 3262px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
