.eye-off-outline-2 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 346px;
  padding: 2.5px 1.7px;
  width: 24px;
}
.overlap-group1 {
  height: 19px;
  position: relative;
  width: 21px;
}
.vector-18 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 1px;
}
.vector-19 {
  height: 19px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.vector-20 {
  height: 12px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.vector-21 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 2px;
  width: 14px;
}
