.mobile-nav-modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0px 0px 16px 0px;
  background-color: #141414;

  .mobile-nav-content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}
