.x05-2-0-group-page-inside-user-view {
  align-items: flex-start;
  background-color: var(--background-color);
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  position: relative;
  width: 100%;
}

.first-card {
  align-items: flex-start;
  background-color: var(--cards);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  min-height: 994px;
  position: relative;
  width: 1114px;
}

.posts-farmer {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 648px;
  width: 1112px;
}

.group-boderline {
  background-color: var(--strokes);
  height: 1px;
  margin-top: 39px;
  width: 1112px;
}

.group-flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 100%;
  margin-left: 1px;
  margin-top: 39px;
  min-width: 1112px;
}

/* farmsdetailscard -css */

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 192px;
  margin-top: 40px;
  min-width: 1032px;
}

.post-title-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 192px;
  width: 636px;
}

.post-title-text {
  height: 48px;
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}

.post-description {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 24px;
  min-height: 72px;
  width: 638px;
}

.followers-group {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  overflow: hidden;
  width: 116px;
}

.group-followers-text {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.community-group-follow-btn {
  -webkit-backdrop-filter: blur(16px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(16px) brightness(100%);
  background-color: var(--primary-white);
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 212px;
  overflow: hidden;
  padding: 0 22px;
  position: relative;
  width: 184px;
}

.youre-follower {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 114px;
  white-space: nowrap;
}

.follow-option {
  align-items: flex-start;
  background-color: var(--onyx-2);
  border-radius: 4px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  height: 168px;
  padding: 16px;
  width: 224px;
  margin-top: 10px;
  margin-left: 171px;
}

.write-a-message {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.follow-option-item {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 32px;
  min-height: 24px;
  white-space: nowrap;
}

/* community-group-photos css */
.group-photo {
  align-items: flex-end;
  background-color: var(--cards);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 344px;
  overflow: hidden;
  padding: 16px 0;
  width: 1112px;
}

.group-photo-title {
  align-items: center;
  align-self: center;
  display: flex;
  height: 72px;
  min-width: 1032px;
  position: relative;
}

.enterprise-photos-i5 {
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 32px;
  min-width: 153px;
  white-space: nowrap;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  margin-right: -24px;
  margin-top: 20px;
  min-width: 1096px;
  height: 100%;
}

.photo {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

.frame-296 {
  background-size: 100% 100%;
  border-radius: 4px;
  height: 200px;
  margin-left: 24px;
  width: 200px;
}

.overlap-group1-2 {
  border-radius: 4px;
  height: 200px;
  margin-left: 24px;
  position: relative;
  width: 200px;
}

.frame-2969 {
  align-items: flex-start;
  background-size: 100% 100%;
  border-radius: 4px;
  display: flex;
  height: 200px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 200px;
}

.arrow {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 48px;
  left: 104px;
  overflow: hidden;
  padding: 0 12px;
  position: absolute;
  top: 76px;
  width: 48px;
}

.arrow-forward-outline-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 4.7px 4px;
  width: 24px;
}

.overlap-group-6 {
  height: 14px;
  position: relative;
  width: 16px;
}

.group-arrow-icon {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

/* communtiy group post css */
.user-post-card {
  align-items: flex-start;
  background-color: var(--cards);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-height: 704px;
  width: 728px;
  margin-bottom: 30px;
}

.group-user-post-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 256px;
  width: 728px;
}

.group-user-post {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: 40px;
  min-width: 388px;
}

.group-user-avatar {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60616bb4ad09ea041add624b/img/frame-2801@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 72px;
  width: 72px;
  margin-top: 10px;
}

.group-user-post-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 60px;
  width: 300px;
}

.group-user-post-title {
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 32px;
  white-space: nowrap;
}

.group-user-post-timestamps {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  min-height: 24px;
  white-space: nowrap;
}

.group-user-post-text {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 2px;
  margin-top: 24px;
  min-height: 48px;
  width: 650px;
}

.post-image {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 288px;
  margin-top: 16px;
  width: 648px;
}

.group-flex-row-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 24px;
  min-width: 648px;
}

.comment-container {
  align-items: flex-start;
  display: flex;
  min-width: 106px;
  position: relative;
}

.message-square-outline-1-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  padding: 2px;
  width: 24px;
}

.overlap-group-7 {
  height: 19px;
  position: relative;
  width: 20px;
}

.message-outline-icon {
  height: 19px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 19px;
}

.frame-2805 {
  align-items: flex-start;
  display: flex;
  margin-left: 436px;
  min-width: 106px;
  position: relative;
}

.eye-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 4.7px 1.5px;
  width: 24px;
}

.overlap-group-8 {
  height: 14px;
  position: relative;
  width: 21px;
}

.eye-outlined-icon {
  height: 19px;
  left: 10px;
  position: absolute;
  top: -3px;
  width: 19px;
}

.comment-number {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.comment-boderline {
  background-color: var(--strokes);
  height: 1px;
  margin-top: 23px;
  width: 728px;
}

.frame-2813 {
  align-items: flex-start;
  display: flex;
  margin-left: 40px;
  margin-top: 24px;
  min-width: 126px;
  position: relative;
}

.most-newest {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 96px;
  white-space: nowrap;
}

.chevron-right-outline-1-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 2px;
  padding: 8.7px 6.3px;
  transform: rotate(90deg);
  width: 24px;
}

.overlap-group-5 {
  height: 6px;
  position: relative;
  width: 10px;
}

.right-arrow-icon {
  height: 19px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 19px;
}

.user-cmnt-avatar {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60616bb4ad09ea041add624b/img/frame-2801-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  width: 48px;
}

.cmnt-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  min-height: 112px;
  width: 492px;
}

.cmnt-user-name {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.cmnt-user-text {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 8px;
  min-height: 48px;
  width: 494px;
}

.cmnt-user-timestamps {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.user-post-cmnt-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 136px;
  width: 728px;
}

.comment-details-container {
  align-items: flex-start;
  display: flex;
  height: 112px;
  margin-left: 40px;
  min-width: 556px;
}

.cmt {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 40px;
  min-width: 648px;
}

.frame-2815 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60616b2488353a18d38d9e60/releases/60616bb4ad09ea041add624b/img/frame-2815@2x.png);
  background-size: 100% 100%;
  border-radius: 100px;
  height: 48px;
  width: 48px;
}

.comment-box-container {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 48px;
  margin-left: 16px;
  min-width: 584px;
  padding: 0 16px;
  margin-bottom: 30px;
}

.text-12 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 201px;
  background-color: var(--cards);
  border: none;
  outline: none;
}

.paper-plane-outline-1-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 327px;
  padding: 1.3px 1px;
  width: 24px;
}
