.component-22 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.subtract4 {
  height: 75.00%;
  left: 12.50%;
  position: absolute;
  top: 12.50%;
  width: 75.00%;
}
.vector-129 {
  height: 35.42%;
  left: 30.20%;
  position: absolute;
  top: 32.28%;
  width: 39.58%;
}
.vector16 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
