.address {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 16px;
  min-width: 70px;
  white-space: nowrap;
}

.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.date {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 12px;
  min-height: 16px;
  white-space: nowrap;
}

.farming {
  letter-spacing: 1px;
  line-height: 16px;
  min-height: 16px;
  white-space: nowrap;
}

.frame-time {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  height: 279px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.frame-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 24px;
  min-height: 176px;
  position: absolute;
  top: 79px;
  width: 90%;
}

.frame-3470 {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(10px) brightness(100%);
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 32px;
  overflow: hidden;
  padding: 0 22px;
  width: 116px;
}

.frame-3501 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  width: 312px;
}

.ibmplexsans-normal-quarter-spanish-white-14px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-24px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.news-card {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 280px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.2em;
}

.newsCard-group {
  border-radius: 4px;
  height: 279px;
  position: relative;
  width: 100%;
}

.newsCard-group1 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  height: 279px;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8px;
  min-height: 32px;
  white-space: nowrap;
}

.news-text {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 72px;
  width: 100%;
}

.subtitle {
  width: 100%;
  margin-top: 0.4em;
}

/* truncating the text */
html {
  line-height: var(--lh);
}

.overflow {
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}

.module {
  width: 100%;
  margin: 0 0 1em 0;
  overflow: hidden;
}

.overflow::before {
  position: absolute;
  content: "...";
  bottom: 5%;
  right: 0;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .date {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  .overflow::before {
    position: absolute;
    content: "...";
    bottom: 0.4em;
    right: 0;
    color: #fff;
  }
}
