@import "src/scss/mixins";
@import "src/scss/colors";
@import "src/scss/variables";

.lessons-block-container {
  width: 100%;
  gap: $gap-big;
  @include flexColumn(flex-start, flex-start);

  .courses-empty-block-container {
    gap: $gap-big;
  }
}

.progress-list-container {
  width: 100%;
  margin-top: -$gap-big;
  @include flexColumn(flex-start, flex-start);
}

.lesson-list-item-container {
  gap: 40px;
  height: calc(120px + #{$gap-big});
  @include flexRow(center, center);

  .lesson-item {
    gap: $gap-big;
    @include flexRow(flex-start, flex-start);

    .avatar-container {
      width: 120px;
      height: 120px;
    }

    .info-block {
      gap: $gap-small;
      @include flexColumn(flex-start, flex-start);

      h5 {
        @include setTextLines(3);
      }
    }

    .mobile-row-container {
      gap: $gap-small;
      @include flexRow(center, flex-start);

      .avatar-container {
        width: 48px;
        height: 48px;
      }
    }
  }

  @include breakpoint("mobile", "minMax") {
    @include flexRow(flex-start, flex-start);

    .lesson-item {
      gap: $gap-small;
      height: calc(96px + #{$gap-medium});
      @include flexColumn(flex-start, center);
    }
  }
}
