.layer-233 {
  height: 24px;
  width: 24px;
}
.trash {
  height: 100%;
  position: relative;
}
.trash-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.vector-223 {
  height: 2.08%;
  left: 48.96%;
  position: absolute;
  top: 48.96%;
  width: 2.08%;
}
.vector-313 {
  height: 85.42%;
  left: 8.33%;
  position: absolute;
  top: 7.29%;
  width: 83.33%;
}
