.category__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;

  button {
    width: 200px;
  }
}

.category-btn {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-weight: bolder;
  margin-left: 0;
}
