.more-horizontal-1 {
  height: 24px;
  left: 680px;
  position: absolute;
  top: 24px;
  width: 24px;
}
.vector-141 {
  height: 16.67%;
  left: 70.83%;
  position: absolute;
  top: 41.67%;
  width: 16.67%;
}
.vector-225 {
  height: 16.67%;
  left: 12.50%;
  position: absolute;
  top: 41.67%;
  width: 16.67%;
}
.vector24 {
  height: 16.67%;
  left: 41.67%;
  position: absolute;
  top: 41.67%;
  width: 16.67%;
}
