.contact-information2 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.follow2 {
  left: 99px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-28183 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 248px;
  left: 824px;
  position: absolute;
  top: 40px;
  width: 248px;
}
.frame-28212 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 784px;
}
.frame-2822-12 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 742px;
}
.frame-28222 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 872px;
}
.frame-28252 {
  height: 144px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 784px;
}
.frame-28262 {
  height: 144px;
  left: 0px;
  position: absolute;
  top: 144px;
  width: 784px;
}
.frame-28282 {
  height: 144px;
  left: 0px;
  position: absolute;
  top: 288px;
  width: 784px;
}
.frame-2829-1 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 48px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 64px;
  width: 248px;
}
.frame-28295 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 832px;
  left: 288px;
  position: absolute;
  top: 152px;
  width: 1112px;
}
.frame-34782 {
  height: 432px;
  left: 40px;
  position: absolute;
  top: 24px;
  width: 784px;
}
.frame-3551 {
  height: 112px;
  left: 824px;
  position: absolute;
  top: 312px;
  width: 248px;
}
.rectangle-8672 {
  background-color: var(--onyx);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 744px;
}
.text-405 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.text-407 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.x8-1-community-members-1 {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
