.frame-20803 {
  height: 24px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 67px;
}
.text-467 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
