body {
  background: black;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

* {
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

.nav-link {
  text-decoration: none;
}

/* layout */

.container {
  display: flex;
  width: 100vw;
  background: #000;
}

.section-container {
  width: clamp(90%, 80%, 90%);
  min-width: 65%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  width: 25%;
  background-color: #141414;

  /* padding: 20px; */
  transition: all 0.5s ease-in-out;
  border: 1px solid #3a3939;
}

/* when sidebar is active */

.sidebar-container.active {
  width: 6%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sidebar-container.active .logo-container .img-container {
  width: 100%;
  overflow: hidden;
  display: none;
}

.sidebar-container.active .logo-container .img-container-2 {
  transition: 0.5s ease-in-out;
  display: block;
}

.sidebar-container.active .list-items span {
  opacity: 0;
  transition: all 0.5s -0.5s ease-in-out;
}

.sidebar-container.active .list-container {
  width: 100%;
}

.sidebar-container.active .list-items {
  transition: none;
  width: 100%;
}

.sidebar-container.active .list-items:first-child:hover {
  transition: none;
  height: 30px;
  background: none;
}

.sidebar-container.active .nav-icon {
  transition: all 0.5s ease-in-out;
  left: 4%;
  transform: rotate(180deg);
}

/* default btn styling */

.default-btn {
  background: #029c6b;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  font-weight: bolder;
  cursor: pointer;
}

.default-btn:hover {
  background: #00c688;
}
