.nav-link {
  text-decoration: none;
}

/* layout */
.container {
  display: flex;
  width: 100vw;
  background: #000;
}

.section-container {
  width: clamp(90%, 80%, 90%);
  min-width: 65%;
  display: flex;
  flex-direction: column;
}

/* default btn styling */
.default-btn {
  background: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  cursor: pointer;
  width: 100%;

  color: var(--primary-black);
  font: 600 16px/24px var(--font-family);
}

.default-btn:hover {
  background: #00c688;
}

input[type="checkbox"] {
  background: #900;
}
