body {
  background: black;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

* {
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --gallery: rgba(238, 238, 238, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --quarter-spanish-white-2: rgba(248, 235, 223, 0.16);
  --shark: rgba(43, 43, 44, 1);
  --rusty-red: rgba(218, 52, 67, 1);
}

.nav-link {
  text-decoration: none;
}

/* layout */
.container {
  display: flex;
  width: 100vw;
  background: #000;
}

.section-container {
  width: clamp(90%, 80%, 90%);
  min-width: 65%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  width: 15%;
  background-color: #141414;
  transition: all 0.5s ease-in-out;
  border: 1px solid #3a3939;
  padding-top: 2.6em;
}

/* when sidebar is active */
.sidebar-container.active {
  width: 4%;
  overflow: hidden;
  padding: 0;
  padding-top: 20px;
}

.sidebar-container.active .logo-container .img-container {
  width: 100%;
  display: none;
  height: 5px;
}

.sidebar-container.active .list-items image {
  left: 3%;
}

.sidebar-container.active .logo-container .img-container-2 {
  transition: 0.5s ease-in-out;
  display: block;
  margin-top: 1.3em;
  width: 32px;
}

.sidebar-container.active .list-items span {
  opacity: 0;
  transition: all 0.5s -0.5s ease-in-out;
}

.sidebar-container.active .list-items-menu span {
  opacity: 0;
  transition: all 0.5s -0.5s ease-in-out;
}

.sidebar-container.active .list-container {
  width: 100%;
}

.sidebar-container.active .list-items {
  transition: none;
  width: 100%;
}

.sidebar-container.active .nav-icon {
  transition: all 0.5s ease-in-out;
  left: 3%;
  transform: rotate(180deg);
}

/* default btn styling */
.default-btn {
  background: #029c6b;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 50px;
  font-weight: bolder;
  cursor: pointer;
  width: 100%;
}

.default-btn:hover {
  background: #00c688;
}

input[type="checkbox"] {
  background: #900;
}

@media only screen and (max-width: 1300px) {
  .sidebar-container {
    width: 20%;
  }

  .sidebar-container.active {
    width: 6%;
  }

  .nav-icon {
    left: 15%;
  }

  .sidebar-container.active .nav-icon {
    left: 4%;
  }
}
