@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap");

body {
  background: black;
  font-style: normal;
  font-family: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "IBM Plex Sans", sans-serif;
  --primary-color: rgba(0, 198, 136, 1);
  --primary-black: #2b2b2c;
  --primary-grey: #8a8a8a;
  --primary-white: #f8ebdf;
  --secondary-red: #da3443;
  --secondary-black: #eaeaea;
  --secondary-yellow: #eaa534;
  --secondary-blue: #3641d9;
  --background-color: #000;
  --background-color-light: rgba(255, 255, 255, 0.16);
  --background-color-image: rgba(0, 0, 0, 0.8);
  --background-color-modal: rgba(0, 0, 0, 0.8);
  --cards: #141414;
  --popups: #1d1f22;
  --strokes: #2b2b2b;
  --dropdowns: #3a3a3a;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--primary-white);
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: var(--primary-white);
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--primary-white);
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--primary-white);
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-white);
}

h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

#app {
  max-width: 2560px;
  margin: 0 auto;
}

input,
textarea {
  font-family: inherit;
}
a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
