@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background: black;
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
}

* {
  font-family: "IBM Plex Sans-SemiBold", Helvetica, sans-serif;
  box-sizing: border-box;
}

.border-1px-caribbean-green {
  border: 1px solid var(--caribbean-green);
}

.border-1px-monsoon {
  border: 1px solid var(--monsoon);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.border-1px-quarter-spanish-white {
  border: 1px solid var(--quarter-spanish-white);
}

.border-2px-shark-2 {
  border: 2px solid var(--shark-2);
}

.border-class-1 {
  border: 1px solid rgba(79, 81, 85, 1);
}

.border-class-2 {
  border: 1px solid rgba(239, 239, 239, 1);
}

.border-class-3 {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.ibmplexsans-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-normal-ebb-14px {
  color: var(--ebb);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-monsoon-16px {
  color: var(--monsoon);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-onyx-14px {
  color: var(--onyx);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-quarter-spanish-white-24px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.inter-medium-monsoon-16px {
  color: var(--monsoon);
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.inter-medium-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --ebb: rgba(227, 227, 227, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --rusty-red: rgba(218, 52, 67, 1);
  --shark: rgba(43, 43, 44, 1);
  --shark-2: rgba(33, 34, 37, 1);
  --white: rgba(255, 255, 255, 1);
  --white2: rgba(255, 255, 255, 0.16);
  --black: rgba(0, 0, 0, 1);
  --font-family-ibm_plex_sans-bold: "IBM Plex Sans-Bold", helvetica, sans-serif;
  --font-family-ibm_plex_sans-regular: "IBM Plex Sans-Regular", helvetica, sans-serif;
  --font-family-ibm_plex_sans-semibold: "IBM Plex Sans-SemiBold", helvetica, sans-serif;
  --font-family-inter-medium: "Inter-Medium", helvetica, sans-serif;
  --font-family-inter-semibold: "Inter-SemiBold", helvetica, sans-serif;
  --font-size-14px: 14px;
  --font-size-16px: 16px;
  --font-size-24px: 24px;
  --font-size-xl: 40px;
}

.border-0-5px-quarter-spanish-white {
  border: 0.5px solid var(--quarter-spanish-white);
}

.ibmplexsans-bold-shark-14px {
  color: var(--shark);
  font-family: var(--font-family-ibm_plex_sans-bold);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-bold-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-ibm_plex_sans-bold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-regular-normal-ebb-14px {
  color: var(--ebb);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-monsoon-16px {
  color: var(--monsoon);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-onyx-14px {
  color: var(--onyx);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-14px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-regular-normal-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-regular);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-caribbean-green-16px {
  color: var(--caribbean-green);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-monsoon-16px {
  color: var(--monsoon);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-40px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-white-16px {
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-rusty-red-16px {
  color: var(--rusty-red);
  font-family: var(--font-family-ibm_plex_sans-semibold);
  font-size: var(--font-size-16px);
  font-style: normal;
  font-weight: 600;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
