@import "src/scss/mixins";

.main-page-header {
  width: 100%;
  padding: 16px 40px;
  background-color: transparent;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h3 {
    flex-shrink: 0;
  }

  .right-nav-container {
    gap: 24px;

    display: flex;
    align-items: center;
    flex-direction: row;

    .avatar-container {
      width: 48px;
      height: 48px;
    }

    .modal-btns-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }
  }

  .settings-modal-header-container {
    display: flex;
    flex-direction: column;

    .action-btn {
      justify-content: flex-start;
    }
  }

  @include breakpoint("tablet", "max") {
    height: 72px;
    padding: 0px 16px;
    position: relative;
    background-color: rgba(20, 20, 20, 0.2);

    .right-nav-container {
      gap: 16px;
    }
  }
}
