.frame-2048 {
  background-color: var(--licorice);
  height: 158px;
  left: 948px;
  position: absolute;
  top: 474px;
  width: 164px;
}
.nov-26 {
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
