.frame-2824 {
  height: 48px;
  left: 214px;
  overflow: hidden;
  position: absolute;
  top: 72px;
  width: 147px;
}
.frame-28242 {
  top: 56px;
}
.phone3 {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.text-158 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
