$color-green: #58bd88;
$color-green-hover: #009466;
$color-green-active: #007a54;

$color-black: #141414;
$color-black-hover: #1d2120;
$color-black-active: #27332f;

$color-white: #eeefef;
$color-white-hover: #cadcd6;
$color-white-active: #9bb0a9;

$color-grey: #676969;
$color-grey-hover: #4b4d4d;
$color-grey-active: #323333;

$color-red: #da3443;
$color-red-hover: #a62833;
$color-red-active: #8c212b;

$color-blue: #3a84d9;
$color-blue-hover: #2862a6;
$color-blue-active: #22538c;

$color-yellow-light: #dbb471;
$color-yellow-light-hover: #a88a57;
$color-yellow-light-active: #635233;

$color-yellow: #eaa533;
$color-yellow-hover: #b88128;
$color-yellow-active: #9e6f22;

$color-dark-yellow: rgba(234, 165, 51, 0.1);

$color-dark-green: rgba(88, 189, 136, 0.1);
$color-dark-green-hover: rgba(0, 148, 102, 0.15);
$color-dark-green-active: rgba(0, 122, 84, 0.3);

$color-dark-white: rgba(238, 239, 239, 0.1);
$color-dark-white-hover: rgba(202, 220, 214, 0.2);
$color-dark-white-active: rgba(186, 207, 200, 0.3);

$color-dark-red: rgba(218, 52, 67, 0.1);
$color-dark-red-hover: rgba(166, 40, 51, 0.25);
$color-dark-red-active: rgba(140, 33, 43, 0.4);

$color-modal-bg: #252827;
$color-progress-line: #555550;
