@import "./variables";

@mixin breakpoint($point) {
  @if $point == "mobile" {
    @media (min-width: 0) and (max-width: $media-mobile-max-width) {
      @content;
    }
  } @else if $point == "tablet" {
    @media (min-width: ($media-mobile-max-width + 1)) and (max-width: $media-tablet-max-width) {
      @content;
    }
  } @else if $point == "laptop" {
    @media (min-width: ($media-tablet-max-width + 1)) and (max-width: $media-laptop-max-width) {
      @content;
    }
  }
}

@mixin setSvgColor($color) {
  path {
    fill: $color;
  }
}

@mixin transition($property, $time: 0.5s, $easing: ease-in-out) {
  transition: $property $time $easing;
  -o-transition: $property $time $easing;
  -moz-transition: $property $time $easing;
  -webkit-transition: $property $time $easing;
}
