// FONTS
$font-regular: "IBM Plex Sans Regular", sans-serif;
$font-semi-bold: "IBM Plex Sans Semibold", sans-serif;

$font-hero: 40px/48px $font-semi-bold;
$font-title: 32px/40px $font-semi-bold;
$font-subtitle: 24px/32px $font-semi-bold;
$font-body-bold: 16px/24px $font-semi-bold;
$font-body: 16px/24px $font-regular;
$font-placeholder-bold: 14px/24px $font-semi-bold;
$font-placeholder: 14px/24px $font-regular;

// MEDIA-QUERIES
$media-mobile-max-width: 767px;
$media-tablet-max-width: 1023px;
$media-laptop-max-width: 1440px;

$max-content-width: 1400px;

$padding-desktop: 80px;
$padding-tablet: 40px;
$padding-mobile: 16px;

$margin-desktop: 40px;
$margin-mobile: 24px;

$gap-big: 40px;
$gap-medium: 24px;
$gap-small: 16px;
$gap-smallest: 8px;
