$font-regular: "IBM Plex Sans Regular", sans-serif;
$font-semi-bold: "IBM Plex Sans Semibold", sans-serif;

$color-primary-white: #f8ebdf;
$color-primary-grey: #8a8a8a;

$media-mobile-max-width: 768px;
$media-tablet-max-width: 1439px;
