.frame-3699 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 93px;
}
.frame-36992 {
  left: 24px;
  top: 360px;
}
.mentors {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
