.frame-2813 {
  height: 24px;
  left: 40px;
  position: relative;
  top: 24px;
  width: 135px;
}
.frame-2957 {
  height: 72px;
  left: 0px;
  position: absolute;
  top: 564px;
  width: 728px;
}
.no-comments-yet {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
