.book {
  height: 24px;
  position: relative;
  width: 24px;
}
.book2 {
  left: 0px;
  position: absolute;
  top: 0px;
}
.vector-163 {
  height: 18.75%;
  left: 12.50%;
  position: absolute;
  top: 66.67%;
  width: 75.00%;
}
.vector-173 {
  height: 91.67%;
  left: 12.50%;
  position: absolute;
  top: 4.17%;
  width: 75.00%;
}
