.frame-19394 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 1112px;
}
.frame-3019 {
  height: 72px;
  left: 50px;
  position: absolute;
  top: 40px;
  width: 65px;
}
.frame-3023 {
  height: 72px;
  left: 826px;
  opacity: 0.2;
  position: absolute;
  top: 40px;
  width: 70px;
}
.rectangle-317 {
  background-color: var(--caribbean-green);
  height: 1px;
  left: 101px;
  position: absolute;
  top: 59px;
  width: 155px;
}
.rectangle-317-1 {
  background-color: var(--caribbean-green);
  height: 1px;
  left: 295px;
  opacity: 0.2;
  position: absolute;
  top: 59px;
  width: 155px;
}
.rectangle-317-2 {
  background-color: var(--caribbean-green);
  height: 1px;
  left: 489px;
  opacity: 0.2;
  position: absolute;
  top: 59px;
  width: 155px;
}
.rectangle-317-3 {
  background-color: var(--caribbean-green);
  height: 1px;
  left: 683px;
  opacity: 0.2;
  position: absolute;
  top: 59px;
  width: 155px;
}
.text-70 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 48px;
  white-space: nowrap;
}
