.chevrons-right-1 {
  height: 24px;
  left: 4px;
  position: relative;
  top: 4px;
  transform: rotate(-180deg);
  width: 24px;
}
.frame-2303 {
  background-color: var(--caribbean-green);
  border-radius: 100px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.15);;
  height: 32px;
  left: 64px;
  overflow: hidden;
  position: absolute;
  top: 179px;
  transform: rotate(180deg);
  width: 32px;
}
.frame-230310 {
  left: 231px;
  top: 172px;
}
.frame-230311 {
  left: 231px;
  top: 172px;
}
.frame-230312 {
  left: 231px;
  top: 172px;
}
.frame-230313 {
  left: 231px;
  top: 172px;
}
.frame-230314 {
  left: 231px;
  top: 172px;
}
.frame-230315 {
  left: 231px;
  top: 172px;
}
.frame-230316 {
  left: 231px;
  top: 172px;
}
.frame-230317 {
  left: 231px;
  top: 172px;
}
.frame-230318 {
  left: 231px;
  top: 172px;
}
.frame-230319 {
  left: 231px;
  top: 172px;
}
.frame-23032 {
  left: 231px;
  top: 172px;
}
.frame-230320 {
  left: 231px;
  top: 172px;
}
.frame-230321 {
  left: 231px;
  top: 172px;
}
.frame-230322 {
  left: 231px;
  top: 172px;
}
.frame-230323 {
  left: 231px;
  top: 172px;
}
.frame-230324 {
  left: 231px;
  top: 172px;
}
.frame-230325 {
  left: 231px;
  top: 172px;
}
.frame-230326 {
  left: 231px;
  top: 172px;
}
.frame-230327 {
  left: 231px;
  top: 172px;
}
.frame-230328 {
  left: 231px;
  top: 172px;
}
.frame-230329 {
  left: 231px;
  top: 172px;
}
.frame-23033 {
  left: 231px;
  top: 172px;
}
.frame-230330 {
  left: 231px;
  top: 172px;
}
.frame-230331 {
  left: 231px;
  top: 172px;
}
.frame-230332 {
  left: 231px;
  top: 172px;
}
.frame-230333 {
  left: 231px;
  top: 172px;
}
.frame-230334 {
  left: 231px;
  top: 172px;
}
.frame-230335 {
  left: 231px;
  top: 172px;
}
.frame-23034 {
  left: 231px;
  top: 172px;
}
.frame-23035 {
  left: 231px;
  top: 172px;
}
.frame-23036 {
  left: 231px;
  top: 172px;
}
.frame-23037 {
  left: 231px;
  top: 172px;
}
.frame-23038 {
  left: 231px;
  top: 172px;
}
.frame-23039 {
  left: 231px;
  top: 172px;
}
.vector-183 {
  height: 50.00%;
  left: 50.00%;
  position: absolute;
  top: 25.00%;
  width: 29.17%;
}
.vector-193 {
  height: 50.00%;
  left: 20.83%;
  position: absolute;
  top: 25.00%;
  width: 29.17%;
}
