
.avatar {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 100px;
    height: 48px;
    margin-left: 35px;
    width: 48px;
}
.avatar-icons {
  align-items: center;
  display: flex;
  margin-left: 40px;
  min-width: 166px;
}
.bell-outline {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 35px;
  padding: 1.7px 3px;
  width: 24px;
}
.account__navbar {
  align-items: flex-start;
  display: flex;
  margin-left: 578px;
  min-width: 137px;
}
.navbar {
  align-items: center;
  display: flex;
  height: 80px;
  width: 1112px;
}
.email-outline {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}
.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.title_text_white_24px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.email_group {
  height: 16px;
  position: relative;
  width: 20px;
}
.bell__group {
  height: 20px;
  position: relative;
  width: 18px;
}
.navbar__person-outline-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 24px;
  padding: 3px 0;
  width: 24px;
}
.navbar__person__image{
  height: 20px;
  width: 20px;
}
.title__navbar {
  letter-spacing: 0px;
  line-height: 32px;
  min-height: 32px;
  min-width: 191px;
  white-space: nowrap;
}
.myAccount__navbar {
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.vector {
  height: 1px;
  width: 1px;
}
.vector-1 {
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.vector-2 {
  height: 1px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.vector-3 {
  height: 1px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 1px;
}
.vector-4 {
  height: 8px;
  margin-left: 0px;
  width: 8px;
}
.vector-5 {
  height: 16px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.vector-6 {
  height: 8px;
  width: 14px;
}
:root {
  --quarter-spanish-white: rgba(248, 235, 223, 1);
}
