.ellipse-232 {
  height: 16px;
  left: 20px;
  position: absolute;
  top: 4px;
  width: 16px;
}
.frame-2278 {
  background-color: var(--caribbean-green);
  border-radius: 18px;
  height: 24px;
  left: 181px;
  position: absolute;
  top: 0px;
  width: 40px;
}
