.video-input-container {
  width: 100%;
}

.text-area-variation {
  height: 100px;
  resize: none;
}

.button-delete {
  background-color: var(--cards);
  outline: none;
  border: none;
  color: var(--secondary-red);
  margin: 10px;
}

.trash-icon {
  height: 15px;
}

.button-cancel {
  background: var(--background-color-light);
  color: var(--primary-white);
  border-radius: 4px;
  height: 50px;
  outline: none;
  border: none;
  font-weight: bolder;
  width: 200px;
  margin-left: 20px;
}

.video-row-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-input-variation {
  width: 45%;
}

.description {
  display: flex;
  width: 50%;
  margin-bottom: 1em;
  margin-top: 0.8em;
  justify-content: space-between;
}

.photo-input-container {
  width: 100%;
}

.text-area-variation-2 {
  height: 300px;
}

.preview-image {
  width: 100px;
  height: 100px;
}

.enterprise-step {
  margin-left: 19px;
  margin-top: 18px;
  color:whitesmoke;
  font-size: 11px;
  width: 50%;
}
