.video-input-container {
  width: 100%;
}

.text-area-variation {
  height: auto !important;
  resize: none;
}

.button-delete {
  background-color: var(--cards);
  outline: none;
  border: none;
  color: var(--secondary-red);
  margin: 10px;
}

.trash-icon {
  height: 15px;
}

.button-cancel {
  background: var(--background-color-light);
  color: var(--primary-white);
  border-radius: 4px;
  height: 50px;
  outline: none;
  border: none;
  font-weight: bolder;
  width: 200px;
  margin-left: 20px;
}

.video-row-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.video-row-3 > input {
  width: 320px;
}

.video-row-3 > button {
  width: 168px;
}

.last-input-variation {
  width: 45%;
}

.description {
  display: flex;
  width: 50%;
  margin-bottom: 1em;
  margin-top: 0.8em;
  justify-content: space-between;
}

.photo-input-container {
  width: 100%;
}

#text-area-variation-2 {
  height: 300px;
  resize: none;
}

.preview-image {
  width: 100px;
  height: 100px;
}

.enterprise-step {
  margin-left: 19px;
  margin-top: 18px;
  color: whitesmoke;
  font-size: 11px;
  width: 50%;
}
.errorMsg {
  color: var(--secondary-red);
  margin: 0.5em 0 1em 0;
  font-size: 1em;
}

.videoUploadBtn {
  color: transparent;
  width: 12.5em !important;
  border-radius: 4px;
  outline: none;
  padding: 1em;
  border: 0.5px solid var(--primary-white);
  background: var(--background-color-light);
  outline: none;
}
.videoUploadBtn::-webkit-file-upload-button {
  display: none;
}
.videoUploadBtn::before {
  content: 'Choose video';
  color: var(--primary-white);
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .video-row-3 {
    flex-wrap: wrap;
    text-align: center;
  }
  .video-row-3 > input,
  span {
    width: 100% !important;
    margin: 0.5em 0;
  }

  .videoUploadBtn::before {
    width: 90%;
  }
}
