.frame-1951-115 {
  height: 48px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-195117 {
  border-radius: 100px;
  height: 48px;
  left: 118px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-195417 {
  height: 80px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 1112px;
}
.frame-197316 {
  height: 48px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 24px);
  width: 166px;
}
.frame-284817 {
  height: 24px;
  position: absolute;
  right: 206px;
  top: 28px;
  width: 137px;
}
.ragrarians-i1511233 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  top: calc(50.00% - 16px);
  white-space: nowrap;
}
.text-734 {
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
