@import "src/scss/mixins";
@import "src/scss/variables";

.side-nav-link {
  width: 248px;
  height: 56px;
  padding: 0px 24px;
  overflow: hidden;

  display: flex;
  align-items: center;
  flex-direction: row;

  color: #eeefef;
  font: $font-body-bold;

  .icon-container {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    @include transition(margin-right, 0.5s, ease-in-out);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    .avatar-container {
      width: 24px;
      height: 24px;
      border-radius: 32px;

      .person-icon {
        width: 18px;
        height: 18px;
      }
    }

    svg {
      path {
        stroke: #eeefef;
      }
    }

    .users-icon {
      @include setSvgColor(#eeefef);
    }

    .graduation-cap-icon {
      @include setSvgColor(#eeefef);
    }

    .calendar-icon {
      @include setSvgColor(#eeefef);
    }

    .email-icon {
      @include setSvgColor(#eeefef);
    }

    .grid-icon {
      @include setSvgColor(#eeefef);
    }
  }

  &-active {
    color: #58bd88;

    .icon-container {
      svg {
        path {
          stroke: #58bd88;
        }
      }

      .users-icon {
        @include setSvgColor(#58bd88);
      }

      .graduation-cap-icon {
        @include setSvgColor(#58bd88);
      }

      .calendar-icon {
        @include setSvgColor(#58bd88);
      }

      .email-icon {
        @include setSvgColor(#58bd88);
      }

      .grid-icon {
        @include setSvgColor(#58bd88);
      }
    }
  }

  &-compact {
    color: transparent !important;

    .icon-container {
      margin-right: 0px;
    }
  }

  &:hover:not(.active) {
    color: #cadcd6;

    svg {
      path {
        stroke: #cadcd6;
      }
    }

    .users-icon {
      @include setSvgColor(#cadcd6);
    }

    .graduation-cap-icon {
      @include setSvgColor(#cadcd6);
    }

    .calendar-icon {
      @include setSvgColor(#cadcd6);
    }

    .email-icon {
      @include setSvgColor(#cadcd6);
    }

    .grid-icon {
      @include setSvgColor(#cadcd6);
    }
  }

  @include breakpoint("tablet", "max") {
    width: 100%;
    padding: 0px 16px;
  }
}
