.frame-28942 {
  height: 56px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-28952 {
  height: 56px;
  left: 314px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-28962 {
  height: 56px;
  left: 471px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-28982 {
  height: 56px;
  left: 785px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-28992 {
  height: 56px;
  left: 942px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.frame-29002 {
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1099px;
}
.fri2 {
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.mon2 {
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.s-at2 {
  left: 63px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.tue2 {
  left: 62px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
.wed {
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}
