.frame-2032 {
  left: 632px;
  top: 158px;
}
.frame-20322 {
  left: 632px;
  top: 158px;
}
.frame-2033 {
  left: 790px;
  top: 158px;
}
.frame-20332 {
  left: 790px;
  top: 158px;
}
.frame-2037 {
  background-color: var(--licorice);
  height: 158px;
  left: 316px;
  position: absolute;
  top: 316px;
  width: 158px;
}
