.cars-industry2 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.farming3 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.frame-29152 {
  background-color: var(--licorice);
  border-radius: 4px;
  height: 280px;
  left: 1056px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  width: 344px;
}
.frame-29164 {
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 93px;
}
.frame-29174 {
  border-radius: 4px;
  height: 48px;
  left: 135px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 84px;
}
.frame-29182 {
  border-radius: 4px;
  height: 48px;
  left: 236px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  width: 83px;
}
.frame-29192 {
  border-radius: 4px;
  height: 48px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 144px;
  width: 131px;
}
.frame-29202 {
  border-radius: 4px;
  height: 48px;
  left: 175px;
  overflow: hidden;
  position: absolute;
  top: 144px;
  width: 121px;
}
.frame-29212 {
  height: 72px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 344px;
}
.media-news2 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.nature2 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.people2 {
  left: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}
.see-all-topics2 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 232px;
  white-space: nowrap;
}
.text-87 {
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}
