.birthday {
  color: var(--monsoon);
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: calc(50.00% - 24px);
  white-space: nowrap;
}
.frame-97 {
  height: 48px;
  overflow: hidden;
  position: relative;
  width: 89px;
}
.frame-98 {
  left: 16px;
  position: absolute;
  top: 56px;
}
.phone {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 50.00%;
  white-space: nowrap;
}
