.frame-19806 {
  background-color: var(--licorice);
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.06);;
  height: 48px;
  left: 288px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 1112px;
}
.frame-2926-1 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  height: 184px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 184px;
}
.frame-2928 {
  height: 24px;
  left: 0px;
  position: absolute;
  top: 248px;
  width: 100px;
}
.frame-2930 {
  height: 272px;
  left: 288px;
  position: absolute;
  top: 184px;
  width: 184px;
}
.frame-2931 {
  height: 272px;
  left: 520px;
  position: absolute;
  top: 184px;
  width: 184px;
}
.frame-2932 {
  height: 272px;
  left: 752px;
  position: absolute;
  top: 184px;
  width: 184px;
}
.frame-2933 {
  height: 272px;
  left: 984px;
  position: absolute;
  top: 184px;
  width: 184px;
}
.frame-2934 {
  height: 272px;
  left: 1216px;
  position: absolute;
  top: 184px;
  width: 184px;
}
.frame-2935 {
  height: 272px;
  left: 288px;
  position: absolute;
  top: 504px;
  width: 184px;
}
.frame-2936 {
  height: 272px;
  left: 520px;
  position: absolute;
  top: 504px;
  width: 184px;
}
.frame-2937 {
  height: 272px;
  left: 752px;
  position: absolute;
  top: 504px;
  width: 184px;
}
.frame-2938 {
  height: 272px;
  left: 984px;
  position: absolute;
  top: 504px;
  width: 184px;
}
.frame-2939 {
  height: 272px;
  left: 1216px;
  position: absolute;
  top: 504px;
  width: 184px;
}
.x81community-members {
  background-color: rgba(0,0,0,1.0);
  height: 100vh;
  min-height: 1024px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
