.eye-outline-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.layer-224 {
  height: 24px;
  position: relative;
  width: 24px;
}
