.frame-19882 {
  background-color: var(--caribbean-green);
  border-radius: 4px;
  height: 32px;
  left: 44px;
  position: relative;
  top: 8px;
  width: 70px;
}
.frame-2038 {
  background-color: var(--licorice);
  height: 158px;
  left: 474px;
  position: absolute;
  top: 316px;
  width: 158px;
}
.frame-3678 {
  height: 32px;
  position: relative;
}
.nov-16 {
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
