.frame-28015 {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}
.frame-28024 {
  height: 112px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 584px;
}
.frame-28122 {
  height: 112px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 648px;
}
.frame-29582 {
  height: 136px;
  left: 0px;
  position: absolute;
  top: 328px;
  width: 728px;
}
.name12 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.rectangle-87510 {
  background-color: var(--onyx);
  height: 1px;
  left: 40px;
  position: absolute;
  top: 135px;
  width: 648px;
}
.text-1016 {
  height: 48px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 32px;
  width: 586px;
}
.text-1017 {
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 88px;
  white-space: nowrap;
}
