@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,600|Inter:500,600");

* {
  box-sizing: border-box;
}

.border-1px-caribbean-green {
  border: 1px solid var(--caribbean-green);
}

.border-1px-onyx {
  border: 1px solid var(--onyx);
}

.border-1px-quarter-spanish-white {
  border: 1px solid var(--quarter-spanish-white);
}

.ibmplexsans-bold-caribbean-green-14px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.ibmplexsans-normal-ebb-14px {
  color: var(--ebb);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-monsoon-14px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-normal-onyx-14px {
  color: var(--onyx);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.ibmplexsans-semi-bold-caribbean-green-16px {
  color: var(--caribbean-green);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-monsoon-16px {
  color: var(--monsoon);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.ibmplexsans-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.inter-medium-monsoon-14px {
  color: var(--monsoon);
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-caribbean-green-16px {
  color: var(--caribbean-green);
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-quarter-spanish-white-16px {
  color: var(--quarter-spanish-white);
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.x08-0-0-community-members {
  align-items: flex-start;
  background-color: black;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.x08-0-0-community-members .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 1096px;
  width: 100%;
}

:root {
  --caribbean-green: rgba(0, 198, 136, 1);
  --ebb: rgba(227, 227, 227, 1);
  --licorice: rgba(20, 20, 20, 1);
  --monsoon: rgba(137, 137, 137, 1);
  --onyx: rgba(58, 57, 57, 1);
  --quarter-spanish-white: rgba(248, 235, 223, 1);
  --rusty-red: rgba(218, 52, 67, 1);
  --shark: rgba(43, 43, 44, 1);
  --shark-2: rgba(42, 42, 42, 1);
}
