.community-members {
  display: grid;
  width: 100%;
  margin-top: 2.5em;
}

.community-members-flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.community-members-grid-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
  grid-gap: 36px;
}

.search-container {
  width: 100%;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 1020px) {
  .search-container {
    width: 100%;
  }
}
