.community-members {
  display: grid;
  width: 97%;
  height: 80%;
  margin-top: 1.5em;
}

.community-members-flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 1096px;
  width: 100%;
}

.community-members-flex-row {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .community-members-flex-col {
    width: auto;
  }
}

@media only screen and (max-width: 1020px) {
  .search-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .community-members {
    display: flex;
    align-items: flex-start;
  }
}

.search-container {
  margin-bottom: 10px;
}
