@import "src/scss/mixins";
@import "src/scss/variables";

.auth-container {
  padding: 0px $padding-desktop;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-container {
    width: 50%;
    max-width: 560px;

    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: $margin-desktop;
    }

    .header {
      width: 100%;
      height: 72px;
      margin-bottom: $margin-desktop;

      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .inputs-container {
      gap: 24px;
      display: flex;
      flex-direction: column;
      margin-bottom: $margin-desktop;
    }

    .row-container {
      gap: 24px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .socials-container {
      width: 100%;
      margin-top: $margin-desktop;

      gap: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .footer {
      margin-top: $margin-desktop;

      gap: 8px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  .big-logo-container {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 481px;
    }
  }

  @include breakpoint("tablet") {
    overflow-y: scroll;
    padding: 0px $padding-tablet;

    .form-container {
      width: 100%;
      max-width: 100%;
      padding-bottom: $padding-mobile;
    }

    .big-logo-container {
      display: none;
    }
  }

  @include breakpoint("mobile") {
    overflow-y: scroll;
    padding: 0px $padding-mobile;

    .form-container {
      width: 100%;
      max-width: 100%;
      padding-bottom: $padding-mobile;

      h1 {
        margin-bottom: $margin-mobile;
      }

      .header {
        justify-content: center;
        margin-bottom: $margin-mobile;
      }

      .inputs-container {
        margin-bottom: $margin-mobile;
      }

      .row-container {
        flex-wrap: wrap;
      }
    }

    .big-logo-container {
      display: none;
    }
  }

  @include breakpoint("laptop") {
    .form-container {
      .header {
        margin-bottom: $margin-mobile;
      }

      .inputs-container {
        margin-bottom: $margin-mobile;
      }

      .socials-container {
        margin-top: $margin-mobile;
      }

      .footer {
        margin-top: $margin-mobile;
      }
    }
  }
}
