@import "src/scss/mixins";
@import "src/scss/variables";

.auth-container {
  padding: 0px $padding-desktop;

  flex: 1;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: red;

  .header {
    width: 100%;
    height: 72px;
    margin-bottom: $margin-desktop;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .content-container {
    width: 100%;
    // height: 100%;

    gap: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-container {
    width: 100%;

    display: flex;
    flex-direction: column;

    .title-container {
      margin-bottom: $margin-desktop;
      h4 {
        margin-top: 16px;
      }
    }

    // h1 {
    //   margin-bottom: $margin-desktop;
    // }

    .inputs-container {
      gap: 24px;
      display: flex;
      flex-direction: column;
      margin-bottom: $margin-desktop;
    }

    .row-container {
      gap: 24px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .terms-checkbox-container {
        display: flex;
        flex-direction: row;

        .link-container {
          display: flex;
          align-items: center;
          flex-direction: row;

          p {
            user-select: none;
            color: #f8ebdf;
            font: $font-body;
            margin-left: 10px;
            margin-right: 4px;
          }
        }
      }
    }

    .socials-container {
      width: 100%;
      margin-top: $margin-desktop;

      gap: 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .footer {
      margin-top: $margin-desktop;
      margin-bottom: 10px;

      gap: 8px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  .big-logo-container {
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 481px;
    }
  }

  @include breakpoint("tablet") {
    padding: 0px $padding-tablet;

    .content-container {
      .form-container {
        width: 100%;
        max-width: 100%;
        padding-bottom: $padding-mobile;
      }

      .big-logo-container {
        display: none;
      }
    }
  }

  @include breakpoint("mobile") {
    padding: 0px $padding-mobile;

    .header {
      justify-content: center;
      margin-bottom: $margin-mobile;
    }

    .content-container {
      .form-container {
        width: 100%;
        max-width: 100%;
        padding-bottom: $padding-mobile;

        .title-container {
          margin-bottom: $margin-mobile;
        }

        // h1 {
        //   margin-bottom: $margin-mobile;
        // }

        .inputs-container {
          margin-bottom: $margin-mobile;
        }

        .row-container {
          flex-wrap: wrap;
        }
      }

      .big-logo-container {
        display: none;
      }
    }
  }

  @include breakpoint("laptop") {
    .header {
      margin-bottom: $margin-mobile;
    }

    .content-container {
      .form-container {
        .inputs-container {
          margin-bottom: $margin-mobile;
        }

        .socials-container {
          margin-top: $margin-mobile;
        }

        .footer {
          margin-top: $margin-mobile;
        }
      }
    }
  }
}
